# Revolve Tatbletennis ELO ladder
# Author: Harald Lønsethagen
# Started: 28.08.2017

## Importing Libraries

In [141]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from datetime import datetime

## Defining usefull functions

In [142]:
def expected(A, B):
    """
    Calculate expected score of A in a match against B
    :param A: Elo rating for player A
    :param B: Elo rating for player B
    """
    return 1 / (1 + 10 ** ((B - A) / 400))


def elo(old, exp, score, k=32):
    """
    Calculate the new Elo rating for a player
    :param old: The previous Elo rating
    :param exp: The expected score for this match
    :param score: The actual score for this match
    :param k: The k-factor for Elo (default: 32)
    """
    return old + k * (score - exp)

## Importing all played matches

In [143]:
matches_df = pd.read_csv("matches.csv")
print("Matches: " + str(matches_df.shape[0]))
matches_df

Matches: 288

                Player 1             Player 2               Winner   timestamp
0           Paul Frivold        Robert Tamang        Robert Tamang  2017-09-08
1           Paul Frivold          Bo Woelfert          Bo Woelfert  2017-09-08
2                   Mons          Ole Andreas                 Mons  2017-09-09
3                   Mons             Eirik B.                 Mons  2017-09-09
4                   Mons             Eirik B.                 Mons  2017-09-09
5           Paul Frivold                 Dino         Paul Frivold  2017-09-09
6           Paul Frivold                 Mons                 Mons  2017-09-09
7            Bo Woelfert                 Dino          Bo Woelfert  2017-09-09
8                  Jakob                 Mons                 Mons  2017-09-10
9                   Mons               Yohann                 Mons  2017-09-10
10                Didrik          Bo Woelfert          Bo Woelfert  2017-09-10
11         Robert Tamang        Magnus Leinam        Robert Tamang  2017-09-11
12                Didrik          Bo Woelfert          Bo Woelfert  2017-09-11
13                  Mons             Thomas H                 Mons  2017-09-11
14              Thomas H            Fredrik C             Thomas H  2017-09-11
15             Fredrik C         Kristoffer H            Fredric C  2017-09-11
16                Didrik          Bo Woelfert               Didrik  2017-09-11
17                Didrik               Sondre               Didrik  2017-09-11
18                  Dino          Sondre N.A.          Sondre N.A.  2017-09-12
19                Yohann                 Mons               Yohann  2017-09-12
20         Robert Tamang                 Even        Robert Tamang  2017-09-12
21                Didrik          Bo Woelfert               Didrik  2017-09-12
22                Didrik         Paul Frivold               Didrik  2017-09-12
23                 Amund             Thomas F                Amund  2017-09-13
24                Didrik          Bo Woelfert          Bo Woelfert  2017-09-14
25           Sondre N.A.                 Dino          Sondre N.A.  2017-09-17
26             Odin A.S.  Fabian S. Rønningen  Fabian S. Rønningen  2017-09-18
27                Didrik          Bo Woelfert               Didrik  2017-09-19
28                Didrik          Bo Woelfert          Bo Woelfert  2017-09-19
29         Robert Tamang        Magnus Leinam        Robert Tamang  2017-09-19
..                   ...                  ...                  ...         ...
258        Robert Tamang                 Mats        Robert Tamang  2017-10-18
259         Paul Frivold              Mathias         Paul Frivold  2017-10-18
260          Ole Andreas         Kristoffer H          Ole Andreas  2017-10-18
261                Eirik               Anders                Eirik  2017-10-18
262            Fredrik C         Kristoffer H         Kristoffer H  2017-10-18
263            Fredrik C         Kristoffer H         Kristoffer H  2017-10-18
264             Håkon M.             Thomas O             Thomas O  2017-10-18
265          Ole Andreas         Kristoffer H          Ole Andreas  2017-10-18
266          Ole Andreas         Kristoffer H          Ole Andreas  2017-10-18
267                 Mons         Kristoffer H                 Mons  2017-10-18
268         Kristoffer H             Eirik B.         Kristoffer H  2017-10-18
269          Ole Andreas         Kristoffer H         Kristoffer H  2017-10-18
270         Kristoffer H          Ole Andreas          Ole Andreas  2017-10-18
271               Marcus                 Emil               Marcus  2017-10-18
272        Robert Tamang                 Mats        Robert Tamang  2017-10-19
273        Robert Tamang                 Mats        Robert Tamang  2017-10-19
274           Ole Marius                 Mats           Ole Marius  2017-10-19
275        Robert Tamang                 Mats        Robert Tamang  2017-10-19
276               Anders                 Mats                 Mats  2017-10-20
277   Harald Lønsethagen             Cornelia   Harald Lønsethagen  2017-10-20
278         Kristoffer H            Fredrik C            Fredric C  2017-10-21
279           Andreas B.            Odin A.S.           Andreas B.  2017-10-21
280           Andreas B.          Magnus K.B.           Andreas B.  2017-10-21
281  Fabian S. Rønningen               Henrik  Fabian S. Rønningen  2017-10-21
282                Eirik               Anders                Eirik  2017-10-21
283                Eirik               Anders                Eirik  2017-10-21
284               Didrik          Bo Woelfert          Bo Woelfert  2017-10-21
285         Kristoffer H            Fredrik C         Kristoffer H  2017-10-21
286         Kristoffer H            Fredrik C            Fredric C  2017-10-21
287               Didrik          Bo Woelfert               Didrik  2017-10-21

[288 rows x 4 columns]

## Importing all players

In [144]:
players_df = pd.read_csv("players.csv")
print("Players: " + str(players_df.shape[0]))
players_df

Players: 53

             first_name   last_name  short_name  joined_date   id
0                 Amund         NaN          rt     17-09-08    1
1                Anders         NaN         mbe     17-09-08    2
2            Andreas B.         NaN         NaN     17-09-07    3
3            Andreas H.         NaN         NaN     17-09-06    4
4           Bo Woelfert         NaN         NaN     17-09-06    5
5                Didrik         NaN         NaN     17-09-04    6
6                  Dino         NaN         NaN     17-09-03    7
7              Eirik B.         NaN         NaN     17-09-02    8
8                  Even         NaN         NaN     17-09-02    9
9   Fabian S. Rønningen         NaN         NaN     17-09-01   10
10            Fredrik C         NaN         NaN     17-09-22   11
11                Jakob         NaN         NaN     17-09-21   12
12                 John         NaN         NaN     17-09-20   13
13         Kristoffer H         NaN         NaN     17-09-19   14
14                Lasse         NaN         NaN     17-09-18   15
15          Magnus G.L.         NaN         NaN     17-09-17   16
16        Magnus Leinam         NaN         NaN     17-09-16   17
17               Marcus         NaN         NaN     17-09-15   18
18              Mathias         NaN         NaN     17-09-14   19
19                 Mons         NaN         NaN     17-09-13   20
20            Odin A.S.         NaN         NaN     17-09-12   21
21          Ole Andreas         NaN         NaN     17-09-11   22
22              Øystein         NaN         NaN     17-09-10   23
23            Øyvind S.         NaN         NaN      17-09-9   24
24        Robert Tamang         NaN         NaN      17-09-8   25
25               Sondre         NaN         NaN      17-09-7   26
26          Sondre N.A.         NaN         NaN      17-09-6   27
27             Thomas F         NaN         NaN      17-09-5   28
28             Thomas H         NaN         NaN      17-09-3   29
29               Yohann         NaN         NaN      17-09-2   30
30         Paul Frivold         NaN         NaN      17-09-2   31
31               Henrik         NaN         NaN      17-09-2   32
32             Thomas O         NaN         NaN     17-09-24   33
33                 Aida         NaN         NaN     17-09-24   34
34             Cornelia         NaN         NaN     17-09-24   35
35   Harald Lønsethagen         NaN         NaN     17-09-25   36
36              Martine         NaN         NaN     17-09-26   37
37                Eirik         NaN         NaN     17-09-28   38
38                Sisse         NaN         NaN     17-09-28   39
39          Magnus K.B.         NaN         NaN     17-09-27   40
40          Magnus Aero         NaN         NaN     17-10-03   41
41           Håkon Aero         NaN         NaN     17-10-03   42
42             Edvard N         NaN         NaN     17-10-02   43
43            Lars Erik         NaN         NaN     17-10-03   44
44                 Mats         NaN         NaN     17-10-03   45
45                Aksel         NaN         NaN     17-10-03   46
46                 Hans         NaN         NaN     17-10-03   47
47                Truls         NaN         NaN     17-10-03   48
48             Håkon M.         NaN         NaN     17-10-03   49
49           Ole Marius         NaN         NaN     17-10-18   50
50                  Mia         NaN         NaN     17-10-10   51
51                 Emil         NaN         NaN     17-10-14   52
52    Sondre Midtskogen         NaN         NaN     17-10-15   53

## ELO-ladder Dataframe containing the ELO-score to each player

In [145]:
elo_df = players_df
elo_df['elo'] = 1000
elo_df['matches_played'] = 0
elo_df['wins'] = 0
elo_df['losses'] = 0
elo_df['win_rate'] = 0.1321321321
print("Size of ELO-df: " + str(elo_df.shape[0]))
elo_df.head()

Size of ELO-df: 53

,first_name,last_name,short_name,joined_date,id,elo,matches_played,wins,losses,win_rate
0,Amund,NaN,rt,17-09-08,1,1000,0,0,0,0.132132
1,Anders,NaN,mbe,17-09-08,2,1000,0,0,0,0.132132
2,Andreas B.,NaN,NaN,17-09-07,3,1000,0,0,0,0.132132
3,Andreas H.,NaN,NaN,17-09-06,4,1000,0,0,0,0.132132
4,Bo Woelfert,NaN,NaN,17-09-06,5,1000,0,0,0,0.132132

In [146]:
# New df for plotting
players_df
plott_df = players_df.set_index("first_name").T
plott_df["time"] = 0
plott_df = plott_df.reset_index()
append_df = pd.DataFrame([["2017-09-08"]], columns=["time"])
plott_df = plott_df.append(append_df)
plott_df = plott_df.iloc[-1:]
plott_df

,Aida,Aksel,Amund,Anders,Andreas B.,Andreas H.,Bo Woelfert,Cornelia,Didrik,Dino,...,Sondre N.A.,Thomas F,Thomas H,Thomas O,Truls,Yohann,index,time,Øystein,Øyvind S.
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-08,NaN,NaN

# Function for calculating ELO

In [147]:
matches_df.iloc(1)[0]

Player 1      Paul Frivold
Player 2     Robert Tamang
Winner       Robert Tamang
timestamp       2017-09-08
Name: 0, dtype: object

In [148]:
biggest_upset_win_increase = 0
biggest_upset_loss_decrease = 0
biggest_upset_player_win = ""
biggest_upset_player_loss = ""
biggest_upset_player_date = ""
last_date = matches_df.iloc[0]['timestamp']

length = matches_df.shape[0]
print("Number of matches: " + str(length) + "\n")
for i in range(length):
    match = matches_df.iloc[i]
    #print(str(i) +": " + str(match['Player 1']) + " - " + str(match['Player 2']))
    player_1 = match["Player 1"]
    player_2 = match["Player 2"]
    elo_rating_a = elo_df[elo_df['first_name'] == player_1]['elo']
    elo_rating_b = elo_df[elo_df['first_name'] == player_2]['elo']
    
    if(elo_rating_a.shape[0] == 0):
        print("========================================================================")
        print("Player named '" + str(player_1) + "' is NOT FOUND in the player database. ")
        print("========================================================================")
        break
    if(elo_rating_b.shape[0] == 0):
        print("========================================================================")
        print("Player named '" + str(player_2) + "' is NOT FOUND in the player database. ")
        print("========================================================================")
        break
    elo_rating_a = int(elo_rating_a.values[0])
    elo_rating_b = int(elo_rating_b.values[0])
    
    
    if(match['Winner'] == player_1): 
        winner_a = 1
        winner_b = 0
    else:
        winner_a = 0
        winner_b = 1
    expected_a  = expected(elo_rating_a, elo_rating_b)
    expected_b  = expected(elo_rating_b, elo_rating_a)
    
    new_elo_a = elo(elo_rating_a, expected_a, winner_a, k = 50)
    new_elo_b = elo(elo_rating_b, expected_b, winner_b, k = 50)
    
    if new_elo_a - elo_rating_a > biggest_upset_win_increase:
        # New biggest upset detected
        biggest_upset_win_increase = round(new_elo_a - elo_rating_a,2)
        biggest_upset_loss_decrease = round(elo_rating_b - new_elo_b,2)
        biggest_upset_player_win = player_1
        biggest_upset_player_loss = player_2
        biggest_upset_player_date = match["timestamp"]
    elif new_elo_b - elo_rating_b > biggest_upset_win_increase:
        # New biggest upset detected
        biggest_upset_win_increase = round(new_elo_b - elo_rating_b, 2)
        biggest_upset_loss_decrease = round(elo_rating_a - new_elo_a,2)
        biggest_upset_player_win = player_2
        biggest_upset_player_loss = player_1
        biggest_upset_player_date = match["timestamp"]
        
    
    #print("New elo a: " + str(new_elo_a))
    #print("New elo b: " + str(new_elo_b))
    #print("Player 1: '" + player_1 + "'. Old elo: " + str(elo_rating_a) + "'. New elo: " + str(new_elo_a) + ". exp: " + str(expected_a) + " " )
    #print("Player 1: '" + player_2 + "'. Old elo: " + str(elo_rating_b) + "'. New elo: " + str(new_elo_b) + ". exp: " + str(expected_b) + " " )
    elo_df = elo_df.set_index('first_name')
    elo_df = elo_df.set_value(player_1, 'elo', new_elo_a + 1)
    elo_df = elo_df.set_value(player_2, 'elo', new_elo_b + 1)
    elo_df = elo_df.reset_index()
    
    # plotting df updates
    current_date = match['timestamp']
    if last_date == current_date:
        plott_df = plott_df.set_index("time")
        plott_df.set_value(match['timestamp'], player_1, new_elo_a)
        plott_df.set_value(match['timestamp'], player_2, new_elo_b)
        plott_df = plott_df.reset_index()
    else:
        append_df = pd.DataFrame([[match['timestamp']]], columns=["time"])
        plott_df = plott_df.append(append_df)
        plott_df = plott_df.set_index("time")
        plott_df.set_value(match['timestamp'], player_1, new_elo_a)
        plott_df.set_value(match['timestamp'], player_2, new_elo_b)
        plott_df = plott_df.reset_index()
        last_date = current_date
        
    
plott_df = plott_df.fillna(method="ffill")
elo_df.head()

Number of matches: 288

,first_name,last_name,short_name,joined_date,id,elo,matches_played,wins,losses,win_rate
0,Amund,NaN,rt,17-09-08,1,980,0,0,0,0.132132
1,Anders,NaN,mbe,17-09-08,2,939,0,0,0,0.132132
2,Andreas B.,NaN,NaN,17-09-07,3,1186,0,0,0,0.132132
3,Andreas H.,NaN,NaN,17-09-06,4,1026,0,0,0,0.132132
4,Bo Woelfert,NaN,NaN,17-09-06,5,1095,0,0,0,0.132132

In [149]:
plott_df

,time,Aida,Aksel,Amund,Anders,Andreas B.,Andreas H.,Bo Woelfert,Cornelia,Didrik,...,Sondre Midtskogen,Sondre N.A.,Thomas F,Thomas H,Thomas O,Truls,Yohann,index,Øystein,Øyvind S.
0,2017-09-08,NaN,NaN,NaN,NaN,NaN,NaN,1023.28,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-09-09,NaN,NaN,NaN,NaN,NaN,NaN,1045.29,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-09-10,NaN,NaN,NaN,NaN,NaN,NaN,1067.71,NaN,978.291,...,NaN,NaN,NaN,NaN,NaN,NaN,982.53,NaN,NaN,NaN
3,2017-09-11,NaN,NaN,NaN,NaN,NaN,NaN,1053.31,NaN,1020.36,...,NaN,NaN,NaN,1010.15,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-09-12,NaN,NaN,NaN,NaN,NaN,NaN,1026.63,NaN,1068,...,NaN,1021.5,NaN,NaN,NaN,NaN,1018.76,NaN,NaN,NaN
5,2017-09-13,NaN,NaN,1025,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,975,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-09-14,NaN,NaN,NaN,NaN,NaN,NaN,1055.01,NaN,1040.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-09-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1040.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2017-09-19,NaN,NaN,NaN,NaN,NaN,NaN,1057.72,NaN,1040.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-09-21,NaN,NaN,NaN,NaN,NaN,NaN,1102.45,NaN,997.554,...,NaN,1020.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-09-22,NaN,NaN,NaN,1025.36,NaN,NaN,1070.67,NaN,1030.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,972.277,NaN
13,2017-09-23,NaN,NaN,1004.22,NaN,994.263,1025,1092.78,NaN,1035.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,989.723,975
14,2017-09-24,975,NaN,1005.75,1044.67,NaN,NaN,1100.62,1025,1084.58,...,NaN,NaN,NaN,NaN,1021.92,NaN,NaN,NaN,NaN,NaN
15,2017-09-25,NaN,NaN,987.67,1076.24,1012.54,NaN,1140.63,1008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-09-26,NaN,NaN,NaN,1051.24,1055.01,NaN,1162.01,NaN,1033.76,...,NaN,987.185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2017-09-27,NaN,NaN,NaN,NaN,NaN,NaN,1120.93,NaN,994.508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-09-28,NaN,NaN,NaN,1060.6,1074.36,NaN,1088.93,NaN,1015.52,...,NaN,1012.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2017-10-01,NaN,NaN,NaN,NaN,1082.4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2017-10-02,NaN,NaN,1020.07,1025.25,1104.64,NaN,1056.93,NaN,NaN,...,NaN,983.063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,953.652
22,2017-10-03,NaN,975,1016.3,NaN,1122.67,NaN,1093.7,NaN,959.97,...,NaN,NaN,NaN,NaN,NaN,974.065,1065.29,NaN,NaN,NaN
23,2017-10-04,NaN,954.573,NaN,NaN,NaN,NaN,NaN,NaN,942.399,...,NaN,960.294,NaN,1018.25,981.719,NaN,1083.6,NaN,NaN,NaN
24,2017-10-05,NaN,NaN,997.452,NaN,1129.51,NaN,1113.55,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1051.93,NaN,NaN,NaN
25,2017-10-07,NaN,NaN,NaN,NaN,1135.48,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-10-08,NaN,NaN,1009.29,NaN,NaN,NaN,1127.6,NaN,929.399,...,NaN,NaN,NaN,NaN,923.177,NaN,NaN,NaN,NaN,NaN
27,2017-10-09,NaN,NaN,979.229,1044.81,NaN,NaN,1131.01,NaN,NaN,...,NaN,NaN,NaN,1053.99,NaN,NaN,NaN,NaN,NaN,NaN
28,2017-10-10,979.503,NaN,NaN,NaN,NaN,NaN,1093.91,NaN,968.092,...,NaN,957.075,NaN,NaN,888.951,NaN,NaN,NaN,NaN,NaN
29,2017-10-11,NaN,NaN,NaN,1057.38,1162.01,NaN,NaN,NaN,1001.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2017-10-12,997.274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2017-10-13,NaN,NaN,NaN,NaN,1170.15,NaN,NaN,NaN,NaN,...,NaN,962.644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2017-10-14,NaN,NaN,NaN,NaN,1142.3,NaN,1110.69,NaN,NaN,...,NaN,NaN,NaN,1076.63,NaN,NaN,NaN,NaN,NaN,NaN
33,2017-10-15,NaN,NaN,NaN,1015.1,1149.84,NaN,NaN,NaN,NaN,...,961.444,1009.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2017-10-16,NaN,NaN,NaN,NaN,1163,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1074.14,NaN,NaN,NaN,NaN,NaN,NaN
35,2017-10-17,NaN,NaN,NaN,1035.21,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1089.41,NaN,NaN,NaN,NaN,NaN,NaN
36,2017-10-18,NaN,NaN,NaN,1008.85,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,921.791,NaN,NaN,NaN,NaN,NaN
37,2017-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2017-10-20,NaN,NaN,NaN,977.396,NaN,NaN,NaN,994.704,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2017-10-21,NaN,NaN,NaN,938.937,1185.07,NaN,1094.19,NaN,1019.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
plott_df = plott_df.fillna(method="ffill")
plott_df

,time,Aida,Aksel,Amund,Anders,Andreas B.,Andreas H.,Bo Woelfert,Cornelia,Didrik,...,Sondre Midtskogen,Sondre N.A.,Thomas F,Thomas H,Thomas O,Truls,Yohann,index,Øystein,Øyvind S.
0,2017-09-08,NaN,NaN,NaN,NaN,NaN,NaN,1023.275803,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-09-09,NaN,NaN,NaN,NaN,NaN,NaN,1045.285990,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-09-10,NaN,NaN,NaN,NaN,NaN,NaN,1067.709240,NaN,978.290760,...,NaN,NaN,NaN,NaN,NaN,NaN,982.530231,NaN,NaN,NaN
3,2017-09-11,NaN,NaN,NaN,NaN,NaN,NaN,1053.311191,NaN,1020.359754,...,NaN,NaN,NaN,1010.150479,NaN,NaN,982.530231,NaN,NaN,NaN
4,2017-09-12,NaN,NaN,NaN,NaN,NaN,NaN,1026.632574,NaN,1068.002932,...,NaN,1021.497359,NaN,1010.150479,NaN,NaN,1018.762638,NaN,NaN,NaN
5,2017-09-13,NaN,NaN,1025.000000,NaN,NaN,NaN,1026.632574,NaN,1068.002932,...,NaN,1021.497359,975.0,1010.150479,NaN,NaN,1018.762638,NaN,NaN,NaN
6,2017-09-14,NaN,NaN,1025.000000,NaN,NaN,NaN,1055.007507,NaN,1040.992493,...,NaN,1021.497359,975.0,1010.150479,NaN,NaN,1018.762638,NaN,NaN,NaN
7,2017-09-17,NaN,NaN,1025.000000,NaN,NaN,NaN,1055.007507,NaN,1040.992493,...,NaN,1040.530573,975.0,1010.150479,NaN,NaN,1018.762638,NaN,NaN,NaN
8,2017-09-18,NaN,NaN,1025.000000,NaN,NaN,NaN,1055.007507,NaN,1040.992493,...,NaN,1040.530573,975.0,1010.150479,NaN,NaN,1018.762638,NaN,NaN,NaN
9,2017-09-19,NaN,NaN,1025.000000,NaN,NaN,NaN,1057.723469,NaN,1040.276531,...,NaN,1040.530573,975.0,1010.150479,NaN,NaN,1018.762638,NaN,NaN,NaN
10,2017-09-20,NaN,NaN,1025.000000,NaN,NaN,NaN,1057.723469,NaN,1040.276531,...,NaN,1040.530573,975.0,1010.150479,NaN,NaN,1018.762638,NaN,NaN,NaN
11,2017-09-21,NaN,NaN,1025.000000,NaN,NaN,NaN,1102.446220,NaN,997.553780,...,NaN,1020.831459,975.0,1010.150479,NaN,NaN,1018.762638,NaN,NaN,NaN
12,2017-09-22,NaN,NaN,1025.000000,1025.359754,NaN,NaN,1070.666558,NaN,1030.333442,...,NaN,1020.831459,975.0,1010.150479,NaN,NaN,1018.762638,NaN,972.276531,NaN
13,2017-09-23,NaN,NaN,1004.220025,1025.359754,994.262833,1025.0,1092.779975,NaN,1035.398576,...,NaN,1020.831459,975.0,1010.150479,NaN,NaN,1018.762638,NaN,989.723469,975.000000
14,2017-09-24,975.000000,NaN,1005.754355,1044.665046,994.262833,1025.0,1100.616947,1025.000000,1084.581177,...,NaN,1020.831459,975.0,1010.150479,1021.921603,NaN,1018.762638,NaN,989.723469,975.000000
15,2017-09-25,975.000000,NaN,987.670385,1076.237362,1012.535253,1025.0,1140.628791,1008.003250,1084.581177,...,NaN,1020.831459,975.0,1010.150479,1021.921603,NaN,1018.762638,NaN,989.723469,975.000000
16,2017-09-26,975.000000,NaN,987.670385,1051.237362,1055.012654,1025.0,1162.005012,1008.003250,1033.762638,...,NaN,987.184917,975.0,1010.150479,1021.921603,NaN,1018.762638,NaN,989.723469,975.000000
17,2017-09-27,975.000000,NaN,987.670385,1051.237362,1055.012654,1025.0,1120.925382,1008.003250,994.508174,...,NaN,987.184917,975.0,1010.150479,1021.921603,NaN,1018.762638,NaN,989.723469,975.000000
18,2017-09-28,975.000000,NaN,987.670385,1060.600031,1074.356865,1025.0,1088.927931,1008.003250,1015.515825,...,NaN,1012.352543,975.0,1010.150479,1021.921603,NaN,1018.762638,NaN,989.723469,975.000000
19,2017-09-29,975.000000,NaN,987.670385,1060.600031,1074.356865,1025.0,1088.927931,1008.003250,1015.515825,...,NaN,1012.352543,975.0,1010.150479,1021.921603,NaN,1018.762638,NaN,989.723469,975.000000
20,2017-10-01,975.000000,NaN,987.670385,1060.600031,1082.402583,1025.0,1088.927931,1008.003250,1015.515825,...,NaN,1012.352543,975.0,1010.150479,1021.921603,NaN,1018.762638,NaN,989.723469,975.000000
21,2017-10-02,975.000000,NaN,1020.069506,1025.251235,1104.638558,1025.0,1056.930494,1008.003250,1015.515825,...,NaN,983.063113,975.0,1010.150479,1021.921603,NaN,1018.762638,NaN,989.723469,953.652345
22,2017-10-03,975.000000,975.000000,1016.296096,1025.251235,1122.666558,1025.0,1093.703904,1008.003250,959.969840,...,NaN,983.063113,975.0,1010.150479,1021.921603,974.065011,1065.285990,NaN,989.723469,953.652345
23,2017-10-04,975.000000,954.573156,1016.296096,1025.251235,1122.666558,1025.0,1093.703904,1008.003250,942.399151,...,NaN,960.294047,975.0,1018.245645,981.718615,974.065011,1083.600849,NaN,989.723469,953.652345
24,2017-10-05,975.000000,954.573156,997.451630,1025.251235,1129.507503,1025.0,1113.548370,1008.003250,942.399151,...,NaN,960.294047,975.0,1018.245645,981.718615,974.065011,1051.930494,NaN,989.723469,953.652345
25,2017-10-07,975.000000,954.573156,997.451630,1025.251235,1135.477468,1025.0,1113.548370,1008.003250,942.399151,...,NaN,960.294047,975.0,1018.245645,981.718615,974.065011,1051.930494,NaN,989.723469,953.652345
26,2017-10-08,975.000000,954.573156,1009.292601,1025.251235,1135.477468,1025.0,1127.601424,1008.003250,929.398576,...,NaN,960.294047,975.0,1018.245645,923.176816,974.065011,1051.930494,NaN,989.723469,953.652345
27,2017-10-09,975.000000,954.573156,979.229230,1044.809074,1135.477468,1025.0,1131.011530,1008.003250,929.398576,...,NaN,960.294047,975.0,1053.988470,923.176816,974.065011,1051.930494,NaN,989.723469,953.652345
28,2017-10-10,979.502641,954.573156,979.229230,1044.809074,1135.477468,1025.0,1093.907895,1008.003250,968.092105,...,NaN,957.075162,975.0,1053.988470,888.951130,974.065011,1051.930494,NaN,989.723469,953.652345
29,2017-10-11,979.502641,954.573156,979.229230,1057.384250,1162.012074,1025.0,1093.907895,1008.003250,1001.830750,...,NaN,957.075162,975.0,1053.988470,888.951130,974.065011,1051.930494,NaN,989.723469,953.652345
30,2017-10-12,997.274000,954.573156,979.229230,1057.384250,1162.012074,1025.0,1093.907895,1008.003250,1001.830750,...,NaN,957.075162,975.0,1053.988470,888.951130,974.065011,1051.930494,NaN,989.723469,953.652345
31,2017-10-13,997.274000,954.573156,979.229230,1057.384250,1170.152043,1025.0,1093.907895,1008.003250,1001.830750,...,NaN,962.643613,975.0,1053.988470,888.951130,974.065011,1051.930494,NaN,989.723469,953.652345
32,2017-10-14,997.274000,954.573156,979.229230,1057.384250,1142.296055,1025.0,1110.693029,1008.003250,1001.830750,...,NaN,962.643613,975.0,1076.632574,888.951130,974.065011,1051.930494,NaN,989.723469,953.652345
33,2017-10-15,997.274000,954.573156,979.229230,1015.099312,1149.840344,1025.0,1110.693029,1008.003250,1001.830750,...,961.444287,1009.145376,975.0,1076.632574,888.951130,974.065011,1051.930494,NaN,989.723469,953.652345
34,2017-10-16,997.274000,954.573156,979.229230,1015.099312,1163.003666,1025.0,1110.693029,1008.003250,1001.830750,...,961.444287,1009.145376,975.0,1074.143910,888.951130,974.065011,1051.930494,NaN,989.723469,953.652345
35,2017-10-17,997.274000,954.573156,979.229230,1035.206795,1163.003666,1025.0,1110.693029,1008.003250,1001.830750,...,961.444287,1009.145376,975.0,1089.413874,888.951130,974.065011,1051.930494,NaN,989.723469,953.652345
36,2017-10-18,997.274000,954.573156,979.229230,1008.846675,1163.003666,1025.0,1110.693029,1008.003250,1001.830750,...,961.444287,1009.145376,975.0,1089.413874,921.791025,974.065011,1051.930494,NaN,989.723469,953.652345
37,2017-10-19,997.274000,954.573156,979.229230,1008.846675,1163.003666,1025.0,1110.693029,1008.003250,1001.830750,...,961.444287,1009.145376,975.0,1089.413874,921.791025,974.065011,1051.930494,NaN,989.723469,953.652345
38,2017-10-20,997.274000,954.573156,979.229230,977.396499,1163.003666,1025.0,1110.693029,994.703945,1001.830750,...,961.444287,1009.145376,975.0,1089.413874,921.791025,974.065011,1051.930494,NaN,989.723469,953.652345
39,2017-10-21,997.274000,954.573156,979.229230,938.936887,1185.072069,1025.0,1094.193561,994.703945,1019.806439,...,961.444287,1009.145376,975.0,1089.413874,921.791025,974.065011,1051.930494,NaN,989.723469,953.652345

In [100]:
dates = []
for date in plott_df["time"]:
    dates.append(datetime.strptime(date, '%Y-%m-%d'))
print(plott_df.iloc[0]["time"])
dates

2017-09-08

[datetime.datetime(2017, 9, 8, 0, 0),
 datetime.datetime(2017, 9, 9, 0, 0),
 datetime.datetime(2017, 9, 10, 0, 0),
 datetime.datetime(2017, 9, 11, 0, 0),
 datetime.datetime(2017, 9, 12, 0, 0),
 datetime.datetime(2017, 9, 13, 0, 0),
 datetime.datetime(2017, 9, 14, 0, 0),
 datetime.datetime(2017, 9, 17, 0, 0),
 datetime.datetime(2017, 9, 18, 0, 0),
 datetime.datetime(2017, 9, 19, 0, 0),
 datetime.datetime(2017, 9, 20, 0, 0),
 datetime.datetime(2017, 9, 21, 0, 0),
 datetime.datetime(2017, 9, 22, 0, 0),
 datetime.datetime(2017, 9, 23, 0, 0),
 datetime.datetime(2017, 9, 24, 0, 0),
 datetime.datetime(2017, 9, 25, 0, 0),
 datetime.datetime(2017, 9, 26, 0, 0),
 datetime.datetime(2017, 9, 27, 0, 0),
 datetime.datetime(2017, 9, 28, 0, 0),
 datetime.datetime(2017, 9, 29, 0, 0),
 datetime.datetime(2017, 10, 1, 0, 0),
 datetime.datetime(2017, 10, 2, 0, 0),
 datetime.datetime(2017, 10, 3, 0, 0),
 datetime.datetime(2017, 10, 4, 0, 0),
 datetime.datetime(2017, 10, 5, 0, 0),
 datetime.datetime(2017, 10, 7, 0, 0),
 datetime.datetime(2017, 10, 8, 0, 0),
 datetime.datetime(2017, 10, 9, 0, 0),
 datetime.datetime(2017, 10, 10, 0, 0),
 datetime.datetime(2017, 10, 11, 0, 0),
 datetime.datetime(2017, 10, 12, 0, 0),
 datetime.datetime(2017, 10, 13, 0, 0),
 datetime.datetime(2017, 10, 14, 0, 0),
 datetime.datetime(2017, 10, 15, 0, 0),
 datetime.datetime(2017, 10, 16, 0, 0),
 datetime.datetime(2017, 10, 17, 0, 0),
 datetime.datetime(2017, 10, 18, 0, 0),
 datetime.datetime(2017, 10, 19, 0, 0),
 datetime.datetime(2017, 10, 20, 0, 0),
 datetime.datetime(2017, 10, 21, 0, 0)]

In [152]:
dates = []
for date in plott_df["time"]:
    dates.append(datetime.strptime(date, '%Y-%m-%d'))
dates
def plotPlayers(players):
    
    plt.close('all')
    height = 19
    width = 38
    fig = plt.figure(figsize=(width,height))
    #figsize=(38,19) for 2189 x 1229 resoltion. Which is perfect for fullscreen 
    

    for player in players:
        plt.plot( dates, plott_df[player] , label = player)
    plt.legend(loc='best')

    # ==== Set figure title and labels ====
    fig.suptitle("Temporal ELO plots", fontsize=35)
    plt.xlabel('Time', fontsize=25)
    plt.ylabel('ELO', fontsize=25)
    plt.grid()
    matplotlib.rcParams.update({'font.size': 17})

    # ==== Save file ====
    fig.savefig("plots/" +str(players.values[:]) + ".png", bbox_inches='tight')
    # ---- Clear

In [135]:
print(plott_df.columns[1:].values[:])

['Aida' 'Aksel' 'Amund' 'Anders' 'Andreas B.' 'Andreas H.' 'Bo Woelfert'
 'Cornelia' 'Didrik' 'Dino' 'Edvard N' 'Eirik' 'Eirik B.' 'Emil' 'Even'
 'Fabian S. Rønningen' 'Fredrik C' 'Hans' 'Harald Lønsethagen' 'Henrik'
 'Håkon Aero' 'Håkon M.' 'Jakob' 'John' 'Kristoffer H' 'Lars Erik' 'Lasse'
 'Magnus Aero' 'Magnus G.L.' 'Magnus K.B.' 'Magnus Leinam' 'Marcus'
 'Martine' 'Mathias' 'Mats' 'Mia' 'Mons' 'Odin A.S.' 'Ole Andreas'
 'Ole Marius' 'Paul Frivold' 'Robert Tamang' 'Sisse' 'Sondre'
 'Sondre Midtskogen' 'Sondre N.A.' 'Thomas F' 'Thomas H' 'Thomas O' 'Truls'
 'Yohann' 'index' 'Øystein' 'Øyvind S.']

In [139]:
plotPlayers(plott_df.columns[1:10])
plotPlayers(plott_df.columns[10:20])
plotPlayers(plott_df.columns[20:30])
plotPlayers(plott_df.columns[40:50])
plotPlayers(plott_df.columns[50:60])
plotPlayers(plott_df.columns[50:60])

In [163]:
plotPlayers(latex_df.iloc[:10]["name"])
plotPlayers(latex_df_2.iloc[-10:]["name"])

In [162]:
latex_df_2.iloc[-10:]["name"]

0     Eirik B.
1         Dino
2         Emil
3      Mathias
4    Odin A.S.
Name: name, dtype: object

In [153]:
elo_df

,first_name,last_name,short_name,joined_date,id,elo,matches_played,wins,losses,win_rate
0,Amund,NaN,rt,17-09-08,1,980,0,0,0,0.132132
1,Anders,NaN,mbe,17-09-08,2,939,0,0,0,0.132132
2,Andreas B.,NaN,NaN,17-09-07,3,1186,0,0,0,0.132132
3,Andreas H.,NaN,NaN,17-09-06,4,1026,0,0,0,0.132132
4,Bo Woelfert,NaN,NaN,17-09-06,5,1095,0,0,0,0.132132
5,Didrik,NaN,NaN,17-09-04,6,1020,0,0,0,0.132132
6,Dino,NaN,NaN,17-09-03,7,891,0,0,0,0.132132
7,Eirik B.,NaN,NaN,17-09-02,8,894,0,0,0,0.132132
8,Even,NaN,NaN,17-09-02,9,967,0,0,0,0.132132
9,Fabian S. Rønningen,NaN,NaN,17-09-01,10,1114,0,0,0,0.132132
10,Fredrik C,NaN,NaN,17-09-22,11,1041,0,0,0,0.132132
11,Jakob,NaN,NaN,17-09-21,12,959,0,0,0,0.132132
12,John,NaN,NaN,17-09-20,13,976,0,0,0,0.132132
13,Kristoffer H,NaN,NaN,17-09-19,14,983,0,0,0,0.132132
14,Lasse,NaN,NaN,17-09-18,15,957,0,0,0,0.132132
15,Magnus G.L.,NaN,NaN,17-09-17,16,1025,0,0,0,0.132132
16,Magnus Leinam,NaN,NaN,17-09-16,17,938,0,0,0,0.132132
17,Marcus,NaN,NaN,17-09-15,18,1018,0,0,0,0.132132
18,Mathias,NaN,NaN,17-09-14,19,817,0,0,0,0.132132
19,Mons,NaN,NaN,17-09-13,20,1206,0,0,0,0.132132
20,Odin A.S.,NaN,NaN,17-09-12,21,800,0,0,0,0.132132
21,Ole Andreas,NaN,NaN,17-09-11,22,1137,0,0,0,0.132132
22,Øystein,NaN,NaN,17-09-10,23,990,0,0,0,0.132132
23,Øyvind S.,NaN,NaN,17-09-9,24,954,0,0,0,0.132132
24,Robert Tamang,NaN,NaN,17-09-8,25,1281,0,0,0,0.132132
25,Sondre,NaN,NaN,17-09-7,26,975,0,0,0,0.132132
26,Sondre N.A.,NaN,NaN,17-09-6,27,1010,0,0,0,0.132132
27,Thomas F,NaN,NaN,17-09-5,28,976,0,0,0,0.132132
28,Thomas H,NaN,NaN,17-09-3,29,1090,0,0,0,0.132132
29,Yohann,NaN,NaN,17-09-2,30,1052,0,0,0,0.132132
30,Paul Frivold,NaN,NaN,17-09-2,31,1059,0,0,0,0.132132
31,Henrik,NaN,NaN,17-09-2,32,983,0,0,0,0.132132
32,Thomas O,NaN,NaN,17-09-24,33,922,0,0,0,0.132132
33,Aida,NaN,NaN,17-09-24,34,998,0,0,0,0.132132
34,Cornelia,NaN,NaN,17-09-24,35,995,0,0,0,0.132132
35,Harald Lønsethagen,NaN,NaN,17-09-25,36,1183,0,0,0,0.132132
36,Martine,NaN,NaN,17-09-26,37,973,0,0,0,0.132132
37,Eirik,NaN,NaN,17-09-28,38,1075,0,0,0,0.132132
38,Sisse,NaN,NaN,17-09-28,39,1026,0,0,0,0.132132
39,Magnus K.B.,NaN,NaN,17-09-27,40,1009,0,0,0,0.132132
40,Magnus Aero,NaN,NaN,17-10-03,41,953,0,0,0,0.132132
41,Håkon Aero,NaN,NaN,17-10-03,42,1024,0,0,0,0.132132
42,Edvard N,NaN,NaN,17-10-02,43,1036,0,0,0,0.132132
43,Lars Erik,NaN,NaN,17-10-03,44,1048,0,0,0,0.132132
44,Mats,NaN,NaN,17-10-03,45,947,0,0,0,0.132132
45,Aksel,NaN,NaN,17-10-03,46,955,0,0,0,0.132132
46,Hans,NaN,NaN,17-10-03,47,1052,0,0,0,0.132132
47,Truls,NaN,NaN,17-10-03,48,975,0,0,0,0.132132
48,Håkon M.,NaN,NaN,17-10-03,49,969,0,0,0,0.132132
49,Ole Marius,NaN,NaN,17-10-18,50,1000,0,0,0,0.132132
50,Mia,NaN,NaN,17-10-10,51,972,0,0,0,0.132132
51,Emil,NaN,NaN,17-10-14,52,886,0,0,0,0.132132
52,Sondre Midtskogen,NaN,NaN,17-10-15,53,962,0,0,0,0.132132

In [131]:
elo_df.columns

Index(['first_name', ' last_name', ' short_name', ' joined_date', ' id', 'elo',
       'matches_played', 'wins', 'losses', 'win_rate'],
      dtype='object')

In [154]:
length = matches_df.shape[0]
print("Number of matches: " + str(length) + "\n")
for i in range(length):
    match = matches_df.iloc[i]
    #print(str(i) +": '" + str(match['Player 1']) + "' - '" + str(match['Player 2']) + "'")
    player_1 = match["Player 1"]
    player_2 = match["Player 2"]
    old_number_of_matches_played_player_1 = elo_df[elo_df['first_name'] == player_1]['matches_played']
    old_number_of_matches_played_player_2 = elo_df[elo_df['first_name'] == player_2]['matches_played']
    if(match['Winner'] == player_1): 
        old_number_of_wins_player_1 = elo_df[elo_df['first_name'] == player_1]['wins']
        old_number_of_losses_player_2 = elo_df[elo_df['first_name'] == player_2]['losses']
        elo_df = elo_df.set_index('first_name')
        elo_df = elo_df.set_value(player_1, 'wins', old_number_of_wins_player_1 + 1)
        elo_df = elo_df.set_value(player_2, 'losses', old_number_of_losses_player_2 + 1)
        elo_df = elo_df.reset_index()
    else:
        old_number_of_wins_player_2 = elo_df[elo_df['first_name'] == player_2]['wins']
        old_number_of_losses_player_1 = elo_df[elo_df['first_name'] == player_1]['losses']
        elo_df = elo_df.set_index('first_name')
        elo_df = elo_df.set_value(player_2, 'wins', old_number_of_wins_player_2 + 1)
        elo_df = elo_df.set_value(player_1, 'losses', old_number_of_losses_player_1 + 1)
        elo_df = elo_df.reset_index()
    
    elo_df = elo_df.set_index('first_name')
    elo_df = elo_df.set_value(player_1, 'matches_played', old_number_of_matches_played_player_1 + 1)
    elo_df = elo_df.set_value(player_2, 'matches_played', old_number_of_matches_played_player_2 + 1)
    elo_df = elo_df.reset_index()
players = elo_df['first_name']
for player in players:
    #print(player)
    wins = elo_df[elo_df['first_name'] == player]['wins']
    losses = elo_df[elo_df['first_name'] == player]['losses']
    matches_played = elo_df[elo_df['first_name'] == player]['matches_played']
    win_rate = round((wins / matches_played) * 100,2)
    print(win_rate)
    elo_df = elo_df.set_index('first_name')
    elo_df = elo_df.set_value(player, 'win_rate', win_rate)
    elo_df = elo_df.reset_index()
elo_df

Number of matches: 288

0    38.46
dtype: float64
1    57.89
dtype: float64
2    91.3
dtype: float64
3    100.0
dtype: float64
4    65.79
dtype: float64
5    44.12
dtype: float64
6    33.33
dtype: float64
7    0.0
dtype: float64
8    27.27
dtype: float64
9    90.0
dtype: float64
10    59.09
dtype: float64
11    25.0
dtype: float64
12    0.0
dtype: float64
13    42.59
dtype: float64
14    0.0
dtype: float64
15    100.0
dtype: float64
16    0.0
dtype: float64
17    50.0
dtype: float64
18    6.67
dtype: float64
19    87.5
dtype: float64
20    14.81
dtype: float64
21    68.0
dtype: float64
22    33.33
dtype: float64
23    0.0
dtype: float64
24    85.37
dtype: float64
25    0.0
dtype: float64
26    53.33
dtype: float64
27    0.0
dtype: float64
28    66.67
dtype: float64
29    66.67
dtype: float64
30    43.75
dtype: float64
31    57.14
dtype: float64
32    33.33
dtype: float64
33    50.0
dtype: float64
34    33.33
dtype: float64
35    90.91
dtype: float64
36    0.0
dtype: float64
37    80.0
dtype: float64
38    100.0
dtype: float64
39    50.0
dtype: float64
40    0.0
dtype: float64
41    100.0
dtype: float64
42    100.0
dtype: float64
43    75.0
dtype: float64
44    31.82
dtype: float64
45    0.0
dtype: float64
46    100.0
dtype: float64
47    0.0
dtype: float64
48    42.86
dtype: float64
49    33.33
dtype: float64
50    0.0
dtype: float64
51    0.0
dtype: float64
52    0.0
dtype: float64

,first_name,last_name,short_name,joined_date,id,elo,matches_played,wins,losses,win_rate
0,Amund,NaN,rt,17-09-08,1,980,13,5,8,38.46
1,Anders,NaN,mbe,17-09-08,2,939,19,11,8,57.89
2,Andreas B.,NaN,NaN,17-09-07,3,1186,23,21,2,91.30
3,Andreas H.,NaN,NaN,17-09-06,4,1026,1,1,0,100.00
4,Bo Woelfert,NaN,NaN,17-09-06,5,1095,38,25,13,65.79
5,Didrik,NaN,NaN,17-09-04,6,1020,34,15,19,44.12
6,Dino,NaN,NaN,17-09-03,7,891,18,6,12,33.33
7,Eirik B.,NaN,NaN,17-09-02,8,894,5,0,5,0.00
8,Even,NaN,NaN,17-09-02,9,967,11,3,8,27.27
9,Fabian S. Rønningen,NaN,NaN,17-09-01,10,1114,10,9,1,90.00
10,Fredrik C,NaN,NaN,17-09-22,11,1041,22,13,9,59.09
11,Jakob,NaN,NaN,17-09-21,12,959,4,1,3,25.00
12,John,NaN,NaN,17-09-20,13,976,1,0,1,0.00
13,Kristoffer H,NaN,NaN,17-09-19,14,983,54,23,31,42.59
14,Lasse,NaN,NaN,17-09-18,15,957,2,0,2,0.00
15,Magnus G.L.,NaN,NaN,17-09-17,16,1025,1,1,0,100.00
16,Magnus Leinam,NaN,NaN,17-09-16,17,938,4,0,4,0.00
17,Marcus,NaN,NaN,17-09-15,18,1018,4,2,2,50.00
18,Mathias,NaN,NaN,17-09-14,19,817,15,1,14,6.67
19,Mons,NaN,NaN,17-09-13,20,1206,16,14,2,87.50
20,Odin A.S.,NaN,NaN,17-09-12,21,800,54,8,46,14.81
21,Ole Andreas,NaN,NaN,17-09-11,22,1137,25,17,8,68.00
22,Øystein,NaN,NaN,17-09-10,23,990,6,2,4,33.33
23,Øyvind S.,NaN,NaN,17-09-9,24,954,2,0,2,0.00
24,Robert Tamang,NaN,NaN,17-09-8,25,1281,41,35,6,85.37
25,Sondre,NaN,NaN,17-09-7,26,975,1,0,1,0.00
26,Sondre N.A.,NaN,NaN,17-09-6,27,1010,15,8,7,53.33
27,Thomas F,NaN,NaN,17-09-5,28,976,1,0,1,0.00
28,Thomas H,NaN,NaN,17-09-3,29,1090,9,6,3,66.67
29,Yohann,NaN,NaN,17-09-2,30,1052,6,4,2,66.67
30,Paul Frivold,NaN,NaN,17-09-2,31,1059,16,7,9,43.75
31,Henrik,NaN,NaN,17-09-2,32,983,14,8,6,57.14
32,Thomas O,NaN,NaN,17-09-24,33,922,6,2,4,33.33
33,Aida,NaN,NaN,17-09-24,34,998,4,2,2,50.00
34,Cornelia,NaN,NaN,17-09-24,35,995,3,1,2,33.33
35,Harald Lønsethagen,NaN,NaN,17-09-25,36,1183,11,10,1,90.91
36,Martine,NaN,NaN,17-09-26,37,973,1,0,1,0.00
37,Eirik,NaN,NaN,17-09-28,38,1075,5,4,1,80.00
38,Sisse,NaN,NaN,17-09-28,39,1026,1,1,0,100.00
39,Magnus K.B.,NaN,NaN,17-09-27,40,1009,6,3,3,50.00
40,Magnus Aero,NaN,NaN,17-10-03,41,953,2,0,2,0.00
41,Håkon Aero,NaN,NaN,17-10-03,42,1024,1,1,0,100.00
42,Edvard N,NaN,NaN,17-10-02,43,1036,2,2,0,100.00
43,Lars Erik,NaN,NaN,17-10-03,44,1048,4,3,1,75.00
44,Mats,NaN,NaN,17-10-03,45,947,22,7,15,31.82
45,Aksel,NaN,NaN,17-10-03,46,955,2,0,2,0.00
46,Hans,NaN,NaN,17-10-03,47,1052,2,2,0,100.00
47,Truls,NaN,NaN,17-10-03,48,975,1,0,1,0.00
48,Håkon M.,NaN,NaN,17-10-03,49,969,7,3,4,42.86
49,Ole Marius,NaN,NaN,17-10-18,50,1000,3,1,2,33.33
50,Mia,NaN,NaN,17-10-10,51,972,1,0,1,0.00
51,Emil,NaN,NaN,17-10-14,52,886,6,0,6,0.00
52,Sondre Midtskogen,NaN,NaN,17-10-15,53,962,1,0,1,0.00

In [155]:
elo_df

,first_name,last_name,short_name,joined_date,id,elo,matches_played,wins,losses,win_rate
0,Amund,NaN,rt,17-09-08,1,980,13,5,8,38.46
1,Anders,NaN,mbe,17-09-08,2,939,19,11,8,57.89
2,Andreas B.,NaN,NaN,17-09-07,3,1186,23,21,2,91.30
3,Andreas H.,NaN,NaN,17-09-06,4,1026,1,1,0,100.00
4,Bo Woelfert,NaN,NaN,17-09-06,5,1095,38,25,13,65.79
5,Didrik,NaN,NaN,17-09-04,6,1020,34,15,19,44.12
6,Dino,NaN,NaN,17-09-03,7,891,18,6,12,33.33
7,Eirik B.,NaN,NaN,17-09-02,8,894,5,0,5,0.00
8,Even,NaN,NaN,17-09-02,9,967,11,3,8,27.27
9,Fabian S. Rønningen,NaN,NaN,17-09-01,10,1114,10,9,1,90.00
10,Fredrik C,NaN,NaN,17-09-22,11,1041,22,13,9,59.09
11,Jakob,NaN,NaN,17-09-21,12,959,4,1,3,25.00
12,John,NaN,NaN,17-09-20,13,976,1,0,1,0.00
13,Kristoffer H,NaN,NaN,17-09-19,14,983,54,23,31,42.59
14,Lasse,NaN,NaN,17-09-18,15,957,2,0,2,0.00
15,Magnus G.L.,NaN,NaN,17-09-17,16,1025,1,1,0,100.00
16,Magnus Leinam,NaN,NaN,17-09-16,17,938,4,0,4,0.00
17,Marcus,NaN,NaN,17-09-15,18,1018,4,2,2,50.00
18,Mathias,NaN,NaN,17-09-14,19,817,15,1,14,6.67
19,Mons,NaN,NaN,17-09-13,20,1206,16,14,2,87.50
20,Odin A.S.,NaN,NaN,17-09-12,21,800,54,8,46,14.81
21,Ole Andreas,NaN,NaN,17-09-11,22,1137,25,17,8,68.00
22,Øystein,NaN,NaN,17-09-10,23,990,6,2,4,33.33
23,Øyvind S.,NaN,NaN,17-09-9,24,954,2,0,2,0.00
24,Robert Tamang,NaN,NaN,17-09-8,25,1281,41,35,6,85.37
25,Sondre,NaN,NaN,17-09-7,26,975,1,0,1,0.00
26,Sondre N.A.,NaN,NaN,17-09-6,27,1010,15,8,7,53.33
27,Thomas F,NaN,NaN,17-09-5,28,976,1,0,1,0.00
28,Thomas H,NaN,NaN,17-09-3,29,1090,9,6,3,66.67
29,Yohann,NaN,NaN,17-09-2,30,1052,6,4,2,66.67
30,Paul Frivold,NaN,NaN,17-09-2,31,1059,16,7,9,43.75
31,Henrik,NaN,NaN,17-09-2,32,983,14,8,6,57.14
32,Thomas O,NaN,NaN,17-09-24,33,922,6,2,4,33.33
33,Aida,NaN,NaN,17-09-24,34,998,4,2,2,50.00
34,Cornelia,NaN,NaN,17-09-24,35,995,3,1,2,33.33
35,Harald Lønsethagen,NaN,NaN,17-09-25,36,1183,11,10,1,90.91
36,Martine,NaN,NaN,17-09-26,37,973,1,0,1,0.00
37,Eirik,NaN,NaN,17-09-28,38,1075,5,4,1,80.00
38,Sisse,NaN,NaN,17-09-28,39,1026,1,1,0,100.00
39,Magnus K.B.,NaN,NaN,17-09-27,40,1009,6,3,3,50.00
40,Magnus Aero,NaN,NaN,17-10-03,41,953,2,0,2,0.00
41,Håkon Aero,NaN,NaN,17-10-03,42,1024,1,1,0,100.00
42,Edvard N,NaN,NaN,17-10-02,43,1036,2,2,0,100.00
43,Lars Erik,NaN,NaN,17-10-03,44,1048,4,3,1,75.00
44,Mats,NaN,NaN,17-10-03,45,947,22,7,15,31.82
45,Aksel,NaN,NaN,17-10-03,46,955,2,0,2,0.00
46,Hans,NaN,NaN,17-10-03,47,1052,2,2,0,100.00
47,Truls,NaN,NaN,17-10-03,48,975,1,0,1,0.00
48,Håkon M.,NaN,NaN,17-10-03,49,969,7,3,4,42.86
49,Ole Marius,NaN,NaN,17-10-18,50,1000,3,1,2,33.33
50,Mia,NaN,NaN,17-10-10,51,972,1,0,1,0.00
51,Emil,NaN,NaN,17-10-14,52,886,6,0,6,0.00
52,Sondre Midtskogen,NaN,NaN,17-10-15,53,962,1,0,1,0.00

In [134]:
elo_df.columns = ['first_name', 'last_name', 'short_name', 'joined_date', 'id',
       'elo']
elo_df.columns

ValueError: Length mismatch: Expected axis has 10 elements, new values have 6 elements

In [156]:
temp_df = elo_df.sort_values('elo', ascending=False)[['first_name','elo', ' joined_date', "matches_played", "wins", "losses", "win_rate"]]
temp_df

,first_name,elo,joined_date,matches_played,wins,losses,win_rate
24,Robert Tamang,1281,17-09-8,41,35,6,85.37
19,Mons,1206,17-09-13,16,14,2,87.50
2,Andreas B.,1186,17-09-07,23,21,2,91.30
35,Harald Lønsethagen,1183,17-09-25,11,10,1,90.91
21,Ole Andreas,1137,17-09-11,25,17,8,68.00
9,Fabian S. Rønningen,1114,17-09-01,10,9,1,90.00
4,Bo Woelfert,1095,17-09-06,38,25,13,65.79
28,Thomas H,1090,17-09-3,9,6,3,66.67
37,Eirik,1075,17-09-28,5,4,1,80.00
30,Paul Frivold,1059,17-09-2,16,7,9,43.75
46,Hans,1052,17-10-03,2,2,0,100.00
29,Yohann,1052,17-09-2,6,4,2,66.67
43,Lars Erik,1048,17-10-03,4,3,1,75.00
10,Fredrik C,1041,17-09-22,22,13,9,59.09
42,Edvard N,1036,17-10-02,2,2,0,100.00
38,Sisse,1026,17-09-28,1,1,0,100.00
3,Andreas H.,1026,17-09-06,1,1,0,100.00
15,Magnus G.L.,1025,17-09-17,1,1,0,100.00
41,Håkon Aero,1024,17-10-03,1,1,0,100.00
5,Didrik,1020,17-09-04,34,15,19,44.12
17,Marcus,1018,17-09-15,4,2,2,50.00
26,Sondre N.A.,1010,17-09-6,15,8,7,53.33
39,Magnus K.B.,1009,17-09-27,6,3,3,50.00
49,Ole Marius,1000,17-10-18,3,1,2,33.33
33,Aida,998,17-09-24,4,2,2,50.00
34,Cornelia,995,17-09-24,3,1,2,33.33
22,Øystein,990,17-09-10,6,2,4,33.33
13,Kristoffer H,983,17-09-19,54,23,31,42.59
31,Henrik,983,17-09-2,14,8,6,57.14
0,Amund,980,17-09-08,13,5,8,38.46
27,Thomas F,976,17-09-5,1,0,1,0.00
12,John,976,17-09-20,1,0,1,0.00
25,Sondre,975,17-09-7,1,0,1,0.00
47,Truls,975,17-10-03,1,0,1,0.00
36,Martine,973,17-09-26,1,0,1,0.00
50,Mia,972,17-10-10,1,0,1,0.00
48,Håkon M.,969,17-10-03,7,3,4,42.86
8,Even,967,17-09-02,11,3,8,27.27
52,Sondre Midtskogen,962,17-10-15,1,0,1,0.00
11,Jakob,959,17-09-21,4,1,3,25.00
14,Lasse,957,17-09-18,2,0,2,0.00
45,Aksel,955,17-10-03,2,0,2,0.00
23,Øyvind S.,954,17-09-9,2,0,2,0.00
40,Magnus Aero,953,17-10-03,2,0,2,0.00
44,Mats,947,17-10-03,22,7,15,31.82
1,Anders,939,17-09-08,19,11,8,57.89
16,Magnus Leinam,938,17-09-16,4,0,4,0.00
32,Thomas O,922,17-09-24,6,2,4,33.33
7,Eirik B.,894,17-09-02,5,0,5,0.00
6,Dino,891,17-09-03,18,6,12,33.33
51,Emil,886,17-10-14,6,0,6,0.00
18,Mathias,817,17-09-14,15,1,14,6.67
20,Odin A.S.,800,17-09-12,54,8,46,14.81

In [157]:
elo_df.columns

Index(['first_name', ' last_name', ' short_name', ' joined_date', ' id', 'elo',
       'matches_played', 'wins', 'losses', 'win_rate'],
      dtype='object')

In [158]:
latex_df = elo_df.sort_values('elo', ascending=False)[['first_name','elo',  ' joined_date',  "matches_played", "wins", "losses", "win_rate"]]
latex_df.columns = ["name", "elo", "joined_date", "matches_played", "wins", "losses", "win_rate"]
latex_df = latex_df.reset_index()
latex_df.index += 1
latex_df = latex_df[['name', 'elo', "joined_date", "matches_played", "wins", "losses", "win_rate"]]
latex_df_2 = latex_df.iloc[-5:]
static_index = latex_df.shape[0] - 4
elo_limit = latex_df.iloc[static_index-2]['elo'] # -2 since I set of index
print(elo_limit)
print(static_index)
latex_df_2 = latex_df_2.reset_index()
latex_df_2 = latex_df_2[['name', 'elo', "joined_date",  "matches_played", "wins", "losses", "win_rate"]]
latex_df_2['static_index'] = static_index
latex_df_2 = latex_df_2[['static_index', 'name', 'elo', "joined_date",  "matches_played", "wins", "losses", "win_rate"]]
latex_df_2['elo'] = "< " + str(elo_limit)
latex_df = latex_df.iloc[:-5]
latex_df

922
49

,name,elo,joined_date,matches_played,wins,losses,win_rate
1,Robert Tamang,1281,17-09-8,41,35,6,85.37
2,Mons,1206,17-09-13,16,14,2,87.50
3,Andreas B.,1186,17-09-07,23,21,2,91.30
4,Harald Lønsethagen,1183,17-09-25,11,10,1,90.91
5,Ole Andreas,1137,17-09-11,25,17,8,68.00
6,Fabian S. Rønningen,1114,17-09-01,10,9,1,90.00
7,Bo Woelfert,1095,17-09-06,38,25,13,65.79
8,Thomas H,1090,17-09-3,9,6,3,66.67
9,Eirik,1075,17-09-28,5,4,1,80.00
10,Paul Frivold,1059,17-09-2,16,7,9,43.75
11,Hans,1052,17-10-03,2,2,0,100.00
12,Yohann,1052,17-09-2,6,4,2,66.67
13,Lars Erik,1048,17-10-03,4,3,1,75.00
14,Fredrik C,1041,17-09-22,22,13,9,59.09
15,Edvard N,1036,17-10-02,2,2,0,100.00
16,Sisse,1026,17-09-28,1,1,0,100.00
17,Andreas H.,1026,17-09-06,1,1,0,100.00
18,Magnus G.L.,1025,17-09-17,1,1,0,100.00
19,Håkon Aero,1024,17-10-03,1,1,0,100.00
20,Didrik,1020,17-09-04,34,15,19,44.12
21,Marcus,1018,17-09-15,4,2,2,50.00
22,Sondre N.A.,1010,17-09-6,15,8,7,53.33
23,Magnus K.B.,1009,17-09-27,6,3,3,50.00
24,Ole Marius,1000,17-10-18,3,1,2,33.33
25,Aida,998,17-09-24,4,2,2,50.00
26,Cornelia,995,17-09-24,3,1,2,33.33
27,Øystein,990,17-09-10,6,2,4,33.33
28,Kristoffer H,983,17-09-19,54,23,31,42.59
29,Henrik,983,17-09-2,14,8,6,57.14
30,Amund,980,17-09-08,13,5,8,38.46
31,Thomas F,976,17-09-5,1,0,1,0.00
32,John,976,17-09-20,1,0,1,0.00
33,Sondre,975,17-09-7,1,0,1,0.00
34,Truls,975,17-10-03,1,0,1,0.00
35,Martine,973,17-09-26,1,0,1,0.00
36,Mia,972,17-10-10,1,0,1,0.00
37,Håkon M.,969,17-10-03,7,3,4,42.86
38,Even,967,17-09-02,11,3,8,27.27
39,Sondre Midtskogen,962,17-10-15,1,0,1,0.00
40,Jakob,959,17-09-21,4,1,3,25.00
41,Lasse,957,17-09-18,2,0,2,0.00
42,Aksel,955,17-10-03,2,0,2,0.00
43,Øyvind S.,954,17-09-9,2,0,2,0.00
44,Magnus Aero,953,17-10-03,2,0,2,0.00
45,Mats,947,17-10-03,22,7,15,31.82
46,Anders,939,17-09-08,19,11,8,57.89
47,Magnus Leinam,938,17-09-16,4,0,4,0.00
48,Thomas O,922,17-09-24,6,2,4,33.33

In [136]:
# make .tex file with table
latex_df.to_latex("latex_leaderboard/table_1.tex", index=True, columns=["name", "elo", "joined_date", "matches_played", "wins", "losses", "win_rate"],column_format="|r|l|r|l|l|l|l|l|", longtable=True)
latex_df_2.to_latex("latex_leaderboard/table_2.tex", index=False, columns=["static_index","name", "elo", "joined_date","matches_played", "wins", "losses", "win_rate"],column_format="|r|l|r|l|l|l|l|l|", longtable=True)

In [ ]:
temp_df

In [119]:
biggest_upset_loss_decrease

43.74876534991813

In [137]:
# funfacts

total_number_of_matches = matches_df.shape[0]
string = """

\begin{itemize}
    \item Total number of matches played: """ + str(total_number_of_matches) + """
    \item Biggest upset happened when """ + str(biggest_upset_player_win) + """ beat """ + str(biggest_upset_player_loss) + """. """ + str(biggest_upset_player_win) + """ gained """ + str(biggest_upset_win_increase) + """ elo, while """ + str(biggest_upset_player_loss) + """ lost """ + str(biggest_upset_loss_decrease) + """ elo. Date of match: """ + str(biggest_upset_player_date) + """
\end{itemize}
"""
print(string)

egin{itemize}
    \item Total number of matches played: 288
    \item Biggest upset happened when Odin A.S. beat Anders. Odin A.S. gained 43.75 elo, while Anders lost 43.75 elo . Date of match: 2017-10-02
\end{itemize}

# Save ELO-leaderboard to a csv file

# Notes

In [98]:
elo_df = elo_df.reset_index()

In [99]:
elo_df[elo_df['first_name'] == "Harald"]['elo']

Series([], Name: elo, dtype: int64)

In [56]:
elo_df = elo_df.set_index('first_name')
elo_df.set_value('Harald', 'elo', 3902)
elo_df.reset_index()

  first_name  index     last_name  short_name  joined_date   id   elo
0     Harald      0   Lønsethagen         hlø     17-09-05    1  3902
1    Mathias      1    Becksæther         mbe     17-09-05    2  1001

In [57]:
elo_df = elo_df.reset_index()

In [58]:
elo_df = elo_df.set_index('first_name')
elo_df.set_value('Harald', 'elo', 900)

            index     last_name  short_name  joined_date   id   elo
first_name
Harald          0   Lønsethagen         hlø     17-09-05    1   900
Mathias         1    Becksæther         mbe     17-09-05    2  1001

In [59]:
exp  = expected(1613, 1609)
exp += expected(1613, 1477)
exp

1.1920564660944573

In [23]:
elo(1613, exp, 2, k=32)  # 1601

1638.8541930849774

In [24]:
a = expected(1613, 1609)
temp_elo = elo(1613, a, 1, k=32)
print("temp_elo: " + str(temp_elo))
a = expected(temp_elo, 1477)
temp_elo = elo(temp_elo, a , 1, k=32)
print("temp_elo after second match: " + str(temp_elo))

temp_elo: 1628.8158013308434
temp_elo after second match: 1638.2378451931402

In [ ]:
# Defining new elo_table with

# ===============
#          Notes 
# ===============

## Defining usefull DataFrames with Pandas
- All played matches

In [9]:
#matches_df = pd.dataFrame()
item_1 = pd.Series({'timestamp': '00-00-00',
                        'Player 1': 'Harald',
                        'Player 2': 'Petter',
                        'Winner': 'Harald'})
matches_df = pd.DataFrame([item_1])
matches_df.to_csv("matches.csv")
matches_df

  Player 1 Player 2  Winner timestamp
0   Harald   Petter  Harald  00-00-00