# Revolve Tatbletennis ELO ladder
# Author: Harald Lønsethagen
# Started: 28.08.2017

## Importing Libraries

In [76]:
import pandas as pd
import numpy as np
import matplotlib as plot

## Defining usefull functions

In [77]:
def expected(A, B):
    """
    Calculate expected score of A in a match against B
    :param A: Elo rating for player A
    :param B: Elo rating for player B
    """
    return 1 / (1 + 10 ** ((B - A) / 400))


def elo(old, exp, score, k=32):
    """
    Calculate the new Elo rating for a player
    :param old: The previous Elo rating
    :param exp: The expected score for this match
    :param score: The actual score for this match
    :param k: The k-factor for Elo (default: 32)
    """
    return old + k * (score - exp)

## Importing all played matches

In [78]:
matches_df = pd.read_csv("matches.csv")
print("Matches: " + str(matches_df.shape[0]))
matches_df

Matches: 186

                Player 1             Player 2               Winner   timestamp
0           Paul Frivold        Robert Tamang        Robert Tamang  2017-09-08
1           Paul Frivold          Bo Woelfert          Bo Woelfert  2017-09-08
2                   Mons          Ole Andreas                 Mons  2017-09-09
3                   Mons             Eirik B.                 Mons  2017-09-09
4                   Mons             Eirik B.                 Mons  2017-09-09
5           Paul Frivold                 Dino         Paul Frivold  2017-09-09
6           Paul Frivold                 Mons                 Mons  2017-09-09
7            Bo Woelfert                 Dino          Bo Woelfert  2017-09-09
8                  Jakob                 Mons                 Mons  2017-09-10
9                   Mons               Yohann                 Mons  2017-09-10
10                Didrik          Bo Woelfert          Bo Woelfert  2017-09-10
11         Robert Tamang        Magnus Leinam        Robert Tamang  2017-09-11
12                Didrik          Bo Woelfert          Bo Woelfert  2017-09-11
13                  Mons             Thomas H                 Mons  2017-09-11
14              Thomas H            Fredrik C             Thomas H  2017-09-11
15             Fredrik C         Kristoffer H            Fredric C  2017-09-11
16                Didrik          Bo Woelfert               Didrik  2017-09-11
17                Didrik               Sondre               Didrik  2017-09-11
18                  Dino          Sondre N.A.          Sondre N.A.  2017-09-12
19                Yohann                 Mons               Yohann  2017-09-12
20         Robert Tamang                 Even        Robert Tamang  2017-09-12
21                Didrik          Bo Woelfert               Didrik  2017-09-12
22                Didrik         Paul Frivold               Didrik  2017-09-12
23                 Amund             Thomas F                Amund  2017-09-13
24                Didrik          Bo Woelfert          Bo Woelfert  2017-09-14
25           Sondre N.A.                 Dino          Sondre N.A.  2017-09-17
26             Odin A.S.  Fabian S. Rønningen  Fabian S. Rønningen  2017-09-18
27                Didrik          Bo Woelfert               Didrik  2017-09-19
28                Didrik          Bo Woelfert          Bo Woelfert  2017-09-19
29         Robert Tamang        Magnus Leinam        Robert Tamang  2017-09-19
..                   ...                  ...                  ...         ...
156               Henrik            Odin A.S.               Henrik  2017-10-05
157         Kristoffer H          Ole Andreas         Kristoffer H  2017-10-05
158           Andreas B.            Odin A.S.           Andreas B.  2017-10-05
159  Fabian S. Rønningen            Odin A.S.  Fabian S. Rønningen  2017-10-07
160  Fabian S. Rønningen               Henrik  Fabian S. Rønningen  2017-10-07
161                 Mats            Odin A.S.                 Mats  2017-10-07
162                 Mats               Henrik                 Mats  2017-10-07
163           Andreas B.            Odin A.S.           Andreas B.  2017-10-07
164        Robert Tamang           Ole Marius        Robert Tamang  2017-10-08
165   Harald Lønsethagen              Mathias   Harald Lønsethagen  2017-10-08
166        Robert Tamang           Ole Marius        Robert Tamang  2017-10-08
167         Kristoffer H          Ole Andreas          Ole Andreas  2017-10-08
168               Didrik          Bo Woelfert          Bo Woelfert  2017-10-08
169  Fabian S. Rønningen            Odin A.S.  Fabian S. Rønningen  2017-10-08
170               Henrik            Odin A.S.               Henrik  2017-10-08
171             Thomas O            Odin A.S.             Thomas H  2017-10-08
172             Håkon M.             Thomas O             Håkon M.  2017-10-08
173                Amund            Odin A.S.                Amund  2017-10-08
174                Amund          Bo Woelfert          Bo Woelfert  2017-10-09
175                Amund          Bo Woelfert          Bo Woelfert  2017-10-09
176        Robert Tamang                 Mats        Robert Tamang  2017-10-09
177               Henrik            Odin A.S.               Henrik  2017-10-09
178               Henrik                 Mats               Henrik  2017-10-09
179               Anders            Odin A.S.               Anders  2017-10-09
180  Fabian S. Rønningen            Odin A.S.  Fabian S. Rønningen  2017-10-09
181               Henrik            Odin A.S.            Odin A.S.  2017-10-09
182               Anders            Odin A.S.               Anders  2017-10-09
183          Bo Woelfert            Odin A.S.          Bo Woelfert  2017-10-09
184             Thomas H          Bo Woelfert             Thomas H  2017-10-09
185               Didrik          Bo Woelfert               Didrik  2017-10-10

[186 rows x 4 columns]

## Importing all players

In [79]:
players_df = pd.read_csv("players.csv")
print("Players: " + str(players_df.shape[0]))
players_df

Players: 50

             first_name   last_name  short_name  joined_date   id
0                 Amund         NaN          rt     17-09-08    1
1                Anders         NaN         mbe     17-09-08    2
2            Andreas B.         NaN         NaN     17-09-07    3
3            Andreas H.         NaN         NaN     17-09-06    4
4           Bo Woelfert         NaN         NaN     17-09-06    5
5                Didrik         NaN         NaN     17-09-04    6
6                  Dino         NaN         NaN     17-09-03    7
7              Eirik B.         NaN         NaN     17-09-02    8
8                  Even         NaN         NaN     17-09-02    9
9   Fabian S. Rønningen         NaN         NaN     17-09-01   10
10            Fredrik C         NaN         NaN     17-09-22   11
11                Jakob         NaN         NaN     17-09-21   12
12                 John         NaN         NaN     17-09-20   13
13         Kristoffer H         NaN         NaN     17-09-19   14
14                Lasse         NaN         NaN     17-09-18   15
15          Magnus G.L.         NaN         NaN     17-09-17   16
16        Magnus Leinam         NaN         NaN     17-09-16   17
17               Marcus         NaN         NaN     17-09-15   18
18              Mathias         NaN         NaN     17-09-14   19
19                 Mons         NaN         NaN     17-09-13   20
20            Odin A.S.         NaN         NaN     17-09-12   21
21          Ole Andreas         NaN         NaN     17-09-11   22
22              Øystein         NaN         NaN     17-09-10   23
23            Øyvind S.         NaN         NaN      17-09-9   24
24        Robert Tamang         NaN         NaN      17-09-8   25
25               Sondre         NaN         NaN      17-09-7   26
26          Sondre N.A.         NaN         NaN      17-09-6   27
27             Thomas F         NaN         NaN      17-09-5   28
28             Thomas H         NaN         NaN      17-09-3   29
29               Yohann         NaN         NaN      17-09-2   30
30         Paul Frivold         NaN         NaN      17-09-2   31
31               Henrik         NaN         NaN      17-09-2   32
32             Thomas O         NaN         NaN     17-09-24   33
33                 Aida         NaN         NaN     17-09-24   34
34             Cornelia         NaN         NaN     17-09-24   35
35   Harald Lønsethagen         NaN         NaN     17-09-25   36
36              Martine         NaN         NaN     17-09-26   37
37                Eirik         NaN         NaN     17-09-28   38
38                Sisse         NaN         NaN     17-09-28   39
39          Magnus K.B.         NaN         NaN     17-09-27   40
40          Magnus Aero         NaN         NaN     17-10-03   41
41           Håkon Aero         NaN         NaN     17-10-03   42
42             Edvard N         NaN         NaN     17-10-02   43
43            Lars Erik         NaN         NaN     17-10-03   44
44                 Mats         NaN         NaN     17-10-03   45
45                Aksel         NaN         NaN     17-10-03   46
46                 Hans         NaN         NaN     17-10-03   47
47                Truls         NaN         NaN     17-10-03   48
48             Håkon M.         NaN         NaN     17-10-03   49
49           Ole Marius         NaN         NaN     17-10-18   50

## ELO-ladder Dataframe containing the ELO-score to each player

In [80]:
elo_df = players_df
elo_df['elo'] = 1000
print("Size of ELO-df: " + str(elo_df.shape[0]))
elo_df.head()

Size of ELO-df: 50

    first_name   last_name  short_name  joined_date   id   elo
0        Amund         NaN          rt     17-09-08    1  1000
1       Anders         NaN         mbe     17-09-08    2  1000
2   Andreas B.         NaN         NaN     17-09-07    3  1000
3   Andreas H.         NaN         NaN     17-09-06    4  1000
4  Bo Woelfert         NaN         NaN     17-09-06    5  1000

# Function for calculating ELO

In [81]:
matches_df.iloc(1)[0]

Player 1      Paul Frivold
Player 2     Robert Tamang
Winner       Robert Tamang
timestamp       2017-09-08
Name: 0, dtype: object

In [82]:
length = matches_df.shape[0]
print("Number of matches: " + str(length) + "\n")
for i in range(length):
    match = matches_df.iloc[i]
    print(str(i) +": " + str(match['Player 1']) + " - " + str(match['Player 2']))
    player_1 = match["Player 1"]
    player_2 = match["Player 2"]
    elo_rating_a = elo_df[elo_df['first_name'] == player_1]['elo']
    elo_rating_b = elo_df[elo_df['first_name'] == player_2]['elo']

    if(elo_rating_a.shape[0] == 0):
        print("========================================================================")
        print("Player named '" + str(player_1) + "' is NOT FOUND in the player database. ")
        print("========================================================================")
        break
    if(elo_rating_b.shape[0] == 0):
        print("========================================================================")
        print("Player named '" + str(player_2) + "' is NOT FOUND in the player database. ")
        print("========================================================================")
        break
    elo_rating_a = int(elo_rating_a.values[0])
    elo_rating_b = int(elo_rating_b.values[0])
    
    
    if(match['Winner'] == player_1): 
        winner_a = 1
        winner_b = 0
    else:
        winner_a = 0
        winner_b = 1
    expected_a  = expected(elo_rating_a, elo_rating_b)
    expected_b  = expected(elo_rating_b, elo_rating_a)
    
    new_elo_a = elo(elo_rating_a, expected_a, winner_a, k = 50)
    new_elo_b = elo(elo_rating_b, expected_b, winner_b, k = 50)
    #print("New elo a: " + str(new_elo_a))
    #print("New elo b: " + str(new_elo_b))
    print("Player 1: '" + player_1 + "'. Old elo: " + str(elo_rating_a) + "'. New elo: " + str(new_elo_a) + ". exp: " + str(expected_a) + " " )
    print("Player 1: '" + player_2 + "'. Old elo: " + str(elo_rating_b) + "'. New elo: " + str(new_elo_b) + ". exp: " + str(expected_b) + " " )
    elo_df = elo_df.set_index('first_name')
    elo_df = elo_df.set_value(player_1, 'elo', new_elo_a + 1)
    elo_df = elo_df.set_value(player_2, 'elo', new_elo_b + 1)
    elo_df = elo_df.reset_index()
    
elo_df.head()

Number of matches: 186

0: Paul Frivold - Robert Tamang
Player 1: 'Paul Frivold'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Robert Tamang'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
1: Paul Frivold - Bo Woelfert
Player 1: 'Paul Frivold'. Old elo: 976'. New elo: 952.7241972363415. exp: 0.46551605527316847
Player 1: 'Bo Woelfert'. Old elo: 1000'. New elo: 1023.2758027636585. exp: 0.5344839447268315
2: Mons - Ole Andreas
Player 1: 'Mons'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
Player 1: 'Ole Andreas'. Old elo: 1000'. New elo: 975.0. exp: 0.5
3: Mons - Eirik B.
Player 1: 'Mons'. Old elo: 1026'. New elo: 1049.1326341416755. exp: 0.5373473171664928
Player 1: 'Eirik B.'. Old elo: 1000'. New elo: 976.8673658583247. exp: 0.4626526828335072
4: Mons - Eirik B.
Player 1: 'Mons'. Old elo: 1050'. New elo: 1069.8231840736912. exp: 0.6035363185261781
Player 1: 'Eirik B.'. Old elo: 977'. New elo: 957.1768159263089. exp: 0.39646368147382194
5: Paul Frivold - Dino
Player 1: 'Paul Frivold'. Old elo: 953'. New elo: 981.3614422171476. exp: 0.4327711556570478
Player 1: 'Dino'. Old elo: 1000'. New elo: 971.6385577828524. exp: 0.5672288443429522
6: Paul Frivold - Mons
Player 1: 'Paul Frivold'. Old elo: 982'. New elo: 963.2000879308833. exp: 0.37599824138233284
Player 1: 'Mons'. Old elo: 1070'. New elo: 1088.7999120691165. exp: 0.6240017586176672
7: Bo Woelfert - Dino
Player 1: 'Bo Woelfert'. Old elo: 1024'. New elo: 1045.2859898172737. exp: 0.5742802036545245
Player 1: 'Dino'. Old elo: 972'. New elo: 950.7140101827263. exp: 0.42571979634547563
8: Jakob - Mons
Player 1: 'Jakob'. Old elo: 1000'. New elo: 981.2675696653769. exp: 0.3746486066924632
Player 1: 'Mons'. Old elo: 1089'. New elo: 1107.7324303346231. exp: 0.6253513933075368
9: Mons - Yohann
Player 1: 'Mons'. Old elo: 1108'. New elo: 1125.4697686033064. exp: 0.6506046279338725
Player 1: 'Yohann'. Old elo: 1000'. New elo: 982.5302313966936. exp: 0.3493953720661275
10: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 1000'. New elo: 978.2907601534616. exp: 0.43418479693076684
Player 1: 'Bo Woelfert'. Old elo: 1046'. New elo: 1067.7092398465384. exp: 0.5658152030692333
11: Robert Tamang - Magnus Leinam
Player 1: 'Robert Tamang'. Old elo: 1026'. New elo: 1049.1326341416755. exp: 0.5373473171664928
Player 1: 'Magnus Leinam'. Old elo: 1000'. New elo: 976.8673658583247. exp: 0.4626526828335072
12: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 979'. New elo: 960.2675696653769. exp: 0.3746486066924632
Player 1: 'Bo Woelfert'. Old elo: 1068'. New elo: 1086.7324303346231. exp: 0.6253513933075368
13: Mons - Thomas H
Player 1: 'Mons'. Old elo: 1126'. New elo: 1142.311190605584. exp: 0.6737761878883222
Player 1: 'Thomas H'. Old elo: 1000'. New elo: 983.6888093944161. exp: 0.32622381211167784
14: Thomas H - Fredrik C
Player 1: 'Thomas H'. Old elo: 984'. New elo: 1010.1504793648782. exp: 0.4769904127024377
Player 1: 'Fredrik C'. Old elo: 1000'. New elo: 973.8495206351218. exp: 0.5230095872975623
15: Fredrik C - Kristoffer H
Player 1: 'Fredrik C'. Old elo: 974'. New elo: 950.8673658583247. exp: 0.4626526828335072
Player 1: 'Kristoffer H'. Old elo: 1000'. New elo: 1023.1326341416753. exp: 0.5373473171664928
16: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 961'. New elo: 994.6888093944161. exp: 0.32622381211167784
Player 1: 'Bo Woelfert'. Old elo: 1087'. New elo: 1053.311190605584. exp: 0.6737761878883222
17: Didrik - Sondre
Player 1: 'Didrik'. Old elo: 995'. New elo: 1020.3597540854526. exp: 0.49280491829094863
Player 1: 'Sondre'. Old elo: 1000'. New elo: 974.6402459145474. exp: 0.5071950817090514
18: Dino - Sondre N.A.
Player 1: 'Dino'. Old elo: 951'. New elo: 929.5026411791994. exp: 0.42994717641601177
Player 1: 'Sondre N.A.'. Old elo: 1000'. New elo: 1021.4973588208006. exp: 0.5700528235839882
19: Yohann - Mons
Player 1: 'Yohann'. Old elo: 983'. New elo: 1018.76263755246. exp: 0.2847472489508014
Player 1: 'Mons'. Old elo: 1143'. New elo: 1107.2373624475401. exp: 0.7152527510491987
20: Robert Tamang - Even
Player 1: 'Robert Tamang'. Old elo: 1050'. New elo: 1071.426844129581. exp: 0.5714631174083814
Player 1: 'Even'. Old elo: 1000'. New elo: 978.5731558704191. exp: 0.4285368825916186
21: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 1021'. New elo: 1048.3674259022932. exp: 0.45265148195413535
Player 1: 'Bo Woelfert'. Old elo: 1054'. New elo: 1026.6325740977068. exp: 0.5473485180458647
22: Didrik - Paul Frivold
Player 1: 'Didrik'. Old elo: 1049'. New elo: 1068.0029320477738. exp: 0.6199413590445233
Player 1: 'Paul Frivold'. Old elo: 964'. New elo: 944.9970679522262. exp: 0.3800586409554767
23: Amund - Thomas F
Player 1: 'Amund'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
Player 1: 'Thomas F'. Old elo: 1000'. New elo: 975.0. exp: 0.5
24: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 1069'. New elo: 1040.992492738405. exp: 0.5601501452319029
Player 1: 'Bo Woelfert'. Old elo: 1027'. New elo: 1055.007507261595. exp: 0.4398498547680971
25: Sondre N.A. - Dino
Player 1: 'Sondre N.A.'. Old elo: 1022'. New elo: 1040.5305726391248. exp: 0.6293885472175023
Player 1: 'Dino'. Old elo: 930'. New elo: 911.4694273608751. exp: 0.37061145278249774
26: Odin A.S. - Fabian S. Rønningen
Player 1: 'Odin A.S.'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Fabian S. Rønningen'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
27: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 1041'. New elo: 1067.0786666525573. exp: 0.47842666694885455
Player 1: 'Bo Woelfert'. Old elo: 1056'. New elo: 1029.9213333474427. exp: 0.5215733330511455
28: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 1068'. New elo: 1040.276531298916. exp: 0.554469374021676
Player 1: 'Bo Woelfert'. Old elo: 1030'. New elo: 1057.723468701084. exp: 0.44553062597832394
29: Robert Tamang - Magnus Leinam
Player 1: 'Robert Tamang'. Old elo: 1072'. New elo: 1090.3296149964417. exp: 0.6334077000711676
Player 1: 'Magnus Leinam'. Old elo: 977'. New elo: 958.6703850035584. exp: 0.3665922999288324
30: Robert Tamang - Even
Player 1: 'Robert Tamang'. Old elo: 1091'. New elo: 1108.2089747043804. exp: 0.655820505912395
Player 1: 'Even'. Old elo: 979'. New elo: 961.7910252956198. exp: 0.344179494087605
31: Paul Frivold - Jakob
Player 1: 'Paul Frivold'. Old elo: 945'. New elo: 922.6523447584731. exp: 0.4469531048305375
Player 1: 'Jakob'. Old elo: 982'. New elo: 1004.3476552415269. exp: 0.5530468951694625
32: Mons - Jakob
Player 1: 'Mons'. Old elo: 1108'. New elo: 1125.7983073088853. exp: 0.6440338538222926
Player 1: 'Jakob'. Old elo: 1005'. New elo: 987.2016926911147. exp: 0.35596614617770733
33: Odin A.S. - Fabian S. Rønningen
Player 1: 'Odin A.S.'. Old elo: 976'. New elo: 1004.5731558704191. exp: 0.4285368825916186
Player 1: 'Fabian S. Rønningen'. Old elo: 1026'. New elo: 997.4268441295809. exp: 0.5714631174083814
34: Robert Tamang - Sondre N.A.
Player 1: 'Robert Tamang'. Old elo: 1109'. New elo: 1129.1685413347113. exp: 0.596629173305774
Player 1: 'Sondre N.A.'. Old elo: 1041'. New elo: 1020.8314586652887. exp: 0.403370826694226
35: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 1041'. New elo: 1017.222273056033. exp: 0.47555453887933863
Player 1: 'Bo Woelfert'. Old elo: 1058'. New elo: 1081.7777269439669. exp: 0.5244454611206615
36: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 1018'. New elo: 997.5537798157471. exp: 0.4089244036850566
Player 1: 'Bo Woelfert'. Old elo: 1082'. New elo: 1102.4462201842528. exp: 0.5910755963149433
37: Odin A.S. - Anders
Player 1: 'Odin A.S.'. Old elo: 1005'. New elo: 979.6402459145474. exp: 0.5071950817090514
Player 1: 'Anders'. Old elo: 1000'. New elo: 1025.3597540854526. exp: 0.49280491829094863
38: Even - Øystein
Player 1: 'Even'. Old elo: 962'. New elo: 989.7234687010838. exp: 0.44553062597832394
Player 1: 'Øystein'. Old elo: 1000'. New elo: 972.2765312989162. exp: 0.554469374021676
39: Magnus G.L. - Even
Player 1: 'Magnus G.L.'. Old elo: 1000'. New elo: 1024.2806407917. exp: 0.5143871841659987
Player 1: 'Even'. Old elo: 990'. New elo: 965.7193592082999. exp: 0.48561281583400134
40: Robert Tamang - Lasse
Player 1: 'Robert Tamang'. Old elo: 1130'. New elo: 1146.059154010262. exp: 0.6788169197947567
Player 1: 'Lasse'. Old elo: 1000'. New elo: 983.9408459897378. exp: 0.3211830802052434
41: Robert Tamang - Even
Player 1: 'Robert Tamang'. Old elo: 1147'. New elo: 1160.0389872929666. exp: 0.7392202541406678
Player 1: 'Even'. Old elo: 966'. New elo: 952.9610127070334. exp: 0.2607797458593321
42: Even - Lasse
Player 1: 'Even'. Old elo: 953'. New elo: 980.2247286541503. exp: 0.4555054269169921
Player 1: 'Lasse'. Old elo: 984'. New elo: 956.7752713458497. exp: 0.544494573083008
43: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 998'. New elo: 1030.3334421162808. exp: 0.35333115767438533
Player 1: 'Bo Woelfert'. Old elo: 1103'. New elo: 1070.6665578837192. exp: 0.6466688423256146
44: Øystein - Marcus
Player 1: 'Øystein'. Old elo: 973'. New elo: 949.9389046028585. exp: 0.46122190794282847
Player 1: 'Marcus'. Old elo: 1000'. New elo: 1023.0610953971415. exp: 0.5387780920571715
45: Robert Tamang - Øystein
Player 1: 'Robert Tamang'. Old elo: 1161'. New elo: 1172.4442869656202. exp: 0.7711142606875975
Player 1: 'Øystein'. Old elo: 950'. New elo: 938.5557130343799. exp: 0.22888573931240266
46: Robert Tamang - Magnus Leinam
Player 1: 'Robert Tamang'. Old elo: 1173'. New elo: 1184.2926011149084. exp: 0.7741479777018306
Player 1: 'Magnus Leinam'. Old elo: 959'. New elo: 947.7073988850915. exp: 0.22585202229816936
47: Robert Tamang - Even
Player 1: 'Robert Tamang'. Old elo: 1185'. New elo: 1196.803765042758. exp: 0.7639246991448386
Player 1: 'Even'. Old elo: 981'. New elo: 969.1962349572419. exp: 0.23607530085516135
48: Robert Tamang - Øystein
Player 1: 'Robert Tamang'. Old elo: 1197'. New elo: 1206.232409235835. exp: 0.8153518152833006
Player 1: 'Øystein'. Old elo: 939'. New elo: 929.767590764165. exp: 0.18464818471669944
49: Robert Tamang - Marcus
Player 1: 'Robert Tamang'. Old elo: 1207'. New elo: 1219.928323851535. exp: 0.7414335229692995
Player 1: 'Marcus'. Old elo: 1024'. New elo: 1011.071676148465. exp: 0.25856647703070046
50: Øyvind S. - Andreas B.
Player 1: 'Øyvind S.'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Andreas B.'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
51: Andreas B. - Øystein
Player 1: 'Andreas B.'. Old elo: 1026'. New elo: 994.2628332473842. exp: 0.6347433350523167
Player 1: 'Øystein'. Old elo: 930'. New elo: 961.7371667526158. exp: 0.3652566649476832
52: Odin A.S. - Henrik
Player 1: 'Odin A.S.'. Old elo: 980'. New elo: 956.4375281946134. exp: 0.4712494361077314
Player 1: 'Henrik'. Old elo: 1000'. New elo: 1023.5624718053866. exp: 0.5287505638922686
53: John - Andreas H.
Player 1: 'John'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Andreas H.'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
54: Mathias - Øystein
Player 1: 'Mathias'. Old elo: 1000'. New elo: 972.2765312989162. exp: 0.554469374021676
Player 1: 'Øystein'. Old elo: 962'. New elo: 989.7234687010838. exp: 0.44553062597832394
55: Didrik - Paul Frivold
Player 1: 'Didrik'. Old elo: 1031'. New elo: 1048.4697686033064. exp: 0.6506046279338725
Player 1: 'Paul Frivold'. Old elo: 923'. New elo: 905.5302313966936. exp: 0.3493953720661275
56: Didrik - Robert Tamang
Player 1: 'Didrik'. Old elo: 1049'. New elo: 1035.39857567721. exp: 0.2720284864558038
Player 1: 'Robert Tamang'. Old elo: 1220'. New elo: 1233.60142432279. exp: 0.7279715135441962
57: Bo Woelfert - Amund
Player 1: 'Bo Woelfert'. Old elo: 1071'. New elo: 1092.7799754879788. exp: 0.5644004902404213
Player 1: 'Amund'. Old elo: 1026'. New elo: 1004.220024512021. exp: 0.4355995097595788
58: Odin A.S. - Thomas O
Player 1: 'Odin A.S.'. Old elo: 957'. New elo: 935.0783969486823. exp: 0.43843206102635396
Player 1: 'Thomas O'. Old elo: 1000'. New elo: 1021.9216030513177. exp: 0.5615679389736461
59: Aida - Cornelia
Player 1: 'Aida'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Cornelia'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
60: Didrik - Mathias
Player 1: 'Didrik'. Old elo: 1036'. New elo: 1056.5158248430025. exp: 0.5896835031399501
Player 1: 'Mathias'. Old elo: 973'. New elo: 952.4841751569975. exp: 0.41031649686004995
61: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 1057'. New elo: 1084.581177365548. exp: 0.4483764526890395
Player 1: 'Bo Woelfert'. Old elo: 1093'. New elo: 1065.418822634452. exp: 0.5516235473109605
62: Paul Frivold - Bo Woelfert
Player 1: 'Paul Frivold'. Old elo: 906'. New elo: 891.76263755246. exp: 0.2847472489508014
Player 1: 'Bo Woelfert'. Old elo: 1066'. New elo: 1080.2373624475401. exp: 0.7152527510491987
63: Amund - Bo Woelfert
Player 1: 'Amund'. Old elo: 1005'. New elo: 985.383053206341. exp: 0.39233893587318014
Player 1: 'Bo Woelfert'. Old elo: 1081'. New elo: 1100.616946793659. exp: 0.6076610641268197
64: Odin A.S. - Anders
Player 1: 'Odin A.S.'. Old elo: 936'. New elo: 917.3349540833366. exp: 0.373300918333268
Player 1: 'Anders'. Old elo: 1026'. New elo: 1044.6650459166633. exp: 0.626699081666732
65: Amund - Dino

Player 1: 'Amund'. Old elo: 986'. New elo: 1005.7543548996022. exp: 0.6049129020079569
Player 1: 'Dino'. Old elo: 912'. New elo: 892.2456451003978. exp: 0.3950870979920432
66: Amund - Bo Woelfert
Player 1: 'Amund'. Old elo: 1006'. New elo: 987.6703850035584. exp: 0.3665922999288324
Player 1: 'Bo Woelfert'. Old elo: 1101'. New elo: 1119.3296149964417. exp: 0.6334077000711676
67: Mons - Cornelia
Player 1: 'Mons'. Old elo: 1126'. New elo: 1143.9967500098558. exp: 0.6400649998028851
Player 1: 'Cornelia'. Old elo: 1026'. New elo: 1008.0032499901442. exp: 0.35993500019711494
68: Odin A.S. - Anders
Player 1: 'Odin A.S.'. Old elo: 918'. New elo: 901.752010052015. exp: 0.3249597989597013
Player 1: 'Anders'. Old elo: 1045'. New elo: 1061.2479899479852. exp: 0.6750402010402987
69: Mathias - Harald Lønsethagen
Player 1: 'Mathias'. Old elo: 953'. New elo: 931.3614422171476. exp: 0.4327711556570478
Player 1: 'Harald Lønsethagen'. Old elo: 1000'. New elo: 1021.6385577828524. exp: 0.5672288443429522
70: Odin A.S. - Anders
Player 1: 'Odin A.S.'. Old elo: 902'. New elo: 887.76263755246. exp: 0.2847472489508014
Player 1: 'Anders'. Old elo: 1062'. New elo: 1076.2373624475401. exp: 0.7152527510491987
71: Mons - Robert Tamang
Player 1: 'Mons'. Old elo: 1144'. New elo: 1175.3349540833367. exp: 0.373300918333268
Player 1: 'Robert Tamang'. Old elo: 1234'. New elo: 1202.6650459166633. exp: 0.626699081666732
72: Mons - Robert Tamang
Player 1: 'Mons'. Old elo: 1176'. New elo: 1202.9389046028587. exp: 0.46122190794282847
Player 1: 'Robert Tamang'. Old elo: 1203'. New elo: 1176.0610953971413. exp: 0.5387780920571715
73: Odin A.S. - Andreas B.
Player 1: 'Odin A.S.'. Old elo: 888'. New elo: 870.4647473555482. exp: 0.3507050528890364
Player 1: 'Andreas B.'. Old elo: 995'. New elo: 1012.5352526444518. exp: 0.6492949471109635
74: Paul Frivold - Bo Woelfert
Player 1: 'Paul Frivold'. Old elo: 892'. New elo: 881.3963384038701. exp: 0.2120732319225979
Player 1: 'Bo Woelfert'. Old elo: 1120'. New elo: 1130.60366159613. exp: 0.7879267680774021
75: Paul Frivold - Bo Woelfert
Player 1: 'Paul Frivold'. Old elo: 882'. New elo: 872.3712090835639. exp: 0.19257581832872078
Player 1: 'Bo Woelfert'. Old elo: 1131'. New elo: 1140.628790916436. exp: 0.8074241816712792
76: Odin A.S. - Andreas B.
Player 1: 'Odin A.S.'. Old elo: 871'. New elo: 855.6843958210983. exp: 0.3063120835780346
Player 1: 'Andreas B.'. Old elo: 1013'. New elo: 1028.3156041789018. exp: 0.6936879164219654
77: Sondre N.A. - Dino
Player 1: 'Sondre N.A.'. Old elo: 1021'. New elo: 987.1849165253632. exp: 0.676301669492737
Player 1: 'Dino'. Old elo: 893'. New elo: 926.8150834746368. exp: 0.3236983305072631
78: Robert Tamang - Marcus
Player 1: 'Robert Tamang'. Old elo: 1177'. New elo: 1190.946087840122. exp: 0.7210782431975601
Player 1: 'Marcus'. Old elo: 1012'. New elo: 998.053912159878. exp: 0.2789217568024399
79: Odin A.S. - Andreas B.
Player 1: 'Odin A.S.'. Old elo: 856'. New elo: 842.5122706648712. exp: 0.269754586702576
Player 1: 'Andreas B.'. Old elo: 1029'. New elo: 1042.4877293351287. exp: 0.730245413297424
80: Odin A.S. - Andreas B.
Player 1: 'Odin A.S.'. Old elo: 843'. New elo: 830.9873463323979. exp: 0.2402530733520421
Player 1: 'Andreas B.'. Old elo: 1043'. New elo: 1055.012653667602. exp: 0.7597469266479578
81: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 1085'. New elo: 1063.994988017894. exp: 0.42010023964211857
Player 1: 'Bo Woelfert'. Old elo: 1141'. New elo: 1162.005011982106. exp: 0.5798997603578815
82: Didrik - Robert Tamang
Player 1: 'Didrik'. Old elo: 1064'. New elo: 1047.7520100520148. exp: 0.3249597989597013
Player 1: 'Robert Tamang'. Old elo: 1191'. New elo: 1207.2479899479852. exp: 0.6750402010402987
83: Didrik - Robert Tamang
Player 1: 'Didrik'. Old elo: 1048'. New elo: 1033.7626375524599. exp: 0.2847472489508014
Player 1: 'Robert Tamang'. Old elo: 1208'. New elo: 1222.2373624475401. exp: 0.7152527510491987
84: Robert Tamang - Harald Lønsethagen
Player 1: 'Robert Tamang'. Old elo: 1223'. New elo: 1184.9601954505429. exp: 0.7607960909891424
Player 1: 'Harald Lønsethagen'. Old elo: 1022'. New elo: 1060.0398045494571. exp: 0.23920390901085772
85: Even - Martine
Player 1: 'Even'. Old elo: 970'. New elo: 997.1533246011106. exp: 0.4569335079777882
Player 1: 'Martine'. Old elo: 1000'. New elo: 972.8466753988894. exp: 0.5430664920222119
86: Robert Tamang - Even
Player 1: 'Robert Tamang'. Old elo: 1185'. New elo: 1197.708839582475. exp: 0.7458232083504994
Player 1: 'Even'. Old elo: 998'. New elo: 985.291160417525. exp: 0.2541767916495005
87: Odin A.S. - Anders
Player 1: 'Odin A.S.'. Old elo: 831'. New elo: 821.2362346749629. exp: 0.19527530650074057
Player 1: 'Anders'. Old elo: 1077'. New elo: 1086.763765325037. exp: 0.8047246934992595
88: Dino - Anders
Player 1: 'Dino'. Old elo: 927'. New elo: 962.76263755246. exp: 0.2847472489508014
Player 1: 'Anders'. Old elo: 1087'. New elo: 1051.2373624475401. exp: 0.7152527510491987
89: Dino - Odin A.S.
Player 1: 'Dino'. Old elo: 963'. New elo: 978.3768303710241. exp: 0.6924633925795177
Player 1: 'Odin A.S.'. Old elo: 822'. New elo: 806.6231696289759. exp: 0.3075366074204823
90: Henrik - Odin A.S.
Player 1: 'Henrik'. Old elo: 1024'. New elo: 1035.1423447342636. exp: 0.777153105314726
Player 1: 'Odin A.S.'. Old elo: 807'. New elo: 795.8576552657363. exp: 0.22284689468527405
91: Magnus K.B. - Didrik
Player 1: 'Magnus K.B.'. Old elo: 1000'. New elo: 1027.4387167929872. exp: 0.4512256641402582
Player 1: 'Didrik'. Old elo: 1034'. New elo: 1006.5612832070129. exp: 0.5487743358597419
92: Didrik - Robert Tamang
Player 1: 'Didrik'. Old elo: 1007'. New elo: 994.5081740914321. exp: 0.24983651817135802
Player 1: 'Robert Tamang'. Old elo: 1198'. New elo: 1210.491825908568. exp: 0.750163481828642
93: Robert Tamang - Even
Player 1: 'Robert Tamang'. Old elo: 1211'. New elo: 1221.7486631500915. exp: 0.785026736998172
Player 1: 'Even'. Old elo: 986'. New elo: 975.2513368499086. exp: 0.21497326300182792
94: Robert Tamang - Even
Player 1: 'Robert Tamang'. Old elo: 1222'. New elo: 1231.763765325037. exp: 0.8047246934992595
Player 1: 'Even'. Old elo: 976'. New elo: 966.2362346749629. exp: 0.19527530650074057
95: Paul Frivold - Bo Woelfert
Player 1: 'Paul Frivold'. Old elo: 873'. New elo: 915.0746183461621. exp: 0.15850763307675816
Player 1: 'Bo Woelfert'. Old elo: 1163'. New elo: 1120.9253816538378. exp: 0.8414923669232418
96: Robert Tamang - Bo Woelfert
Player 1: 'Robert Tamang'. Old elo: 1232'. New elo: 1249.2740002808766. exp: 0.654519994382466
Player 1: 'Bo Woelfert'. Old elo: 1121'. New elo: 1103.7259997191234. exp: 0.34548000561753406
97: Odin A.S. - Andreas B.
Player 1: 'Odin A.S.'. Old elo: 796'. New elo: 786.8539417099987. exp: 0.18292116580002576
Player 1: 'Andreas B.'. Old elo: 1056'. New elo: 1065.1460582900013. exp: 0.8170788341999742
98: Sondre N.A. - Dino
Player 1: 'Sondre N.A.'. Old elo: 988'. New elo: 1012.3525427553568. exp: 0.5129491448928637
Player 1: 'Dino'. Old elo: 979'. New elo: 954.6474572446432. exp: 0.48705085510713625
99: Odin A.S. - Andreas B.
Player 1: 'Odin A.S.'. Old elo: 787'. New elo: 778.6431345130189. exp: 0.16713730973962054
Player 1: 'Andreas B.'. Old elo: 1066'. New elo: 1074.356865486981. exp: 0.8328626902603795
100: Eirik - Sisse
Player 1: 'Eirik'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Sisse'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
101: Robert Tamang - Bo Woelfert
Player 1: 'Robert Tamang'. Old elo: 1250'. New elo: 1265.072068679099. exp: 0.698558626418023
Player 1: 'Bo Woelfert'. Old elo: 1104'. New elo: 1088.927931320901. exp: 0.30144137358197703
102: Anders - Odin A.S.
Player 1: 'Anders'. Old elo: 1052'. New elo: 1060.6000309869414. exp: 0.8279993802611698
Player 1: 'Odin A.S.'. Old elo: 779'. New elo: 770.3999690130585. exp: 0.17200061973883018
103: Didrik - Mathias
Player 1: 'Didrik'. Old elo: 995'. New elo: 1015.5158248430025. exp: 0.5896835031399501
Player 1: 'Mathias'. Old elo: 932'. New elo: 911.4841751569975. exp: 0.41031649686004995
104: Mons - Harald Lønsethagen
Player 1: 'Mons'. Old elo: 1203'. New elo: 1218.3156041789018. exp: 0.6936879164219654
Player 1: 'Harald Lønsethagen'. Old elo: 1061'. New elo: 1045.6843958210982. exp: 0.3063120835780346
105: Harald Lønsethagen - Mons
Player 1: 'Harald Lønsethagen'. Old elo: 1046'. New elo: 1082.5122706648713. exp: 0.269754586702576
Player 1: 'Mons'. Old elo: 1219'. New elo: 1182.4877293351287. exp: 0.730245413297424
106: Harald Lønsethagen - Kristoffer H
Player 1: 'Harald Lønsethagen'. Old elo: 1083'. New elo: 1103.794952059316. exp: 0.584100958813678
Player 1: 'Kristoffer H'. Old elo: 1024'. New elo: 1003.2050479406839. exp: 0.41589904118632204
107: Andreas B. - Odin A.S.
Player 1: 'Andreas B.'. Old elo: 1075'. New elo: 1082.4025827073713. exp: 0.8519483458525737
Player 1: 'Odin A.S.'. Old elo: 771'. New elo: 763.5974172926287. exp: 0.14805165414742621
108: Magnus K.B. - Odin A.S.
Player 1: 'Magnus K.B.'. Old elo: 1028'. New elo: 1036.975239635679. exp: 0.820495207286423
Player 1: 'Odin A.S.'. Old elo: 764'. New elo: 755.0247603643212. exp: 0.17950479271357694
109: Kristoffer H - Odin A.S.
Player 1: 'Kristoffer H'. Old elo: 1004'. New elo: 1013.6736238591446. exp: 0.8065275228171078
Player 1: 'Odin A.S.'. Old elo: 756'. New elo: 746.3263761408554. exp: 0.19347247718289215
110: Anders - Odin A.S.
Player 1: 'Anders'. Old elo: 1061'. New elo: 1068.0468498811663. exp: 0.8590630023766738
Player 1: 'Odin A.S.'. Old elo: 747'. New elo: 739.9531501188337. exp: 0.14093699762332623
111: Fabian S. Rønningen - Odin A.S.
Player 1: 'Fabian S. Rønningen'. Old elo: 998'. New elo: 1007.232409235835. exp: 0.8153518152833006
Player 1: 'Odin A.S.'. Old elo: 740'. New elo: 730.767590764165. exp: 0.18464818471669944
112: Anders - Odin A.S.
Player 1: 'Anders'. Old elo: 1069'. New elo: 1025.2512346500819. exp: 0.8749753069983639
Player 1: 'Odin A.S.'. Old elo: 731'. New elo: 774.7487653499182. exp: 0.125024693001636
113: Sondre N.A. - Øyvind S.
Player 1: 'Sondre N.A.'. Old elo: 1013'. New elo: 1035.3476552415268. exp: 0.5530468951694625
Player 1: 'Øyvind S.'. Old elo: 976'. New elo: 953.6523447584731. exp: 0.4469531048305375
114: Sondre N.A. - Andreas B.
Player 1: 'Sondre N.A.'. Old elo: 1036'. New elo: 1014.3614422171476. exp: 0.4327711556570478
Player 1: 'Andreas B.'. Old elo: 1083'. New elo: 1104.6385577828523. exp: 0.5672288443429522
115: Edvard N - Mathias
Player 1: 'Edvard N'. Old elo: 1000'. New elo: 1018.7999120691167. exp: 0.6240017586176672
Player 1: 'Mathias'. Old elo: 912'. New elo: 893.2000879308833. exp: 0.37599824138233284
116: Edvard N - Mathias
Player 1: 'Edvard N'. Old elo: 1019'. New elo: 1035.3745178332508. exp: 0.672509643334985
Player 1: 'Mathias'. Old elo: 894'. New elo: 877.6254821667493. exp: 0.3274903566650149
117: Sondre N.A. - Paul Frivold
Player 1: 'Sondre N.A.'. Old elo: 1015'. New elo: 983.0631125444138. exp: 0.6387377491117249
Player 1: 'Paul Frivold'. Old elo: 916'. New elo: 947.9368874555862. exp: 0.3612622508882752
118: Robert Tamang - Paul Frivold
Player 1: 'Robert Tamang'. Old elo: 1266'. New elo: 1222.9086076210042. exp: 0.8618278475799177
Player 1: 'Paul Frivold'. Old elo: 948'. New elo: 991.0913923789959. exp: 0.13817215242008227
119: Robert Tamang - Paul Frivold
Player 1: 'Robert Tamang'. Old elo: 1223'. New elo: 1183.460094860138. exp: 0.7907981027972382
Player 1: 'Paul Frivold'. Old elo: 992'. New elo: 1031.539905139862. exp: 0.20920189720276192
120: Bo Woelfert - Amund
Player 1: 'Bo Woelfert'. Old elo: 1089'. New elo: 1056.9304944022192. exp: 0.641390111955618
Player 1: 'Amund'. Old elo: 988'. New elo: 1020.0695055977809. exp: 0.35860988804438204
121: Ole Andreas - Kristoffer H
Player 1: 'Ole Andreas'. Old elo: 976'. New elo: 1003.7234687010838. exp: 0.44553062597832394
Player 1: 'Kristoffer H'. Old elo: 1014'. New elo: 986.2765312989162. exp: 0.554469374021676
122: Didrik - Yohann
Player 1: 'Didrik'. Old elo: 1016'. New elo: 991.215861987753. exp: 0.49568276024494023
Player 1: 'Yohann'. Old elo: 1019'. New elo: 1043.784138012247. exp: 0.5043172397550598
123: Didrik - Yohann
Player 1: 'Didrik'. Old elo: 992'. New elo: 970.7140101827263. exp: 0.42571979634547563
Player 1: 'Yohann'. Old elo: 1044'. New elo: 1065.2859898172737. exp: 0.5742802036545245
124: Paul Frivold - Mathias
Player 1: 'Paul Frivold'. Old elo: 1032'. New elo: 1046.59168058594. exp: 0.7081663882812006
Player 1: 'Mathias'. Old elo: 878'. New elo: 863.40831941406. exp: 0.2918336117187994
125: Lars Erik - Mats
Player 1: 'Lars Erik'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
Player 1: 'Mats'. Old elo: 1000'. New elo: 975.0. exp: 0.5
126: Amund - Robert Tamang
Player 1: 'Amund'. Old elo: 1021'. New elo: 1056.937841494939. exp: 0.2812431701012181
Player 1: 'Robert Tamang'. Old elo: 1184'. New elo: 1148.062158505061. exp: 0.718756829898782
127: Amund - Robert Tamang
Player 1: 'Amund'. Old elo: 1057'. New elo: 1038.4694273608752. exp: 0.37061145278249774
Player 1: 'Robert Tamang'. Old elo: 1149'. New elo: 1167.5305726391248. exp: 0.6293885472175023
128: Hans - Aksel
Player 1: 'Hans'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
Player 1: 'Aksel'. Old elo: 1000'. New elo: 975.0. exp: 0.5
129: Hans - Lars Erik
Player 1: 'Hans'. Old elo: 1026'. New elo: 1051.0. exp: 0.5
Player 1: 'Lars Erik'. Old elo: 1026'. New elo: 1001.0. exp: 0.5
130: Kristoffer H - Truls
Player 1: 'Kristoffer H'. Old elo: 987'. New elo: 1012.9349888964779. exp: 0.48130022207044143
Player 1: 'Truls'. Old elo: 1000'. New elo: 974.0650111035221. exp: 0.5186997779295586
131: Kristoffer H - Magnus Aero
Player 1: 'Kristoffer H'. Old elo: 1013'. New elo: 1037.065011103522. exp: 0.5186997779295586
Player 1: 'Magnus Aero'. Old elo: 1000'. New elo: 975.9349888964779. exp: 0.48130022207044143
132: Andreas B. - Håkon M.
Player 1: 'Andreas B.'. Old elo: 1105'. New elo: 1122.6665578837192. exp: 0.6466688423256146
Player 1: 'Håkon M.'. Old elo: 1000'. New elo: 982.3334421162807. exp: 0.35333115767438533
133: Håkon Aero - Magnus Aero
Player 1: 'Håkon Aero'. Old elo: 1000'. New elo: 1023.2758027636585. exp: 0.5344839447268315
Player 1: 'Magnus Aero'. Old elo: 976'. New elo: 952.7241972363415. exp: 0.46551605527316847
134: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 971'. New elo: 1002.0648361561227. exp: 0.3787032768775454
Player 1: 'Bo Woelfert'. Old elo: 1057'. New elo: 1025.9351638438773. exp: 0.6212967231224545
135: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 1003'. New elo: 979.652569694222. exp: 0.46694860611555894
Player 1: 'Bo Woelfert'. Old elo: 1026'. New elo: 1049.3474303057778. exp: 0.5330513938844411
136: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 980'. New elo: 959.9698398354628. exp: 0.40060320329074317
Player 1: 'Bo Woelfert'. Old elo: 1050'. New elo: 1070.0301601645372. exp: 0.5993967967092568
137: Robert Tamang - Magnus Leinam
Player 1: 'Robert Tamang'. Old elo: 1168'. New elo: 1178.993519800342. exp: 0.7801296039931584
Player 1: 'Magnus Leinam'. Old elo: 948'. New elo: 937.006480199658. exp: 0.2198703960068415
138: Amund - Bo Woelfert
Player 1: 'Amund'. Old elo: 1039'. New elo: 1016.2960961390241. exp: 0.4540780772195163
Player 1: 'Bo Woelfert'. Old elo: 1071'. New elo: 1093.7039038609757. exp: 0.5459219227804837
139: Thomas O - Odin A.S.
Player 1: 'Thomas O'. Old elo: 1022'. New elo: 981.7186152978175. exp: 0.8056276940436502
Player 1: 'Odin A.S.'. Old elo: 775'. New elo: 815.2813847021825. exp: 0.19437230595634977
140: Thomas H - Kristoffer H
Player 1: 'Thomas H'. Old elo: 1011'. New elo: 987.9389046028585. exp: 0.46122190794282847
Player 1: 'Kristoffer H'. Old elo: 1038'. New elo: 1061.0610953971413. exp: 0.5387780920571715
141: Thomas H - Kristoffer H
Player 1: 'Thomas H'. Old elo: 988'. New elo: 1018.2456451003978. exp: 0.3950870979920432
Player 1: 'Kristoffer H'. Old elo: 1062'. New elo: 1031.754354899602. exp: 0.6049129020079569

142: Sondre N.A. - Lars Erik
Player 1: 'Sondre N.A.'. Old elo: 984'. New elo: 960.2940465445585. exp: 0.4741190691088309
Player 1: 'Lars Erik'. Old elo: 1002'. New elo: 1025.7059534554417. exp: 0.525880930891169
143: Ole Andreas - Kristoffer H
Player 1: 'Ole Andreas'. Old elo: 1004'. New elo: 1031.0104114161873. exp: 0.45979177167625435
Player 1: 'Kristoffer H'. Old elo: 1032'. New elo: 1004.9895885838127. exp: 0.5402082283237456
144: Aksel - Lars Erik
Player 1: 'Aksel'. Old elo: 976'. New elo: 954.5731558704191. exp: 0.4285368825916186
Player 1: 'Lars Erik'. Old elo: 1026'. New elo: 1047.426844129581. exp: 0.5714631174083814
145: Didrik - Yohann
Player 1: 'Didrik'. Old elo: 960'. New elo: 942.3991506625152. exp: 0.3520169867496943
Player 1: 'Yohann'. Old elo: 1066'. New elo: 1083.6008493374848. exp: 0.6479830132503057
146: Robert Tamang - Mats
Player 1: 'Robert Tamang'. Old elo: 1179'. New elo: 1190.8557509847374. exp: 0.7628849803052542
Player 1: 'Mats'. Old elo: 976'. New elo: 964.1442490152627. exp: 0.23711501969474583
147: Kristoffer H - Ole Andreas
Player 1: 'Kristoffer H'. Old elo: 1005'. New elo: 1031.9389046028587. exp: 0.46122190794282847
Player 1: 'Ole Andreas'. Old elo: 1032'. New elo: 1005.0610953971415. exp: 0.5387780920571715
148: Kristoffer H - Fredrik C
Player 1: 'Kristoffer H'. Old elo: 1032'. New elo: 1051.2749319495722. exp: 0.6145013610085578
Player 1: 'Fredrik C'. Old elo: 951'. New elo: 931.7250680504279. exp: 0.3854986389914422
149: Kristoffer H - Fredrik C
Player 1: 'Kristoffer H'. Old elo: 1052'. New elo: 1018.6930287708439. exp: 0.6661394245831221
Player 1: 'Fredrik C'. Old elo: 932'. New elo: 965.3069712291561. exp: 0.3338605754168779
150: Kristoffer H - Fredrik C
Player 1: 'Kristoffer H'. Old elo: 1019'. New elo: 990.2156523811785. exp: 0.5756869523764296
Player 1: 'Fredrik C'. Old elo: 966'. New elo: 994.7843476188215. exp: 0.4243130476235704
151: Kristoffer H - Fredrik C
Player 1: 'Kristoffer H'. Old elo: 991'. New elo: 966.2878104205572. exp: 0.49424379158885506
Player 1: 'Fredrik C'. Old elo: 995'. New elo: 1019.7121895794428. exp: 0.5057562084111449
152: Håkon M. - Yohann
Player 1: 'Håkon M.'. Old elo: 983'. New elo: 1015.0695055977809. exp: 0.35860988804438204
Player 1: 'Yohann'. Old elo: 1084'. New elo: 1051.9304944022192. exp: 0.641390111955618
153: Amund - Bo Woelfert
Player 1: 'Amund'. Old elo: 1017'. New elo: 997.451630170212. exp: 0.39096739659576046
Player 1: 'Bo Woelfert'. Old elo: 1094'. New elo: 1113.548369829788. exp: 0.6090326034042396
154: Fabian S. Rønningen - Odin A.S.
Player 1: 'Fabian S. Rønningen'. Old elo: 1008'. New elo: 1020.4379603233144. exp: 0.7512407935337106
Player 1: 'Odin A.S.'. Old elo: 816'. New elo: 803.5620396766856. exp: 0.2487592064662893
155: Fabian S. Rønningen - Henrik
Player 1: 'Fabian S. Rønningen'. Old elo: 1021'. New elo: 1047.0786666525573. exp: 0.47842666694885455
Player 1: 'Henrik'. Old elo: 1036'. New elo: 1009.9213333474427. exp: 0.5215733330511455
156: Henrik - Odin A.S.
Player 1: 'Henrik'. Old elo: 1010'. New elo: 1021.7002664616756. exp: 0.7659946707664889
Player 1: 'Odin A.S.'. Old elo: 804'. New elo: 792.2997335383244. exp: 0.2340053292335112
157: Kristoffer H - Ole Andreas
Player 1: 'Kristoffer H'. Old elo: 967'. New elo: 994.7945480558426. exp: 0.4441090388831469
Player 1: 'Ole Andreas'. Old elo: 1006'. New elo: 978.2054519441574. exp: 0.5558909611168531
158: Andreas B. - Odin A.S.
Player 1: 'Andreas B.'. Old elo: 1123'. New elo: 1129.5075025462845. exp: 0.8698499490743091
Player 1: 'Odin A.S.'. Old elo: 793'. New elo: 786.4924974537155. exp: 0.13015005092569085
159: Fabian S. Rønningen - Odin A.S.
Player 1: 'Fabian S. Rønningen'. Old elo: 1048'. New elo: 1057.1031184470942. exp: 0.8179376310581157
Player 1: 'Odin A.S.'. Old elo: 787'. New elo: 777.8968815529058. exp: 0.18206236894188432
160: Fabian S. Rønningen - Henrik
Player 1: 'Fabian S. Rønningen'. Old elo: 1058'. New elo: 1080.418822634452. exp: 0.5516235473109605
Player 1: 'Henrik'. Old elo: 1022'. New elo: 999.581177365548. exp: 0.4483764526890395
161: Mats - Odin A.S.
Player 1: 'Mats'. Old elo: 965'. New elo: 977.708839582475. exp: 0.7458232083504994
Player 1: 'Odin A.S.'. Old elo: 778'. New elo: 765.291160417525. exp: 0.2541767916495005
162: Mats - Henrik
Player 1: 'Mats'. Old elo: 978'. New elo: 1004.5809148914053. exp: 0.46838170217189273
Player 1: 'Henrik'. Old elo: 1000'. New elo: 973.4190851085947. exp: 0.5316182978281073
163: Andreas B. - Odin A.S.
Player 1: 'Andreas B.'. Old elo: 1130'. New elo: 1135.4774680638538. exp: 0.8904506387229247
Player 1: 'Odin A.S.'. Old elo: 766'. New elo: 760.5225319361463. exp: 0.10954936127707525
164: Robert Tamang - Ole Marius
Player 1: 'Robert Tamang'. Old elo: 1191'. New elo: 1203.491825908568. exp: 0.750163481828642
Player 1: 'Ole Marius'. Old elo: 1000'. New elo: 987.5081740914321. exp: 0.24983651817135802
165: Harald Lønsethagen - Mathias
Player 1: 'Harald Lønsethagen'. Old elo: 1104'. New elo: 1114.0380004456551. exp: 0.7992399910868982
Player 1: 'Mathias'. Old elo: 864'. New elo: 853.9619995543449. exp: 0.20076000891310175
166: Robert Tamang - Ole Marius
Player 1: 'Robert Tamang'. Old elo: 1204'. New elo: 1215.1922712329085. exp: 0.7761545753418307
Player 1: 'Ole Marius'. Old elo: 988'. New elo: 976.8077287670916. exp: 0.22384542465816928
167: Kristoffer H - Ole Andreas
Player 1: 'Kristoffer H'. Old elo: 995'. New elo: 968.8495206351218. exp: 0.5230095872975623
Player 1: 'Ole Andreas'. Old elo: 979'. New elo: 1005.1504793648782. exp: 0.4769904127024377
168: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 943'. New elo: 929.3985756772098. exp: 0.2720284864558038
Player 1: 'Bo Woelfert'. Old elo: 1114'. New elo: 1127.60142432279. exp: 0.7279715135441962
169: Fabian S. Rønningen - Odin A.S.
Player 1: 'Fabian S. Rønningen'. Old elo: 1081'. New elo: 1087.8403444301605. exp: 0.8631931113967899
Player 1: 'Odin A.S.'. Old elo: 761'. New elo: 754.1596555698395. exp: 0.13680688860321
170: Henrik - Odin A.S.
Player 1: 'Henrik'. Old elo: 974'. New elo: 985.0429689590266. exp: 0.7791406208194696
Player 1: 'Odin A.S.'. Old elo: 755'. New elo: 743.9570310409734. exp: 0.22085937918053045
171: Thomas O - Odin A.S.
Player 1: 'Thomas O'. Old elo: 982'. New elo: 942.1306842986148. exp: 0.7973863140277038
Player 1: 'Odin A.S.'. Old elo: 744'. New elo: 783.8693157013852. exp: 0.20261368597229626
172: Håkon M. - Thomas O
Player 1: 'Håkon M.'. Old elo: 1016'. New elo: 1035.8231840736912. exp: 0.6035363185261781
Player 1: 'Thomas O'. Old elo: 943'. New elo: 923.1768159263089. exp: 0.39646368147382194
173: Amund - Odin A.S.
Player 1: 'Amund'. Old elo: 998'. New elo: 1009.2926011149085. exp: 0.7741479777018306
Player 1: 'Odin A.S.'. Old elo: 784'. New elo: 772.7073988850915. exp: 0.22585202229816936
174: Amund - Bo Woelfert
Player 1: 'Amund'. Old elo: 1010'. New elo: 993.1787049020647. exp: 0.33642590195870453
Player 1: 'Bo Woelfert'. Old elo: 1128'. New elo: 1144.8212950979353. exp: 0.6635740980412955
175: Amund - Bo Woelfert
Player 1: 'Amund'. Old elo: 994'. New elo: 979.229229633136. exp: 0.29541540733727906
Player 1: 'Bo Woelfert'. Old elo: 1145'. New elo: 1159.7707703668639. exp: 0.704584592662721
176: Robert Tamang - Mats
Player 1: 'Robert Tamang'. Old elo: 1216'. New elo: 1227.4442869656202. exp: 0.7711142606875975
Player 1: 'Mats'. Old elo: 1005'. New elo: 993.5557130343799. exp: 0.22888573931240266
177: Henrik - Odin A.S.
Player 1: 'Henrik'. Old elo: 986'. New elo: 997.3430043461616. exp: 0.7731399130767673
Player 1: 'Odin A.S.'. Old elo: 773'. New elo: 761.6569956538384. exp: 0.2268600869232327
178: Henrik - Mats
Player 1: 'Henrik'. Old elo: 998'. New elo: 1022.7121895794428. exp: 0.5057562084111449
Player 1: 'Mats'. Old elo: 994'. New elo: 969.2878104205572. exp: 0.49424379158885506
179: Anders - Odin A.S.
Player 1: 'Anders'. Old elo: 1026'. New elo: 1034.975239635679. exp: 0.820495207286423
Player 1: 'Odin A.S.'. Old elo: 762'. New elo: 753.0247603643212. exp: 0.17950479271357694
180: Fabian S. Rønningen - Odin A.S.
Player 1: 'Fabian S. Rønningen'. Old elo: 1088'. New elo: 1094.378269818212. exp: 0.8724346036357598
Player 1: 'Odin A.S.'. Old elo: 754'. New elo: 747.6217301817879. exp: 0.12756539636424022
181: Henrik - Odin A.S.
Player 1: 'Henrik'. Old elo: 1023'. New elo: 981.5183588284328. exp: 0.8296328234313434
Player 1: 'Odin A.S.'. Old elo: 748'. New elo: 789.4816411715672. exp: 0.17036717656865663
182: Anders - Odin A.S.
Player 1: 'Anders'. Old elo: 1035'. New elo: 1044.8090740287657. exp: 0.8038185194246843
Player 1: 'Odin A.S.'. Old elo: 790'. New elo: 780.1909259712343. exp: 0.19618148057531573
183: Bo Woelfert - Odin A.S.
Player 1: 'Bo Woelfert'. Old elo: 1160'. New elo: 1165.0702985554508. exp: 0.8985940288909822
Player 1: 'Odin A.S.'. Old elo: 781'. New elo: 775.9297014445491. exp: 0.10140597110901775
184: Thomas H - Bo Woelfert
Player 1: 'Thomas H'. Old elo: 1019'. New elo: 1053.9884701631029. exp: 0.3002305967379419
Player 1: 'Bo Woelfert'. Old elo: 1166'. New elo: 1131.0115298368971. exp: 0.6997694032620582
185: Didrik - Bo Woelfert
Player 1: 'Didrik'. Old elo: 930'. New elo: 968.0921054958968. exp: 0.238157890082064
Player 1: 'Bo Woelfert'. Old elo: 1132'. New elo: 1093.9078945041033. exp: 0.761842109917936

    first_name   last_name  short_name  joined_date   id   elo
0        Amund         NaN          rt     17-09-08    1   980
1       Anders         NaN         mbe     17-09-08    2  1045
2   Andreas B.         NaN         NaN     17-09-07    3  1136
3   Andreas H.         NaN         NaN     17-09-06    4  1026
4  Bo Woelfert         NaN         NaN     17-09-06    5  1094

In [83]:
elo_df

             first_name   last_name  short_name  joined_date   id   elo
0                 Amund         NaN          rt     17-09-08    1   980
1                Anders         NaN         mbe     17-09-08    2  1045
2            Andreas B.         NaN         NaN     17-09-07    3  1136
3            Andreas H.         NaN         NaN     17-09-06    4  1026
4           Bo Woelfert         NaN         NaN     17-09-06    5  1094
5                Didrik         NaN         NaN     17-09-04    6   969
6                  Dino         NaN         NaN     17-09-03    7   955
7              Eirik B.         NaN         NaN     17-09-02    8   958
8                  Even         NaN         NaN     17-09-02    9   967
9   Fabian S. Rønningen         NaN         NaN     17-09-01   10  1095
10            Fredrik C         NaN         NaN     17-09-22   11  1020
11                Jakob         NaN         NaN     17-09-21   12   988
12                 John         NaN         NaN     17-09-20   13   976
13         Kristoffer H         NaN         NaN     17-09-19   14   969
14                Lasse         NaN         NaN     17-09-18   15   957
15          Magnus G.L.         NaN         NaN     17-09-17   16  1025
16        Magnus Leinam         NaN         NaN     17-09-16   17   938
17               Marcus         NaN         NaN     17-09-15   18   999
18              Mathias         NaN         NaN     17-09-14   19   854
19                 Mons         NaN         NaN     17-09-13   20  1183
20            Odin A.S.         NaN         NaN     17-09-12   21   776
21          Ole Andreas         NaN         NaN     17-09-11   22  1006
22              Øystein         NaN         NaN     17-09-10   23   990
23            Øyvind S.         NaN         NaN      17-09-9   24   954
24        Robert Tamang         NaN         NaN      17-09-8   25  1228
25               Sondre         NaN         NaN      17-09-7   26   975
26          Sondre N.A.         NaN         NaN      17-09-6   27   961
27             Thomas F         NaN         NaN      17-09-5   28   976
28             Thomas H         NaN         NaN      17-09-3   29  1054
29               Yohann         NaN         NaN      17-09-2   30  1052
30         Paul Frivold         NaN         NaN      17-09-2   31  1047
31               Henrik         NaN         NaN      17-09-2   32   982
32             Thomas O         NaN         NaN     17-09-24   33   924
33                 Aida         NaN         NaN     17-09-24   34   976
34             Cornelia         NaN         NaN     17-09-24   35  1009
35   Harald Lønsethagen         NaN         NaN     17-09-25   36  1115
36              Martine         NaN         NaN     17-09-26   37   973
37                Eirik         NaN         NaN     17-09-28   38   976
38                Sisse         NaN         NaN     17-09-28   39  1026
39          Magnus K.B.         NaN         NaN     17-09-27   40  1037
40          Magnus Aero         NaN         NaN     17-10-03   41   953
41           Håkon Aero         NaN         NaN     17-10-03   42  1024
42             Edvard N         NaN         NaN     17-10-02   43  1036
43            Lars Erik         NaN         NaN     17-10-03   44  1048
44                 Mats         NaN         NaN     17-10-03   45   970
45                Aksel         NaN         NaN     17-10-03   46   955
46                 Hans         NaN         NaN     17-10-03   47  1052
47                Truls         NaN         NaN     17-10-03   48   975
48             Håkon M.         NaN         NaN     17-10-03   49  1036
49           Ole Marius         NaN         NaN     17-10-18   50   977

In [84]:
temp_df = elo_df.sort_values('elo', ascending=False)[['first_name','elo']]
temp_df

             first_name   elo
24        Robert Tamang  1228
19                 Mons  1183
2            Andreas B.  1136
35   Harald Lønsethagen  1115
9   Fabian S. Rønningen  1095
4           Bo Woelfert  1094
28             Thomas H  1054
29               Yohann  1052
46                 Hans  1052
43            Lars Erik  1048
30         Paul Frivold  1047
1                Anders  1045
39          Magnus K.B.  1037
42             Edvard N  1036
48             Håkon M.  1036
38                Sisse  1026
3            Andreas H.  1026
15          Magnus G.L.  1025
41           Håkon Aero  1024
10            Fredrik C  1020
34             Cornelia  1009
21          Ole Andreas  1006
17               Marcus   999
22              Øystein   990
11                Jakob   988
31               Henrik   982
0                 Amund   980
49           Ole Marius   977
27             Thomas F   976
33                 Aida   976
12                 John   976
37                Eirik   976
47                Truls   975
25               Sondre   975
36              Martine   973
44                 Mats   970
5                Didrik   969
13         Kristoffer H   969
8                  Even   967
26          Sondre N.A.   961
7              Eirik B.   958
14                Lasse   957
45                Aksel   955
6                  Dino   955
23            Øyvind S.   954
40          Magnus Aero   953
16        Magnus Leinam   938
32             Thomas O   924
18              Mathias   854
20            Odin A.S.   776

# Save ELO-leaderboard to a csv file

In [41]:
temp_df.to_csv("elo_leaderboard.csv")

# Notes

In [54]:
elo_df = elo_df.reset_index()

In [55]:
elo_df[elo_df['first_name'] == "Harald"]['elo']

0    1001
Name: elo, dtype: int64

In [56]:
elo_df = elo_df.set_index('first_name')
elo_df.set_value('Harald', 'elo', 3902)
elo_df.reset_index()

  first_name  index     last_name  short_name  joined_date   id   elo
0     Harald      0   Lønsethagen         hlø     17-09-05    1  3902
1    Mathias      1    Becksæther         mbe     17-09-05    2  1001

In [57]:
elo_df = elo_df.reset_index()

In [58]:
elo_df = elo_df.set_index('first_name')
elo_df.set_value('Harald', 'elo', 900)

            index     last_name  short_name  joined_date   id   elo
first_name
Harald          0   Lønsethagen         hlø     17-09-05    1   900
Mathias         1    Becksæther         mbe     17-09-05    2  1001

In [59]:
exp  = expected(1613, 1609)
exp += expected(1613, 1477)
exp

1.1920564660944573

In [23]:
elo(1613, exp, 2, k=32)  # 1601

1638.8541930849774

In [24]:
a = expected(1613, 1609)
temp_elo = elo(1613, a, 1, k=32)
print("temp_elo: " + str(temp_elo))
a = expected(temp_elo, 1477)
temp_elo = elo(temp_elo, a , 1, k=32)
print("temp_elo after second match: " + str(temp_elo))

temp_elo: 1628.8158013308434
temp_elo after second match: 1638.2378451931402

In [ ]:
# Defining new elo_table with

# ===============
#          Notes 
# ===============

## Defining usefull DataFrames with Pandas
- All played matches

In [9]:
#matches_df = pd.dataFrame()
item_1 = pd.Series({'timestamp': '00-00-00',
                        'Player 1': 'Harald',
                        'Player 2': 'Petter',
                        'Winner': 'Harald'})
matches_df = pd.DataFrame([item_1])
matches_df.to_csv("matches.csv")
matches_df

  Player 1 Player 2  Winner timestamp
0   Harald   Petter  Harald  00-00-00