# Revolve Tatbletennis ELO ladder
# Author: Harald Lønsethagen
# Started: 28.08.2017

## Importing Libraries

In [32]:
import pandas as pd
import numpy as np
import matplotlib as plot

## Defining usefull functions

In [33]:
def expected(A, B):
    """
    Calculate expected score of A in a match against B
    :param A: Elo rating for player A
    :param B: Elo rating for player B
    """
    return 1 / (1 + 10 ** ((B - A) / 400))


def elo(old, exp, score, k=32):
    """
    Calculate the new Elo rating for a player
    :param old: The previous Elo rating
    :param exp: The expected score for this match
    :param score: The actual score for this match
    :param k: The k-factor for Elo (default: 32)
    """
    return old + k * (score - exp)

## Importing all played matches

In [34]:
matches_df = pd.read_csv("matches.csv")
print("Matches: " + str(matches_df.shape[0]))
matches_df

Matches: 105

          Player 1             Player 2               Winner   timestamp
0     Paul Frivold        Robert Tamang        Robert Tamang  2017-09-08
1     Paul Frivold          Bo Woelfert          Bo Woelfert  2017-09-08
2             Mons          Ole Andreas                 Mons  2017-09-09
3             Mons             Eirik B.                 Mons  2017-09-09
4             Mons             Eirik B.                 Mons  2017-09-09
5     Paul Frivold                 Dino         Paul Frivold  2017-09-09
6     Paul Frivold                 Mons                 Mons  2017-09-09
7      Bo Woelfert                 Dino          Bo Woelfert  2017-09-09
8            Jakob                 Mons                 Mons  2017-09-10
9             Mons               Yohann                 Mons  2017-09-10
10          Didrik          Bo Woelfert          Bo Woelfert  2017-09-10
11   Robert Tamang        Magnus Leinam        Robert Tamang  2017-09-11
12          Didrik          Bo Woelfert          Bo Woelfert  2017-09-11
13            Mons             Thomas H                 Mons  2017-09-11
14        Thomas H            Fredrik C             Thomas H  2017-09-11
15       Fredrik C         Kristoffer H            Fredric C  2017-09-11
16          Didrik          Bo Woelfert               Didrik  2017-09-11
17          Didrik               Sondre               Didrik  2017-09-11
18            Dino          Sondre N.A.          Sondre N.A.  2017-09-12
19          Yohann                 Mons               Yohann  2017-09-12
20   Robert Tamang                 Even        Robert Tamang  2017-09-12
21          Didrik          Bo Woelfert               Didrik  2017-09-12
22          Didrik         Paul Frivold               Didrik  2017-09-12
23           Amund             Thomas F                Amund  2017-09-13
24          Didrik          Bo Woelfert          Bo Woelfert  2017-09-14
25     Sondre N.A.                 Dino          Sondre N.A.  2017-09-17
26       Odin A.S.  Fabian S. Rønningen  Fabian S. Rønningen  2017-09-18
27          Didrik          Bo Woelfert               Didrik  2017-09-19
28          Didrik          Bo Woelfert          Bo Woelfert  2017-09-19
29   Robert Tamang        Magnus Leinam        Robert Tamang  2017-09-19
..             ...                  ...                  ...         ...
75    Paul Frivold          Bo Woelfert          Bo Woelfert  2017-09-25
76       Odin A.S.           Andreas B.           Andreas B.  2017-09-26
77     Sondre N.A.                 Dino                 Dino  2017-09-26
78   Robert Tamang               Marcus        Robert Tamang  2017-09-26
79       Odin A.S.           Andreas B.           Andreas B.  2017-09-26
80       Odin A.S.           Andreas B.           Andreas B.  2017-09-26
81          Didrik          Bo Woelfert          Bo Woelfert  2017-09-26
82          Didrik        Robert Tamang        Robert Tamang  2017-09-26
83          Didrik        Robert Tamang        Robert Tamang  2017-09-26
84   Robert Tamang   Harald Lønsethagen   Harald Lønsethagen  2017-09-26
85            Even              Martine                 Even  2017-09-26
86   Robert Tamang                 Even        Robert Tamang  2017-09-26
87       Odin A.S.               Anders               Anders  2017-09-26
88            Dino               Anders                 Dino  2017-09-26
89            Dino            Odin A.S.                 Dino  2017-09-26
90          Henrik            Odin A.S.               Henrik  2017-09-27
91     Magnus R.B.               Didrik          Magnus R.B.  2017-09-27
92          Didrik        Robert Tamang        Robert Tamang  2017-09-27
93   Robert Tamang                 Even        Robert Tamang  2017-09-27
94   Robert Tamang                 Even        Robert Tamang  2017-09-27
95    Paul Frivold          Bo Woelfert         Paul Frivold  2017-09-27
96   Robert Tamang          Bo Woelfert        Robert Tamang  2017-09-28
97       Odin A.S.           Andreas B.           Andreas B.  2017-09-28
98     Sondre N.A.                 Dino          Sondre N.A.  2017-09-28
99       Odin A.S.           Andreas B.           Andreas B.  2017-09-28
100          Eirik                Sisse                Sisse  2017-09-28
101  Robert Tamang          Bo Woelfert        Robert Tamang  2017-09-28
102         Anders            Odin A.S.               Anders  2017-09-28
103         Didrik              Mathias               Didrik  2017-09-28
104           Mons   Harald Lønsethagen                 Mons  2017-09-29

[105 rows x 4 columns]

## Importing all players

In [35]:
players_df = pd.read_csv("players.csv")
players_df

             first_name   last_name  short_name  joined_date   id
0                 Amund         NaN          rt     17-09-08    1
1                Anders         NaN         mbe     17-09-08    2
2            Andreas B.         NaN         NaN     17-09-07    3
3            Andreas H.         NaN         NaN     17-09-06    4
4           Bo Woelfert         NaN         NaN     17-09-06    5
5                Didrik         NaN         NaN     17-09-04    6
6                  Dino         NaN         NaN     17-09-03    7
7              Eirik B.         NaN         NaN     17-09-02    8
8                  Even         NaN         NaN     17-09-02    9
9   Fabian S. Rønningen         NaN         NaN     17-09-01   10
10            Fredrik C         NaN         NaN     17-09-22   11
11                Jakob         NaN         NaN     17-09-21   12
12                 John         NaN         NaN     17-09-20   13
13         Kristoffer H         NaN         NaN     17-09-19   14
14                Lasse         NaN         NaN     17-09-18   15
15          Magnus G.L.         NaN         NaN     17-09-17   16
16        Magnus Leinam         NaN         NaN     17-09-16   17
17               Marcus         NaN         NaN     17-09-15   18
18              Mathias         NaN         NaN     17-09-14   19
19                 Mons         NaN         NaN     17-09-13   20
20            Odin A.S.         NaN         NaN     17-09-12   21
21          Ole Andreas         NaN         NaN     17-09-11   22
22              Øystein         NaN         NaN     17-09-10   23
23            Øyvind S.         NaN         NaN      17-09-9   24
24        Robert Tamang         NaN         NaN      17-09-8   25
25               Sondre         NaN         NaN      17-09-7   26
26          Sondre N.A.         NaN         NaN      17-09-6   27
27             Thomas F         NaN         NaN      17-09-5   28
28             Thomas H         NaN         NaN      17-09-3   29
29               Yohann         NaN         NaN      17-09-2   30
30         Paul Frivold         NaN         NaN      17-09-2   31
31               Henrik         NaN         NaN      17-09-2   32
32             Thomas O         NaN         NaN     17-09-24   33
33                 Aida         NaN         NaN     17-09-24   34
34             Cornelia         NaN         NaN     17-09-24   35
35   Harald Lønsethagen         NaN         NaN     17-09-25   36
36              Martine         NaN         NaN     17-09-26   37
37                Eirik         NaN         NaN     17-09-28   38
38                Sisse         NaN         NaN     17-09-28   39
39          Magnus R.B.         NaN         NaN     17-09-27   40

## ELO-ladder Dataframe containing the ELO-score to each player

In [36]:
elo_df = players_df
elo_df['elo'] = 1000
elo_df.head()

    first_name   last_name  short_name  joined_date   id   elo
0        Amund         NaN          rt     17-09-08    1  1000
1       Anders         NaN         mbe     17-09-08    2  1000
2   Andreas B.         NaN         NaN     17-09-07    3  1000
3   Andreas H.         NaN         NaN     17-09-06    4  1000
4  Bo Woelfert         NaN         NaN     17-09-06    5  1000

# Function for calculating ELO

In [37]:
matches_df.iloc(1)[0]

Player 1      Paul Frivold
Player 2     Robert Tamang
Winner       Robert Tamang
timestamp       2017-09-08
Name: 0, dtype: object

In [38]:
length = matches_df.shape[0]
print("Number of matches: " + str(length) + "\n")
for i in range(length):
    print(i)
    match = matches_df.iloc[i]
    print(match)
    player_1 = match["Player 1"]
    player_2 = match["Player 2"]
    elo_rating_a = elo_df[elo_df['first_name'] == player_1]['elo']
    elo_rating_b = elo_df[elo_df['first_name'] == player_2]['elo']

    if(elo_rating_a.shape[0] == 0):
        print("========================================================================")
        print("Player named '" + str(player_1) + "' is NOT FOUND in the player database. ")
        print("========================================================================")
        break
    if(elo_rating_b.shape[0] == 0):
        print("========================================================================")
        print("Player named '" + str(player_2) + "' is NOT FOUND in the player database. ")
        print("========================================================================")
        break
    elo_rating_a = int(elo_rating_a.values[0])
    elo_rating_b = int(elo_rating_b.values[0])
    
    
    if(match['Winner'] == player_1): 
        winner_a = 1
        winner_b = 0
    else:
        winner_a = 0
        winner_b = 1
    expected_a  = expected(elo_rating_a, elo_rating_b)
    expected_b  = expected(elo_rating_b, elo_rating_a)
    
    new_elo_a = elo(elo_rating_a, expected_a, winner_a, k = 50)
    new_elo_b = elo(elo_rating_b, expected_b, winner_b, k = 50)
    print("New elo a: " + str(new_elo_a))
    print("New elo b: " + str(new_elo_b))
    print("Player 1: '" + player_1 + "'. Old elo: " + str(elo_rating_a) + "'. New elo: " + str(new_elo_a) + ". exp: " + str(expected_a) + " " )
    print("Player 1: '" + player_2 + "'. Old elo: " + str(elo_rating_b) + "'. New elo: " + str(new_elo_b) + ". exp: " + str(expected_b) + " " )
    elo_df = elo_df.set_index('first_name')
    elo_df = elo_df.set_value(player_1, 'elo', new_elo_a + 1)
    elo_df = elo_df.set_value(player_2, 'elo', new_elo_b + 1)
    elo_df = elo_df.reset_index()
    
elo_df.head()

Number of matches: 105

0
Player 1      Paul Frivold
Player 2     Robert Tamang
Winner       Robert Tamang
timestamp       2017-09-08
Name: 0, dtype: object
New elo a: 975.0
New elo b: 1025.0
Player 1: 'Paul Frivold'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Robert Tamang'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
1
Player 1     Paul Frivold
Player 2      Bo Woelfert
Winner        Bo Woelfert
timestamp      2017-09-08
Name: 1, dtype: object
New elo a: 952.7241972363415
New elo b: 1023.2758027636585
Player 1: 'Paul Frivold'. Old elo: 976'. New elo: 952.7241972363415. exp: 0.46551605527316847
Player 1: 'Bo Woelfert'. Old elo: 1000'. New elo: 1023.2758027636585. exp: 0.5344839447268315
2
Player 1            Mons
Player 2     Ole Andreas
Winner              Mons
timestamp     2017-09-09
Name: 2, dtype: object
New elo a: 1025.0
New elo b: 975.0
Player 1: 'Mons'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
Player 1: 'Ole Andreas'. Old elo: 1000'. New elo: 975.0. exp: 0.5
3
Player 1           Mons
Player 2       Eirik B.
Winner             Mons
timestamp    2017-09-09
Name: 3, dtype: object
New elo a: 1049.1326341416755
New elo b: 976.8673658583247
Player 1: 'Mons'. Old elo: 1026'. New elo: 1049.1326341416755. exp: 0.5373473171664928
Player 1: 'Eirik B.'. Old elo: 1000'. New elo: 976.8673658583247. exp: 0.4626526828335072
4
Player 1           Mons
Player 2       Eirik B.
Winner             Mons
timestamp    2017-09-09
Name: 4, dtype: object
New elo a: 1069.8231840736912
New elo b: 957.1768159263089
Player 1: 'Mons'. Old elo: 1050'. New elo: 1069.8231840736912. exp: 0.6035363185261781
Player 1: 'Eirik B.'. Old elo: 977'. New elo: 957.1768159263089. exp: 0.39646368147382194
5
Player 1     Paul Frivold
Player 2             Dino
Winner       Paul Frivold
timestamp      2017-09-09
Name: 5, dtype: object
New elo a: 981.3614422171476
New elo b: 971.6385577828524
Player 1: 'Paul Frivold'. Old elo: 953'. New elo: 981.3614422171476. exp: 0.4327711556570478
Player 1: 'Dino'. Old elo: 1000'. New elo: 971.6385577828524. exp: 0.5672288443429522
6
Player 1     Paul Frivold
Player 2             Mons
Winner               Mons
timestamp      2017-09-09
Name: 6, dtype: object
New elo a: 963.2000879308833
New elo b: 1088.7999120691165
Player 1: 'Paul Frivold'. Old elo: 982'. New elo: 963.2000879308833. exp: 0.37599824138233284
Player 1: 'Mons'. Old elo: 1070'. New elo: 1088.7999120691165. exp: 0.6240017586176672
7
Player 1     Bo Woelfert
Player 2            Dino
Winner       Bo Woelfert
timestamp     2017-09-09
Name: 7, dtype: object
New elo a: 1045.2859898172737
New elo b: 950.7140101827263
Player 1: 'Bo Woelfert'. Old elo: 1024'. New elo: 1045.2859898172737. exp: 0.5742802036545245
Player 1: 'Dino'. Old elo: 972'. New elo: 950.7140101827263. exp: 0.42571979634547563
8
Player 1          Jakob
Player 2           Mons
Winner             Mons
timestamp    2017-09-10
Name: 8, dtype: object
New elo a: 981.2675696653769
New elo b: 1107.7324303346231
Player 1: 'Jakob'. Old elo: 1000'. New elo: 981.2675696653769. exp: 0.3746486066924632
Player 1: 'Mons'. Old elo: 1089'. New elo: 1107.7324303346231. exp: 0.6253513933075368
9
Player 1           Mons
Player 2         Yohann
Winner             Mons
timestamp    2017-09-10
Name: 9, dtype: object
New elo a: 1125.4697686033064
New elo b: 982.5302313966936
Player 1: 'Mons'. Old elo: 1108'. New elo: 1125.4697686033064. exp: 0.6506046279338725
Player 1: 'Yohann'. Old elo: 1000'. New elo: 982.5302313966936. exp: 0.3493953720661275
10
Player 1          Didrik
Player 2     Bo Woelfert
Winner       Bo Woelfert
timestamp     2017-09-10
Name: 10, dtype: object
New elo a: 978.2907601534616
New elo b: 1067.7092398465384
Player 1: 'Didrik'. Old elo: 1000'. New elo: 978.2907601534616. exp: 0.43418479693076684
Player 1: 'Bo Woelfert'. Old elo: 1046'. New elo: 1067.7092398465384. exp: 0.5658152030692333
11
Player 1     Robert Tamang
Player 2     Magnus Leinam
Winner       Robert Tamang
timestamp       2017-09-11
Name: 11, dtype: object
New elo a: 1049.1326341416755
New elo b: 976.8673658583247
Player 1: 'Robert Tamang'. Old elo: 1026'. New elo: 1049.1326341416755. exp: 0.5373473171664928
Player 1: 'Magnus Leinam'. Old elo: 1000'. New elo: 976.8673658583247. exp: 0.4626526828335072
12
Player 1          Didrik
Player 2     Bo Woelfert
Winner       Bo Woelfert
timestamp     2017-09-11
Name: 12, dtype: object
New elo a: 960.2675696653769
New elo b: 1086.7324303346231
Player 1: 'Didrik'. Old elo: 979'. New elo: 960.2675696653769. exp: 0.3746486066924632
Player 1: 'Bo Woelfert'. Old elo: 1068'. New elo: 1086.7324303346231. exp: 0.6253513933075368
13
Player 1           Mons
Player 2       Thomas H
Winner             Mons
timestamp    2017-09-11
Name: 13, dtype: object
New elo a: 1142.311190605584
New elo b: 983.6888093944161
Player 1: 'Mons'. Old elo: 1126'. New elo: 1142.311190605584. exp: 0.6737761878883222
Player 1: 'Thomas H'. Old elo: 1000'. New elo: 983.6888093944161. exp: 0.32622381211167784
14
Player 1       Thomas H
Player 2      Fredrik C
Winner         Thomas H
timestamp    2017-09-11
Name: 14, dtype: object
New elo a: 1010.1504793648782
New elo b: 973.8495206351218
Player 1: 'Thomas H'. Old elo: 984'. New elo: 1010.1504793648782. exp: 0.4769904127024377
Player 1: 'Fredrik C'. Old elo: 1000'. New elo: 973.8495206351218. exp: 0.5230095872975623
15
Player 1        Fredrik C
Player 2     Kristoffer H
Winner          Fredric C
timestamp      2017-09-11
Name: 15, dtype: object
New elo a: 950.8673658583247
New elo b: 1023.1326341416753
Player 1: 'Fredrik C'. Old elo: 974'. New elo: 950.8673658583247. exp: 0.4626526828335072
Player 1: 'Kristoffer H'. Old elo: 1000'. New elo: 1023.1326341416753. exp: 0.5373473171664928
16
Player 1          Didrik
Player 2     Bo Woelfert
Winner            Didrik
timestamp     2017-09-11
Name: 16, dtype: object
New elo a: 994.6888093944161
New elo b: 1053.311190605584
Player 1: 'Didrik'. Old elo: 961'. New elo: 994.6888093944161. exp: 0.32622381211167784
Player 1: 'Bo Woelfert'. Old elo: 1087'. New elo: 1053.311190605584. exp: 0.6737761878883222
17
Player 1         Didrik
Player 2         Sondre
Winner           Didrik
timestamp    2017-09-11
Name: 17, dtype: object
New elo a: 1020.3597540854526
New elo b: 974.6402459145474
Player 1: 'Didrik'. Old elo: 995'. New elo: 1020.3597540854526. exp: 0.49280491829094863
Player 1: 'Sondre'. Old elo: 1000'. New elo: 974.6402459145474. exp: 0.5071950817090514
18
Player 1            Dino
Player 2     Sondre N.A.
Winner       Sondre N.A.
timestamp     2017-09-12
Name: 18, dtype: object
New elo a: 929.5026411791994
New elo b: 1021.4973588208006
Player 1: 'Dino'. Old elo: 951'. New elo: 929.5026411791994. exp: 0.42994717641601177
Player 1: 'Sondre N.A.'. Old elo: 1000'. New elo: 1021.4973588208006. exp: 0.5700528235839882
19
Player 1         Yohann
Player 2           Mons
Winner           Yohann
timestamp    2017-09-12
Name: 19, dtype: object
New elo a: 1018.76263755246
New elo b: 1107.2373624475401
Player 1: 'Yohann'. Old elo: 983'. New elo: 1018.76263755246. exp: 0.2847472489508014
Player 1: 'Mons'. Old elo: 1143'. New elo: 1107.2373624475401. exp: 0.7152527510491987
20
Player 1     Robert Tamang
Player 2              Even
Winner       Robert Tamang
timestamp       2017-09-12
Name: 20, dtype: object
New elo a: 1071.426844129581
New elo b: 978.5731558704191
Player 1: 'Robert Tamang'. Old elo: 1050'. New elo: 1071.426844129581. exp: 0.5714631174083814
Player 1: 'Even'. Old elo: 1000'. New elo: 978.5731558704191. exp: 0.4285368825916186
21
Player 1          Didrik
Player 2     Bo Woelfert
Winner            Didrik
timestamp     2017-09-12
Name: 21, dtype: object
New elo a: 1048.3674259022932
New elo b: 1026.6325740977068
Player 1: 'Didrik'. Old elo: 1021'. New elo: 1048.3674259022932. exp: 0.45265148195413535
Player 1: 'Bo Woelfert'. Old elo: 1054'. New elo: 1026.6325740977068. exp: 0.5473485180458647
22
Player 1           Didrik
Player 2     Paul Frivold
Winner             Didrik
timestamp      2017-09-12
Name: 22, dtype: object
New elo a: 1068.0029320477738
New elo b: 944.9970679522262
Player 1: 'Didrik'. Old elo: 1049'. New elo: 1068.0029320477738. exp: 0.6199413590445233
Player 1: 'Paul Frivold'. Old elo: 964'. New elo: 944.9970679522262. exp: 0.3800586409554767
23
Player 1          Amund
Player 2       Thomas F
Winner            Amund
timestamp    2017-09-13
Name: 23, dtype: object
New elo a: 1025.0
New elo b: 975.0
Player 1: 'Amund'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
Player 1: 'Thomas F'. Old elo: 1000'. New elo: 975.0. exp: 0.5
24
Player 1          Didrik
Player 2     Bo Woelfert
Winner       Bo Woelfert
timestamp     2017-09-14
Name: 24, dtype: object
New elo a: 1040.992492738405
New elo b: 1055.007507261595
Player 1: 'Didrik'. Old elo: 1069'. New elo: 1040.992492738405. exp: 0.5601501452319029
Player 1: 'Bo Woelfert'. Old elo: 1027'. New elo: 1055.007507261595. exp: 0.4398498547680971
25
Player 1     Sondre N.A.
Player 2            Dino
Winner       Sondre N.A.
timestamp     2017-09-17
Name: 25, dtype: object
New elo a: 1040.5305726391248
New elo b: 911.4694273608751
Player 1: 'Sondre N.A.'. Old elo: 1022'. New elo: 1040.5305726391248. exp: 0.6293885472175023
Player 1: 'Dino'. Old elo: 930'. New elo: 911.4694273608751. exp: 0.37061145278249774
26
Player 1               Odin A.S.
Player 2     Fabian S. Rønningen
Winner       Fabian S. Rønningen
timestamp             2017-09-18
Name: 26, dtype: object
New elo a: 975.0
New elo b: 1025.0
Player 1: 'Odin A.S.'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Fabian S. Rønningen'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
27
Player 1          Didrik
Player 2     Bo Woelfert
Winner            Didrik
timestamp     2017-09-19
Name: 27, dtype: object
New elo a: 1067.0786666525573
New elo b: 1029.9213333474427
Player 1: 'Didrik'. Old elo: 1041'. New elo: 1067.0786666525573. exp: 0.47842666694885455
Player 1: 'Bo Woelfert'. Old elo: 1056'. New elo: 1029.9213333474427. exp: 0.5215733330511455
28
Player 1          Didrik
Player 2     Bo Woelfert
Winner       Bo Woelfert
timestamp     2017-09-19
Name: 28, dtype: object
New elo a: 1040.276531298916
New elo b: 1057.723468701084
Player 1: 'Didrik'. Old elo: 1068'. New elo: 1040.276531298916. exp: 0.554469374021676
Player 1: 'Bo Woelfert'. Old elo: 1030'. New elo: 1057.723468701084. exp: 0.44553062597832394
29
Player 1     Robert Tamang
Player 2     Magnus Leinam
Winner       Robert Tamang
timestamp       2017-09-19
Name: 29, dtype: object
New elo a: 1090.3296149964417
New elo b: 958.6703850035584
Player 1: 'Robert Tamang'. Old elo: 1072'. New elo: 1090.3296149964417. exp: 0.6334077000711676
Player 1: 'Magnus Leinam'. Old elo: 977'. New elo: 958.6703850035584. exp: 0.3665922999288324
30
Player 1     Robert Tamang
Player 2              Even
Winner       Robert Tamang
timestamp       2017-09-19
Name: 30, dtype: object
New elo a: 1108.2089747043804
New elo b: 961.7910252956198
Player 1: 'Robert Tamang'. Old elo: 1091'. New elo: 1108.2089747043804. exp: 0.655820505912395
Player 1: 'Even'. Old elo: 979'. New elo: 961.7910252956198. exp: 0.344179494087605
31
Player 1     Paul Frivold
Player 2            Jakob
Winner              Jakob
timestamp      2017-09-20
Name: 31, dtype: object
New elo a: 922.6523447584731
New elo b: 1004.3476552415269
Player 1: 'Paul Frivold'. Old elo: 945'. New elo: 922.6523447584731. exp: 0.4469531048305375
Player 1: 'Jakob'. Old elo: 982'. New elo: 1004.3476552415269. exp: 0.5530468951694625
32
Player 1           Mons
Player 2          Jakob
Winner             Mons
timestamp    2017-09-20
Name: 32, dtype: object
New elo a: 1125.7983073088853
New elo b: 987.2016926911147
Player 1: 'Mons'. Old elo: 1108'. New elo: 1125.7983073088853. exp: 0.6440338538222926
Player 1: 'Jakob'. Old elo: 1005'. New elo: 987.2016926911147. exp: 0.35596614617770733
33
Player 1               Odin A.S.
Player 2     Fabian S. Rønningen
Winner                 Odin A.S.
timestamp             2017-09-21
Name: 33, dtype: object
New elo a: 1004.5731558704191
New elo b: 997.4268441295809
Player 1: 'Odin A.S.'. Old elo: 976'. New elo: 1004.5731558704191. exp: 0.4285368825916186
Player 1: 'Fabian S. Rønningen'. Old elo: 1026'. New elo: 997.4268441295809. exp: 0.5714631174083814
34
Player 1     Robert Tamang
Player 2       Sondre N.A.
Winner       Robert Tamang
timestamp       2017-09-21
Name: 34, dtype: object
New elo a: 1129.1685413347113
New elo b: 1020.8314586652887
Player 1: 'Robert Tamang'. Old elo: 1109'. New elo: 1129.1685413347113. exp: 0.596629173305774
Player 1: 'Sondre N.A.'. Old elo: 1041'. New elo: 1020.8314586652887. exp: 0.403370826694226
35
Player 1          Didrik
Player 2     Bo Woelfert
Winner       Bo Woelfert
timestamp     2017-09-21
Name: 35, dtype: object
New elo a: 1017.222273056033
New elo b: 1081.7777269439669
Player 1: 'Didrik'. Old elo: 1041'. New elo: 1017.222273056033. exp: 0.47555453887933863
Player 1: 'Bo Woelfert'. Old elo: 1058'. New elo: 1081.7777269439669. exp: 0.5244454611206615
36
Player 1          Didrik
Player 2     Bo Woelfert
Winner       Bo Woelfert
timestamp     2017-09-21
Name: 36, dtype: object
New elo a: 997.5537798157471
New elo b: 1102.4462201842528
Player 1: 'Didrik'. Old elo: 1018'. New elo: 997.5537798157471. exp: 0.4089244036850566
Player 1: 'Bo Woelfert'. Old elo: 1082'. New elo: 1102.4462201842528. exp: 0.5910755963149433
37
Player 1      Odin A.S.
Player 2         Anders
Winner           Anders
timestamp    2017-09-22
Name: 37, dtype: object
New elo a: 979.6402459145474
New elo b: 1025.3597540854526
Player 1: 'Odin A.S.'. Old elo: 1005'. New elo: 979.6402459145474. exp: 0.5071950817090514
Player 1: 'Anders'. Old elo: 1000'. New elo: 1025.3597540854526. exp: 0.49280491829094863
38
Player 1           Even
Player 2        Øystein
Winner             Even
timestamp    2017-09-22
Name: 38, dtype: object
New elo a: 989.7234687010838
New elo b: 972.2765312989162
Player 1: 'Even'. Old elo: 962'. New elo: 989.7234687010838. exp: 0.44553062597832394
Player 1: 'Øystein'. Old elo: 1000'. New elo: 972.2765312989162. exp: 0.554469374021676
39
Player 1     Magnus G.L.
Player 2            Even
Winner       Magnus G.L.
timestamp     2017-09-22
Name: 39, dtype: object
New elo a: 1024.2806407917
New elo b: 965.7193592082999
Player 1: 'Magnus G.L.'. Old elo: 1000'. New elo: 1024.2806407917. exp: 0.5143871841659987
Player 1: 'Even'. Old elo: 990'. New elo: 965.7193592082999. exp: 0.48561281583400134
40
Player 1     Robert Tamang
Player 2             Lasse
Winner       Robert Tamang
timestamp       2017-09-22
Name: 40, dtype: object
New elo a: 1146.059154010262
New elo b: 983.9408459897378
Player 1: 'Robert Tamang'. Old elo: 1130'. New elo: 1146.059154010262. exp: 0.6788169197947567
Player 1: 'Lasse'. Old elo: 1000'. New elo: 983.9408459897378. exp: 0.3211830802052434
41
Player 1     Robert Tamang
Player 2              Even
Winner       Robert Tamang
timestamp       2017-09-22
Name: 41, dtype: object
New elo a: 1160.0389872929666
New elo b: 952.9610127070334
Player 1: 'Robert Tamang'. Old elo: 1147'. New elo: 1160.0389872929666. exp: 0.7392202541406678
Player 1: 'Even'. Old elo: 966'. New elo: 952.9610127070334. exp: 0.2607797458593321
42
Player 1           Even
Player 2          Lasse
Winner             Even
timestamp    2017-09-22
Name: 42, dtype: object
New elo a: 980.2247286541503
New elo b: 956.7752713458497
Player 1: 'Even'. Old elo: 953'. New elo: 980.2247286541503. exp: 0.4555054269169921

Player 1: 'Lasse'. Old elo: 984'. New elo: 956.7752713458497. exp: 0.544494573083008
43
Player 1          Didrik
Player 2     Bo Woelfert
Winner            Didrik
timestamp     2017-09-22
Name: 43, dtype: object
New elo a: 1030.3334421162808
New elo b: 1070.6665578837192
Player 1: 'Didrik'. Old elo: 998'. New elo: 1030.3334421162808. exp: 0.35333115767438533
Player 1: 'Bo Woelfert'. Old elo: 1103'. New elo: 1070.6665578837192. exp: 0.6466688423256146
44
Player 1        Øystein
Player 2         Marcus
Winner           Marcus
timestamp    2017-09-23
Name: 44, dtype: object
New elo a: 949.9389046028585
New elo b: 1023.0610953971415
Player 1: 'Øystein'. Old elo: 973'. New elo: 949.9389046028585. exp: 0.46122190794282847
Player 1: 'Marcus'. Old elo: 1000'. New elo: 1023.0610953971415. exp: 0.5387780920571715
45
Player 1     Robert Tamang
Player 2           Øystein
Winner       Robert Tamang
timestamp       2017-09-23
Name: 45, dtype: object
New elo a: 1172.4442869656202
New elo b: 938.5557130343799
Player 1: 'Robert Tamang'. Old elo: 1161'. New elo: 1172.4442869656202. exp: 0.7711142606875975
Player 1: 'Øystein'. Old elo: 950'. New elo: 938.5557130343799. exp: 0.22888573931240266
46
Player 1     Robert Tamang
Player 2     Magnus Leinam
Winner       Robert Tamang
timestamp       2017-09-23
Name: 46, dtype: object
New elo a: 1184.2926011149084
New elo b: 947.7073988850915
Player 1: 'Robert Tamang'. Old elo: 1173'. New elo: 1184.2926011149084. exp: 0.7741479777018306
Player 1: 'Magnus Leinam'. Old elo: 959'. New elo: 947.7073988850915. exp: 0.22585202229816936
47
Player 1     Robert Tamang
Player 2              Even
Winner       Robert Tamang
timestamp       2017-09-23
Name: 47, dtype: object
New elo a: 1196.803765042758
New elo b: 969.1962349572419
Player 1: 'Robert Tamang'. Old elo: 1185'. New elo: 1196.803765042758. exp: 0.7639246991448386
Player 1: 'Even'. Old elo: 981'. New elo: 969.1962349572419. exp: 0.23607530085516135
48
Player 1     Robert Tamang
Player 2           Øystein
Winner       Robert Tamang
timestamp       2017-09-23
Name: 48, dtype: object
New elo a: 1206.232409235835
New elo b: 929.767590764165
Player 1: 'Robert Tamang'. Old elo: 1197'. New elo: 1206.232409235835. exp: 0.8153518152833006
Player 1: 'Øystein'. Old elo: 939'. New elo: 929.767590764165. exp: 0.18464818471669944
49
Player 1     Robert Tamang
Player 2            Marcus
Winner       Robert Tamang
timestamp       2017-09-23
Name: 49, dtype: object
New elo a: 1219.928323851535
New elo b: 1011.071676148465
Player 1: 'Robert Tamang'. Old elo: 1207'. New elo: 1219.928323851535. exp: 0.7414335229692995
Player 1: 'Marcus'. Old elo: 1024'. New elo: 1011.071676148465. exp: 0.25856647703070046
50
Player 1      Øyvind S.
Player 2     Andreas B.
Winner       Andreas B.
timestamp    2017-09-23
Name: 50, dtype: object
New elo a: 975.0
New elo b: 1025.0
Player 1: 'Øyvind S.'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Andreas B.'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
51
Player 1     Andreas B.
Player 2        Øystein
Winner          Øystein
timestamp    2017-09-23
Name: 51, dtype: object
New elo a: 994.2628332473842
New elo b: 961.7371667526158
Player 1: 'Andreas B.'. Old elo: 1026'. New elo: 994.2628332473842. exp: 0.6347433350523167
Player 1: 'Øystein'. Old elo: 930'. New elo: 961.7371667526158. exp: 0.3652566649476832
52
Player 1      Odin A.S.
Player 2         Henrik
Winner           Henrik
timestamp    2017-09-23
Name: 52, dtype: object
New elo a: 956.4375281946134
New elo b: 1023.5624718053866
Player 1: 'Odin A.S.'. Old elo: 980'. New elo: 956.4375281946134. exp: 0.4712494361077314
Player 1: 'Henrik'. Old elo: 1000'. New elo: 1023.5624718053866. exp: 0.5287505638922686
53
Player 1           John
Player 2     Andreas H.
Winner       Andreas H.
timestamp    2017-09-23
Name: 53, dtype: object
New elo a: 975.0
New elo b: 1025.0
Player 1: 'John'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Andreas H.'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
54
Player 1        Mathias
Player 2        Øystein
Winner          Øystein
timestamp    2017-09-23
Name: 54, dtype: object
New elo a: 972.2765312989162
New elo b: 989.7234687010838
Player 1: 'Mathias'. Old elo: 1000'. New elo: 972.2765312989162. exp: 0.554469374021676
Player 1: 'Øystein'. Old elo: 962'. New elo: 989.7234687010838. exp: 0.44553062597832394
55
Player 1           Didrik
Player 2     Paul Frivold
Winner             Didrik
timestamp      2017-09-23
Name: 55, dtype: object
New elo a: 1048.4697686033064
New elo b: 905.5302313966936
Player 1: 'Didrik'. Old elo: 1031'. New elo: 1048.4697686033064. exp: 0.6506046279338725
Player 1: 'Paul Frivold'. Old elo: 923'. New elo: 905.5302313966936. exp: 0.3493953720661275
56
Player 1            Didrik
Player 2     Robert Tamang
Winner       Robert Tamang
timestamp       2017-09-23
Name: 56, dtype: object
New elo a: 1035.39857567721
New elo b: 1233.60142432279
Player 1: 'Didrik'. Old elo: 1049'. New elo: 1035.39857567721. exp: 0.2720284864558038
Player 1: 'Robert Tamang'. Old elo: 1220'. New elo: 1233.60142432279. exp: 0.7279715135441962
57
Player 1     Bo Woelfert
Player 2           Amund
Winner       Bo Woelfert
timestamp     2017-09-23
Name: 57, dtype: object
New elo a: 1092.7799754879788
New elo b: 1004.220024512021
Player 1: 'Bo Woelfert'. Old elo: 1071'. New elo: 1092.7799754879788. exp: 0.5644004902404213
Player 1: 'Amund'. Old elo: 1026'. New elo: 1004.220024512021. exp: 0.4355995097595788
58
Player 1      Odin A.S.
Player 2       Thomas O
Winner         Thomas O
timestamp    2017-09-24
Name: 58, dtype: object
New elo a: 935.0783969486823
New elo b: 1021.9216030513177
Player 1: 'Odin A.S.'. Old elo: 957'. New elo: 935.0783969486823. exp: 0.43843206102635396
Player 1: 'Thomas O'. Old elo: 1000'. New elo: 1021.9216030513177. exp: 0.5615679389736461
59
Player 1           Aida
Player 2       Cornelia
Winner         Cornelia
timestamp    2017-09-24
Name: 59, dtype: object
New elo a: 975.0
New elo b: 1025.0
Player 1: 'Aida'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Cornelia'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
60
Player 1         Didrik
Player 2        Mathias
Winner           Didrik
timestamp    2017-09-24
Name: 60, dtype: object
New elo a: 1056.5158248430025
New elo b: 952.4841751569975
Player 1: 'Didrik'. Old elo: 1036'. New elo: 1056.5158248430025. exp: 0.5896835031399501
Player 1: 'Mathias'. Old elo: 973'. New elo: 952.4841751569975. exp: 0.41031649686004995
61
Player 1          Didrik
Player 2     Bo Woelfert
Winner            Didrik
timestamp     2017-09-24
Name: 61, dtype: object
New elo a: 1084.581177365548
New elo b: 1065.418822634452
Player 1: 'Didrik'. Old elo: 1057'. New elo: 1084.581177365548. exp: 0.4483764526890395
Player 1: 'Bo Woelfert'. Old elo: 1093'. New elo: 1065.418822634452. exp: 0.5516235473109605
62
Player 1     Paul Frivold
Player 2      Bo Woelfert
Winner        Bo Woelfert
timestamp      2017-09-24
Name: 62, dtype: object
New elo a: 891.76263755246
New elo b: 1080.2373624475401
Player 1: 'Paul Frivold'. Old elo: 906'. New elo: 891.76263755246. exp: 0.2847472489508014
Player 1: 'Bo Woelfert'. Old elo: 1066'. New elo: 1080.2373624475401. exp: 0.7152527510491987
63
Player 1           Amund
Player 2     Bo Woelfert
Winner       Bo Woelfert
timestamp     2017-09-24
Name: 63, dtype: object
New elo a: 985.383053206341
New elo b: 1100.616946793659
Player 1: 'Amund'. Old elo: 1005'. New elo: 985.383053206341. exp: 0.39233893587318014
Player 1: 'Bo Woelfert'. Old elo: 1081'. New elo: 1100.616946793659. exp: 0.6076610641268197
64
Player 1      Odin A.S.
Player 2         Anders
Winner           Anders
timestamp    2017-09-24
Name: 64, dtype: object
New elo a: 917.3349540833366
New elo b: 1044.6650459166633
Player 1: 'Odin A.S.'. Old elo: 936'. New elo: 917.3349540833366. exp: 0.373300918333268
Player 1: 'Anders'. Old elo: 1026'. New elo: 1044.6650459166633. exp: 0.626699081666732
65
Player 1          Amund
Player 2           Dino
Winner            Amund
timestamp    2017-09-24
Name: 65, dtype: object
New elo a: 1005.7543548996022
New elo b: 892.2456451003978
Player 1: 'Amund'. Old elo: 986'. New elo: 1005.7543548996022. exp: 0.6049129020079569
Player 1: 'Dino'. Old elo: 912'. New elo: 892.2456451003978. exp: 0.3950870979920432
66
Player 1           Amund
Player 2     Bo Woelfert
Winner       Bo Woelfert
timestamp     2017-09-25
Name: 66, dtype: object
New elo a: 987.6703850035584
New elo b: 1119.3296149964417
Player 1: 'Amund'. Old elo: 1006'. New elo: 987.6703850035584. exp: 0.3665922999288324
Player 1: 'Bo Woelfert'. Old elo: 1101'. New elo: 1119.3296149964417. exp: 0.6334077000711676
67
Player 1           Mons
Player 2       Cornelia
Winner             Mons
timestamp    2017-09-25
Name: 67, dtype: object
New elo a: 1143.9967500098558
New elo b: 1008.0032499901442
Player 1: 'Mons'. Old elo: 1126'. New elo: 1143.9967500098558. exp: 0.6400649998028851
Player 1: 'Cornelia'. Old elo: 1026'. New elo: 1008.0032499901442. exp: 0.35993500019711494
68
Player 1      Odin A.S.
Player 2         Anders
Winner           Anders
timestamp    2017-09-25
Name: 68, dtype: object
New elo a: 901.752010052015
New elo b: 1061.2479899479852
Player 1: 'Odin A.S.'. Old elo: 918'. New elo: 901.752010052015. exp: 0.3249597989597013
Player 1: 'Anders'. Old elo: 1045'. New elo: 1061.2479899479852. exp: 0.6750402010402987
69
Player 1                Mathias
Player 2     Harald Lønsethagen
Winner       Harald Lønsethagen
timestamp            2017-09-25
Name: 69, dtype: object
New elo a: 931.3614422171476
New elo b: 1021.6385577828524
Player 1: 'Mathias'. Old elo: 953'. New elo: 931.3614422171476. exp: 0.4327711556570478
Player 1: 'Harald Lønsethagen'. Old elo: 1000'. New elo: 1021.6385577828524. exp: 0.5672288443429522
70
Player 1      Odin A.S.
Player 2         Anders
Winner           Anders
timestamp    2017-09-25
Name: 70, dtype: object
New elo a: 887.76263755246
New elo b: 1076.2373624475401
Player 1: 'Odin A.S.'. Old elo: 902'. New elo: 887.76263755246. exp: 0.2847472489508014
Player 1: 'Anders'. Old elo: 1062'. New elo: 1076.2373624475401. exp: 0.7152527510491987
71
Player 1              Mons
Player 2     Robert Tamang
Winner                Mons
timestamp       2017-09-25
Name: 71, dtype: object
New elo a: 1175.3349540833367
New elo b: 1202.6650459166633
Player 1: 'Mons'. Old elo: 1144'. New elo: 1175.3349540833367. exp: 0.373300918333268
Player 1: 'Robert Tamang'. Old elo: 1234'. New elo: 1202.6650459166633. exp: 0.626699081666732
72
Player 1              Mons
Player 2     Robert Tamang
Winner                Mons
timestamp       2017-09-25
Name: 72, dtype: object
New elo a: 1202.9389046028587
New elo b: 1176.0610953971413
Player 1: 'Mons'. Old elo: 1176'. New elo: 1202.9389046028587. exp: 0.46122190794282847
Player 1: 'Robert Tamang'. Old elo: 1203'. New elo: 1176.0610953971413. exp: 0.5387780920571715
73
Player 1      Odin A.S.
Player 2     Andreas B.
Winner       Andreas B.
timestamp    2017-09-25
Name: 73, dtype: object
New elo a: 870.4647473555482
New elo b: 1012.5352526444518
Player 1: 'Odin A.S.'. Old elo: 888'. New elo: 870.4647473555482. exp: 0.3507050528890364
Player 1: 'Andreas B.'. Old elo: 995'. New elo: 1012.5352526444518. exp: 0.6492949471109635
74
Player 1     Paul Frivold
Player 2      Bo Woelfert
Winner        Bo Woelfert
timestamp      2017-09-25
Name: 74, dtype: object
New elo a: 881.3963384038701

New elo b: 1130.60366159613
Player 1: 'Paul Frivold'. Old elo: 892'. New elo: 881.3963384038701. exp: 0.2120732319225979
Player 1: 'Bo Woelfert'. Old elo: 1120'. New elo: 1130.60366159613. exp: 0.7879267680774021
75
Player 1     Paul Frivold
Player 2      Bo Woelfert
Winner        Bo Woelfert
timestamp      2017-09-25
Name: 75, dtype: object
New elo a: 872.3712090835639
New elo b: 1140.628790916436
Player 1: 'Paul Frivold'. Old elo: 882'. New elo: 872.3712090835639. exp: 0.19257581832872078
Player 1: 'Bo Woelfert'. Old elo: 1131'. New elo: 1140.628790916436. exp: 0.8074241816712792
76
Player 1      Odin A.S.
Player 2     Andreas B.
Winner       Andreas B.
timestamp    2017-09-26
Name: 76, dtype: object
New elo a: 855.6843958210983
New elo b: 1028.3156041789018
Player 1: 'Odin A.S.'. Old elo: 871'. New elo: 855.6843958210983. exp: 0.3063120835780346
Player 1: 'Andreas B.'. Old elo: 1013'. New elo: 1028.3156041789018. exp: 0.6936879164219654
77
Player 1     Sondre N.A.
Player 2            Dino
Winner              Dino
timestamp     2017-09-26
Name: 77, dtype: object
New elo a: 987.1849165253632
New elo b: 926.8150834746368
Player 1: 'Sondre N.A.'. Old elo: 1021'. New elo: 987.1849165253632. exp: 0.676301669492737
Player 1: 'Dino'. Old elo: 893'. New elo: 926.8150834746368. exp: 0.3236983305072631
78
Player 1     Robert Tamang
Player 2            Marcus
Winner       Robert Tamang
timestamp       2017-09-26
Name: 78, dtype: object
New elo a: 1190.946087840122
New elo b: 998.053912159878
Player 1: 'Robert Tamang'. Old elo: 1177'. New elo: 1190.946087840122. exp: 0.7210782431975601
Player 1: 'Marcus'. Old elo: 1012'. New elo: 998.053912159878. exp: 0.2789217568024399
79
Player 1      Odin A.S.
Player 2     Andreas B.
Winner       Andreas B.
timestamp    2017-09-26
Name: 79, dtype: object
New elo a: 842.5122706648712
New elo b: 1042.4877293351287
Player 1: 'Odin A.S.'. Old elo: 856'. New elo: 842.5122706648712. exp: 0.269754586702576
Player 1: 'Andreas B.'. Old elo: 1029'. New elo: 1042.4877293351287. exp: 0.730245413297424
80
Player 1      Odin A.S.
Player 2     Andreas B.
Winner       Andreas B.
timestamp    2017-09-26
Name: 80, dtype: object
New elo a: 830.9873463323979
New elo b: 1055.012653667602
Player 1: 'Odin A.S.'. Old elo: 843'. New elo: 830.9873463323979. exp: 0.2402530733520421
Player 1: 'Andreas B.'. Old elo: 1043'. New elo: 1055.012653667602. exp: 0.7597469266479578
81
Player 1          Didrik
Player 2     Bo Woelfert
Winner       Bo Woelfert
timestamp     2017-09-26
Name: 81, dtype: object
New elo a: 1063.994988017894
New elo b: 1162.005011982106
Player 1: 'Didrik'. Old elo: 1085'. New elo: 1063.994988017894. exp: 0.42010023964211857
Player 1: 'Bo Woelfert'. Old elo: 1141'. New elo: 1162.005011982106. exp: 0.5798997603578815
82
Player 1            Didrik
Player 2     Robert Tamang
Winner       Robert Tamang
timestamp       2017-09-26
Name: 82, dtype: object
New elo a: 1047.7520100520148
New elo b: 1207.2479899479852
Player 1: 'Didrik'. Old elo: 1064'. New elo: 1047.7520100520148. exp: 0.3249597989597013
Player 1: 'Robert Tamang'. Old elo: 1191'. New elo: 1207.2479899479852. exp: 0.6750402010402987
83
Player 1            Didrik
Player 2     Robert Tamang
Winner       Robert Tamang
timestamp       2017-09-26
Name: 83, dtype: object
New elo a: 1033.7626375524599
New elo b: 1222.2373624475401
Player 1: 'Didrik'. Old elo: 1048'. New elo: 1033.7626375524599. exp: 0.2847472489508014
Player 1: 'Robert Tamang'. Old elo: 1208'. New elo: 1222.2373624475401. exp: 0.7152527510491987
84
Player 1          Robert Tamang
Player 2     Harald Lønsethagen
Winner       Harald Lønsethagen
timestamp            2017-09-26
Name: 84, dtype: object
New elo a: 1184.9601954505429
New elo b: 1060.0398045494571
Player 1: 'Robert Tamang'. Old elo: 1223'. New elo: 1184.9601954505429. exp: 0.7607960909891424
Player 1: 'Harald Lønsethagen'. Old elo: 1022'. New elo: 1060.0398045494571. exp: 0.23920390901085772
85
Player 1           Even
Player 2        Martine
Winner             Even
timestamp    2017-09-26
Name: 85, dtype: object
New elo a: 997.1533246011106
New elo b: 972.8466753988894
Player 1: 'Even'. Old elo: 970'. New elo: 997.1533246011106. exp: 0.4569335079777882
Player 1: 'Martine'. Old elo: 1000'. New elo: 972.8466753988894. exp: 0.5430664920222119
86
Player 1     Robert Tamang
Player 2              Even
Winner       Robert Tamang
timestamp       2017-09-26
Name: 86, dtype: object
New elo a: 1197.708839582475
New elo b: 985.291160417525
Player 1: 'Robert Tamang'. Old elo: 1185'. New elo: 1197.708839582475. exp: 0.7458232083504994
Player 1: 'Even'. Old elo: 998'. New elo: 985.291160417525. exp: 0.2541767916495005
87
Player 1      Odin A.S.
Player 2         Anders
Winner           Anders
timestamp    2017-09-26
Name: 87, dtype: object
New elo a: 821.2362346749629
New elo b: 1086.763765325037
Player 1: 'Odin A.S.'. Old elo: 831'. New elo: 821.2362346749629. exp: 0.19527530650074057
Player 1: 'Anders'. Old elo: 1077'. New elo: 1086.763765325037. exp: 0.8047246934992595
88
Player 1           Dino
Player 2         Anders
Winner             Dino
timestamp    2017-09-26
Name: 88, dtype: object
New elo a: 962.76263755246
New elo b: 1051.2373624475401
Player 1: 'Dino'. Old elo: 927'. New elo: 962.76263755246. exp: 0.2847472489508014
Player 1: 'Anders'. Old elo: 1087'. New elo: 1051.2373624475401. exp: 0.7152527510491987
89
Player 1           Dino
Player 2      Odin A.S.
Winner             Dino
timestamp    2017-09-26
Name: 89, dtype: object
New elo a: 978.3768303710241
New elo b: 806.6231696289759
Player 1: 'Dino'. Old elo: 963'. New elo: 978.3768303710241. exp: 0.6924633925795177
Player 1: 'Odin A.S.'. Old elo: 822'. New elo: 806.6231696289759. exp: 0.3075366074204823
90
Player 1         Henrik
Player 2      Odin A.S.
Winner           Henrik
timestamp    2017-09-27
Name: 90, dtype: object
New elo a: 1035.1423447342636
New elo b: 795.8576552657363
Player 1: 'Henrik'. Old elo: 1024'. New elo: 1035.1423447342636. exp: 0.777153105314726
Player 1: 'Odin A.S.'. Old elo: 807'. New elo: 795.8576552657363. exp: 0.22284689468527405
91
Player 1     Magnus R.B.
Player 2          Didrik
Winner       Magnus R.B.
timestamp     2017-09-27
Name: 91, dtype: object
New elo a: 1027.4387167929872
New elo b: 1006.5612832070129
Player 1: 'Magnus R.B.'. Old elo: 1000'. New elo: 1027.4387167929872. exp: 0.4512256641402582
Player 1: 'Didrik'. Old elo: 1034'. New elo: 1006.5612832070129. exp: 0.5487743358597419
92
Player 1            Didrik
Player 2     Robert Tamang
Winner       Robert Tamang
timestamp       2017-09-27
Name: 92, dtype: object
New elo a: 994.5081740914321
New elo b: 1210.491825908568
Player 1: 'Didrik'. Old elo: 1007'. New elo: 994.5081740914321. exp: 0.24983651817135802
Player 1: 'Robert Tamang'. Old elo: 1198'. New elo: 1210.491825908568. exp: 0.750163481828642
93
Player 1     Robert Tamang
Player 2              Even
Winner       Robert Tamang
timestamp       2017-09-27
Name: 93, dtype: object
New elo a: 1221.7486631500915
New elo b: 975.2513368499086
Player 1: 'Robert Tamang'. Old elo: 1211'. New elo: 1221.7486631500915. exp: 0.785026736998172
Player 1: 'Even'. Old elo: 986'. New elo: 975.2513368499086. exp: 0.21497326300182792
94
Player 1     Robert Tamang
Player 2              Even
Winner       Robert Tamang
timestamp       2017-09-27
Name: 94, dtype: object
New elo a: 1231.763765325037
New elo b: 966.2362346749629
Player 1: 'Robert Tamang'. Old elo: 1222'. New elo: 1231.763765325037. exp: 0.8047246934992595
Player 1: 'Even'. Old elo: 976'. New elo: 966.2362346749629. exp: 0.19527530650074057
95
Player 1     Paul Frivold
Player 2      Bo Woelfert
Winner       Paul Frivold
timestamp      2017-09-27
Name: 95, dtype: object
New elo a: 915.0746183461621
New elo b: 1120.9253816538378
Player 1: 'Paul Frivold'. Old elo: 873'. New elo: 915.0746183461621. exp: 0.15850763307675816
Player 1: 'Bo Woelfert'. Old elo: 1163'. New elo: 1120.9253816538378. exp: 0.8414923669232418
96
Player 1     Robert Tamang
Player 2       Bo Woelfert
Winner       Robert Tamang
timestamp       2017-09-28
Name: 96, dtype: object
New elo a: 1249.2740002808766
New elo b: 1103.7259997191234
Player 1: 'Robert Tamang'. Old elo: 1232'. New elo: 1249.2740002808766. exp: 0.654519994382466
Player 1: 'Bo Woelfert'. Old elo: 1121'. New elo: 1103.7259997191234. exp: 0.34548000561753406
97
Player 1      Odin A.S.
Player 2     Andreas B.
Winner       Andreas B.
timestamp    2017-09-28
Name: 97, dtype: object
New elo a: 786.8539417099987
New elo b: 1065.1460582900013
Player 1: 'Odin A.S.'. Old elo: 796'. New elo: 786.8539417099987. exp: 0.18292116580002576
Player 1: 'Andreas B.'. Old elo: 1056'. New elo: 1065.1460582900013. exp: 0.8170788341999742
98
Player 1     Sondre N.A.
Player 2            Dino
Winner       Sondre N.A.
timestamp     2017-09-28
Name: 98, dtype: object
New elo a: 1012.3525427553568
New elo b: 954.6474572446432
Player 1: 'Sondre N.A.'. Old elo: 988'. New elo: 1012.3525427553568. exp: 0.5129491448928637
Player 1: 'Dino'. Old elo: 979'. New elo: 954.6474572446432. exp: 0.48705085510713625
99
Player 1      Odin A.S.
Player 2     Andreas B.
Winner       Andreas B.
timestamp    2017-09-28
Name: 99, dtype: object
New elo a: 778.6431345130189
New elo b: 1074.356865486981
Player 1: 'Odin A.S.'. Old elo: 787'. New elo: 778.6431345130189. exp: 0.16713730973962054
Player 1: 'Andreas B.'. Old elo: 1066'. New elo: 1074.356865486981. exp: 0.8328626902603795
100
Player 1          Eirik
Player 2          Sisse
Winner            Sisse
timestamp    2017-09-28
Name: 100, dtype: object
New elo a: 975.0
New elo b: 1025.0
Player 1: 'Eirik'. Old elo: 1000'. New elo: 975.0. exp: 0.5
Player 1: 'Sisse'. Old elo: 1000'. New elo: 1025.0. exp: 0.5
101
Player 1     Robert Tamang
Player 2       Bo Woelfert
Winner       Robert Tamang
timestamp       2017-09-28
Name: 101, dtype: object
New elo a: 1265.072068679099
New elo b: 1088.927931320901
Player 1: 'Robert Tamang'. Old elo: 1250'. New elo: 1265.072068679099. exp: 0.698558626418023
Player 1: 'Bo Woelfert'. Old elo: 1104'. New elo: 1088.927931320901. exp: 0.30144137358197703
102
Player 1         Anders
Player 2      Odin A.S.
Winner           Anders
timestamp    2017-09-28
Name: 102, dtype: object
New elo a: 1060.6000309869414
New elo b: 770.3999690130585
Player 1: 'Anders'. Old elo: 1052'. New elo: 1060.6000309869414. exp: 0.8279993802611698
Player 1: 'Odin A.S.'. Old elo: 779'. New elo: 770.3999690130585. exp: 0.17200061973883018
103
Player 1         Didrik
Player 2        Mathias
Winner           Didrik
timestamp    2017-09-28
Name: 103, dtype: object
New elo a: 1015.5158248430025
New elo b: 911.4841751569975
Player 1: 'Didrik'. Old elo: 995'. New elo: 1015.5158248430025. exp: 0.5896835031399501
Player 1: 'Mathias'. Old elo: 932'. New elo: 911.4841751569975. exp: 0.41031649686004995
104
Player 1                   Mons
Player 2     Harald Lønsethagen
Winner                     Mons
timestamp            2017-09-29
Name: 104, dtype: object
New elo a: 1218.3156041789018
New elo b: 1045.6843958210982
Player 1: 'Mons'. Old elo: 1203'. New elo: 1218.3156041789018. exp: 0.6936879164219654
Player 1: 'Harald Lønsethagen'. Old elo: 1061'. New elo: 1045.6843958210982. exp: 0.3063120835780346

    first_name   last_name  short_name  joined_date   id   elo
0        Amund         NaN          rt     17-09-08    1   988
1       Anders         NaN         mbe     17-09-08    2  1061
2   Andreas B.         NaN         NaN     17-09-07    3  1075
3   Andreas H.         NaN         NaN     17-09-06    4  1026
4  Bo Woelfert         NaN         NaN     17-09-06    5  1089

In [39]:
elo_df

             first_name   last_name  short_name  joined_date   id   elo
0                 Amund         NaN          rt     17-09-08    1   988
1                Anders         NaN         mbe     17-09-08    2  1061
2            Andreas B.         NaN         NaN     17-09-07    3  1075
3            Andreas H.         NaN         NaN     17-09-06    4  1026
4           Bo Woelfert         NaN         NaN     17-09-06    5  1089
5                Didrik         NaN         NaN     17-09-04    6  1016
6                  Dino         NaN         NaN     17-09-03    7   955
7              Eirik B.         NaN         NaN     17-09-02    8   958
8                  Even         NaN         NaN     17-09-02    9   967
9   Fabian S. Rønningen         NaN         NaN     17-09-01   10   998
10            Fredrik C         NaN         NaN     17-09-22   11   951
11                Jakob         NaN         NaN     17-09-21   12   988
12                 John         NaN         NaN     17-09-20   13   976
13         Kristoffer H         NaN         NaN     17-09-19   14  1024
14                Lasse         NaN         NaN     17-09-18   15   957
15          Magnus G.L.         NaN         NaN     17-09-17   16  1025
16        Magnus Leinam         NaN         NaN     17-09-16   17   948
17               Marcus         NaN         NaN     17-09-15   18   999
18              Mathias         NaN         NaN     17-09-14   19   912
19                 Mons         NaN         NaN     17-09-13   20  1219
20            Odin A.S.         NaN         NaN     17-09-12   21   771
21          Ole Andreas         NaN         NaN     17-09-11   22   976
22              Øystein         NaN         NaN     17-09-10   23   990
23            Øyvind S.         NaN         NaN      17-09-9   24   976
24        Robert Tamang         NaN         NaN      17-09-8   25  1266
25               Sondre         NaN         NaN      17-09-7   26   975
26          Sondre N.A.         NaN         NaN      17-09-6   27  1013
27             Thomas F         NaN         NaN      17-09-5   28   976
28             Thomas H         NaN         NaN      17-09-3   29  1011
29               Yohann         NaN         NaN      17-09-2   30  1019
30         Paul Frivold         NaN         NaN      17-09-2   31   916
31               Henrik         NaN         NaN      17-09-2   32  1036
32             Thomas O         NaN         NaN     17-09-24   33  1022
33                 Aida         NaN         NaN     17-09-24   34   976
34             Cornelia         NaN         NaN     17-09-24   35  1009
35   Harald Lønsethagen         NaN         NaN     17-09-25   36  1046
36              Martine         NaN         NaN     17-09-26   37   973
37                Eirik         NaN         NaN     17-09-28   38   976
38                Sisse         NaN         NaN     17-09-28   39  1026
39          Magnus R.B.         NaN         NaN     17-09-27   40  1028

In [40]:
temp_df = elo_df.sort_values('elo', ascending=False)[['first_name','elo']]
temp_df

             first_name   elo
24        Robert Tamang  1266
19                 Mons  1219
4           Bo Woelfert  1089
2            Andreas B.  1075
1                Anders  1061
35   Harald Lønsethagen  1046
31               Henrik  1036
39          Magnus R.B.  1028
38                Sisse  1026
3            Andreas H.  1026
15          Magnus G.L.  1025
13         Kristoffer H  1024
32             Thomas O  1022
29               Yohann  1019
5                Didrik  1016
26          Sondre N.A.  1013
28             Thomas H  1011
34             Cornelia  1009
17               Marcus   999
9   Fabian S. Rønningen   998
22              Øystein   990
0                 Amund   988
11                Jakob   988
12                 John   976
37                Eirik   976
33                 Aida   976
23            Øyvind S.   976
21          Ole Andreas   976
27             Thomas F   976
25               Sondre   975
36              Martine   973
8                  Even   967
7              Eirik B.   958
14                Lasse   957
6                  Dino   955
10            Fredrik C   951
16        Magnus Leinam   948
30         Paul Frivold   916
18              Mathias   912
20            Odin A.S.   771

# Save ELO-leaderboard to a csv file

In [41]:
temp_df.to_csv("elo_leaderboard.csv")

# Notes

In [54]:
elo_df = elo_df.reset_index()

In [55]:
elo_df[elo_df['first_name'] == "Harald"]['elo']

0    1001
Name: elo, dtype: int64

In [56]:
elo_df = elo_df.set_index('first_name')
elo_df.set_value('Harald', 'elo', 3902)
elo_df.reset_index()

  first_name  index     last_name  short_name  joined_date   id   elo
0     Harald      0   Lønsethagen         hlø     17-09-05    1  3902
1    Mathias      1    Becksæther         mbe     17-09-05    2  1001

In [57]:
elo_df = elo_df.reset_index()

In [58]:
elo_df = elo_df.set_index('first_name')
elo_df.set_value('Harald', 'elo', 900)

            index     last_name  short_name  joined_date   id   elo
first_name
Harald          0   Lønsethagen         hlø     17-09-05    1   900
Mathias         1    Becksæther         mbe     17-09-05    2  1001

In [59]:
exp  = expected(1613, 1609)
exp += expected(1613, 1477)
exp

1.1920564660944573

In [23]:
elo(1613, exp, 2, k=32)  # 1601

1638.8541930849774

In [24]:
a = expected(1613, 1609)
temp_elo = elo(1613, a, 1, k=32)
print("temp_elo: " + str(temp_elo))
a = expected(temp_elo, 1477)
temp_elo = elo(temp_elo, a , 1, k=32)
print("temp_elo after second match: " + str(temp_elo))

temp_elo: 1628.8158013308434
temp_elo after second match: 1638.2378451931402

In [ ]:
# Defining new elo_table with

# ===============
#          Notes 
# ===============

## Defining usefull DataFrames with Pandas
- All played matches

In [9]:
#matches_df = pd.dataFrame()
item_1 = pd.Series({'timestamp': '00-00-00',
                        'Player 1': 'Harald',
                        'Player 2': 'Petter',
                        'Winner': 'Harald'})
matches_df = pd.DataFrame([item_1])
matches_df.to_csv("matches.csv")
matches_df

  Player 1 Player 2  Winner timestamp
0   Harald   Petter  Harald  00-00-00