# Revolve Tatbletennis ELO ladder
# Author: Harald Lønsethagen
# Started: 28.08.2017

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plot

## Defining usefull functions

In [139]:
def expected(A, B):
    """
    Calculate expected score of A in a match against B
    :param A: Elo rating for player A
    :param B: Elo rating for player B
    """
    return 1 / (1 + 10 ** ((B - A) / 400))


def elo(old, exp, score, k=32):
    """
    Calculate the new Elo rating for a player
    :param old: The previous Elo rating
    :param exp: The expected score for this match
    :param score: The actual score for this match
    :param k: The k-factor for Elo (default: 32)
    """
    return old + k * (score - exp)

## Importing all played matches

In [140]:
matches_df = pd.read_csv("matches.csv")
matches_df.head()

  Player 1 Player 2  Winner timestamp
0   Harald  Mathias  Harald  00-00-00

## Importing all players

In [141]:
players_df = pd.read_csv("players.csv")
players_df.head()

  first_name     last_name  short_name  joined_date   id
0     Harald   Lønsethagen         hlø     17-09-05    1
1    Mathias    Becksæther         mbe     17-09-05    2

## ELO-ladder Dataframe containing the ELO-score to each player

In [142]:
elo_df = players_df
elo_df['elo'] = 1000
elo_df.head()

  first_name     last_name  short_name  joined_date   id   elo
0     Harald   Lønsethagen         hlø     17-09-05    1  1000
1    Mathias    Becksæther         mbe     17-09-05    2  1000

# Function for calculating ELO

In [143]:
matches_df.iloc[1]

IndexError: single positional indexer is out-of-bounds

In [145]:
length = matches_df.shape[0]
print("Number of matches: " + str(length) + "\n")
for i in range(length):
    print(i)
    match = matches_df.iloc[i]
    print(match)
    player_1 = match["Player 1"]
    player_2 = match["Player 2"]
    elo_rating_a = elo_df[elo_df['first_name'] == player_1]['elo']
    elo_rating_b = elo_df[elo_df['first_name'] == player_2]['elo']

    if(elo_rating_a.shape[0] == 0):
        print("========================================================================")
        print("Player named '" + str(player_1) + "' is NOT FOUND in the player database. ")
        print("========================================================================")
        break
    if(elo_rating_b.shape[0] == 0):
        print("========================================================================")
        print("Player named '" + str(player_2) + "' is NOT FOUND in the player database. ")
        print("========================================================================")
        break
    elo_rating_a = int(elo_rating_a.values[0])
    elo_rating_b = int(elo_rating_b.values[0])
    
    
    if(match['Winner'] == player_1): 
        winner_a = 1
        winner_b = 0
    else:
        winner_a = 0
        winner_b = 1
    expected_a  = expected(elo_rating_a, elo_rating_b)
    expected_b  = expected(elo_rating_b, elo_rating_a)
    
    new_elo_a = elo(elo_rating_a, expected_a, winner_a, k = 100)
    new_elo_b = elo(elo_rating_b, expected_b, winner_b, k = 100)
    print("New elo a: " + str(new_elo_a))
    print("New elo b: " + str(new_elo_b))
    print("Player 1: '" + player_1 + "'. Old elo: " + str(elo_rating_a) + "'. New elo: " + str(new_elo_a) + ". exp: " + str(expected_a) + " " )
    print("Player 1: '" + player_2 + "'. Old elo: " + str(elo_rating_b) + "'. New elo: " + str(new_elo_b) + ". exp: " + str(expected_b) + " " )
    elo_df = elo_df.set_index('first_name')
    elo_df = elo_df.set_value(player_1, 'elo', new_elo_a + 2)
    elo_df = elo_df.set_value(player_2, 'elo', new_elo_b + 2)
    elo_df = elo_df.reset_index()
    
elo_df.head()

Number of matches: 1

0
Player 1       Harald
Player 2      Mathias
Winner         Harald
timestamp    00-00-00
Name: 0, dtype: object
New elo a: 1087.9935000197115
New elo b: 916.0064999802885
Player 1: 'Harald'. Old elo: 1052'. New elo: 1087.9935000197115. exp: 0.6400649998028851
Player 1: 'Mathias'. Old elo: 952'. New elo: 916.0064999802885. exp: 0.35993500019711494

  first_name     last_name  short_name  joined_date   id   elo
0     Harald   Lønsethagen         hlø     17-09-05    1  1089
1    Mathias    Becksæther         mbe     17-09-05    2   918

In [124]:
elo_df

  first_name     last_name  short_name  joined_date   id  elo
0     Harald   Lønsethagen         hlø     17-09-05    1  985
1    Mathias    Becksæther         mbe     17-09-05    2  998

In [46]:
elo_df = elo_df.reset_index()

In [31]:
elo_df[elo_df['first_name'] == "Harald"]['elo']

0    1000.0
Name: elo, dtype: float64

In [41]:
elo_df = elo_df.set_index('first_name')
elo_df.set_value('Harald', 'elo', 3902)
elo_df.reset_index()

  first_name     last_name  short_name  joined_date   id     elo
0     Harald   Lønsethagen         hlø     17-09-05  1.0  3902.0
1    Mathias    Becksæther         mbe     17-09-05  2.0  1000.0
2        NaN           NaN         NaN          NaN  NaN   900.0
3        NaN           NaN         NaN          NaN  NaN   900.0
4        NaN           NaN         NaN          NaN  NaN   900.0

In [40]:
elo_df = elo_df.reset_index()

In [34]:
elo_df = elo_df.set_index('first_name')
elo_df.set_value('Harald', 'elo', 900)

KeyError: 'first_name'

In [31]:
exp  = expected(1613, 1609)
exp += expected(1613, 1477)
exp

1.1920564660944573

In [23]:
elo(1613, exp, 2, k=32)  # 1601

1638.8541930849774

In [24]:
a = expected(1613, 1609)
temp_elo = elo(1613, a, 1, k=32)
print("temp_elo: " + str(temp_elo))
a = expected(temp_elo, 1477)
temp_elo = elo(temp_elo, a , 1, k=32)
print("temp_elo after second match: " + str(temp_elo))

temp_elo: 1628.8158013308434
temp_elo after second match: 1638.2378451931402

# ===============
#          Notes 
# ===============

## Defining usefull DataFrames with Pandas
- All played matches

In [9]:
#matches_df = pd.dataFrame()
item_1 = pd.Series({'timestamp': '00-00-00',
                        'Player 1': 'Harald',
                        'Player 2': 'Petter',
                        'Winner': 'Harald'})
matches_df = pd.DataFrame([item_1])
matches_df.to_csv("matches.csv")
matches_df

  Player 1 Player 2  Winner timestamp
0   Harald   Petter  Harald  00-00-00